<!DOCTYPE HTML>
{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load render_bundle_css from translation_tags %}
{% load render_bundle from webpack_loader %}

{% block css_bundle %}
	{% render_bundle_css 'channel_edit' %}
{% endblock css_bundle %}

{% block js_bundle %}
	{% render_bundle 'channel_edit' 'js' %}
{% endblock js_bundle %}

{% block content %}

	<script>
		var user = JSON.parse("{{ current_user|escapejs }}");
		var default_sender = "{{default_sender |escapejs}}";
		var email_placeholders = JSON.parse("{{ placeholders|escapejs }}");
		var url = "{% url 'channels' %}";
	</script>
	<div id="admin-container"></div>
{% endblock content %}
