<!DOCTYPE HTML>
{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load render_bundle_css from translation_tags %}
{% load render_bundle from webpack_loader %}

{% block css_bundle %}
	{% render_bundle_css 'administration' %}
{% endblock css_bundle %}


{% block analytics_data_layer %}
<script>
  // Google tag manager data layer https://developers.google.com/tag-manager/devguide
  dataLayer.push({
    pageCategory: 'Admin',
    currentUser: window.user,
  });
</script>
{% endblock analytics_data_layer %}

{% block content %}
	<script>
		var senderEmail = "{{ default_sender | safe }}";
	</script>
	{% render_bundle 'administration' 'js' %}
{% endblock content %}
