<!DOCTYPE HTML>
{% load staticfiles %}
{% load i18n %}
{% load raven %}
{% load render_bundle from webpack_loader %}
{% load render_bundle_css from translation_tags %}
{% load render_offline_css from translation_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

<html dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr' }}" lang="{{ LANGUAGE_CODE }}">
	<head>

			{% block head %}
			<!--[if lt IE 9]>
					<script src="{% static "js/html5shiv.js" %}"></script>
			<![endif] -->
            <!-- make sure configuring Sentry is one of the very first things we do in order to catch the most errors. -->

            <!-- for some reason, load raven commmand doesn't actually load the raven JS library, so do so here
                 TODO: Should we install and bundle this as a dep using yarn?
            -->
            <script src="https://cdn.ravenjs.com/3.26.4/raven.min.js" crossorigin="anonymous"></script>
            <script>
                // Ignore errors when CloudFlare-AlwaysOnline is in the user agent as these are errors serving
                // the offline version and I don't think we can fix or reproduce these easily.
                // Fix taken from here: https://github.com/getsentry/sentry-javascript/issues/617#issuecomment-227562203
                Raven.config('{% sentry_public_dsn %}', {
                      shouldSendCallback: function(data) {
                        return !/^(.*CloudFlare-AlwaysOnline.*)$/.test(window.navigator.userAgent);
                      },
                      // If there are errors that are known bugs in third-party libs or are clearly harmless,
                      // add them here to reduce sentry noise.
                      ignoreErrors: [
                        // These appear to be errors in Summernote, but we have yet to reproduce. Although we get a lot
                        // of Sentry reports with these errors, they lack a stack trace, and we also have not yet gotten
                        // any user reports of this problem. For the moment, silence them so that they don't drown out
                        // other errors. We may wish to remove these once we resolve the other errors.
                        'IndexSizeError: Failed to execute \'setStart\' on \'Range\'',
                        'IndexSizeError: Failed to execute \'setEnd\' on \'Range\'',
                        'IndexSizeError: Index or size is negative or greater than the allowed amount',
                      ]
                    }).install()
            </script>
	<link rel="shortcut icon" href="{% static 'img/logo.ico' %}">

			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">

			<title>Kolibri Studio ({% trans 'Beta' %})</title>
      {% render_bundle_css 'common' %}
      {% block css_bundle %}
        {% render_bundle_css 'base' %}
      {% endblock css_bundle %}

      {% render_offline_css LANGUAGE_CODE %}
      <script>
        window.DEBUG = "{{DEBUG}}" === "True";
        window.languageCode = "{{LANGUAGE_CODE}}";
        window.isRTL = "{{ LANGUAGE_BIDI }}" === "True";
        try{
          window.ALL_MESSAGES = JSON.parse("{{ messages|escapejs}}");
        } catch (error) { /* Page does not require front-end translations */ }
      </script>
      <!-- TODO work out why debug is not working here and use the static version -->
      <script src="{% url 'js_reverse' %}" type="text/javascript"></script>

      {% render_bundle 'common' 'js' %}
      <!-- prevent more than 1 bundle per page -->
      {% block js_bundle %} {% render_bundle 'base' 'js' %} {% endblock js_bundle %}

      <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>

        <!-- fullstory integration, only on develop until we add an opt-in option. -->
        {% if request.get_host == 'develop.studio.learningequality.org' %}
        <script>
            window['_fs_debug'] = false;
            window['_fs_host'] = 'fullstory.com';
            window['_fs_org'] = 'FCSD3';
            window['_fs_namespace'] = 'FS';
            (function(m,n,e,t,l,o,g,y){
              // eslint-disable-next-line no-console
                if (e in m) {if(m.console && m.console.log) { m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].');} return;}
                g=m[e]=function(a,b){g.q?g.q.push([a,b]):g._api(a,b);};g.q=[];
                o=n.createElement(t);o.async=1;o.src='https://'+_fs_host+'/s/fs.js';
                y=n.getElementsByTagName(t)[0];y.parentNode.insertBefore(o,y);
                g.identify=function(i,v){g(l,{uid:i});if(v)g(l,v)};g.setUserVars=function(v){g(l,v)};g.event=function(i,v,s){g('event',{n:i,p:v,s:s})};
                g.shutdown=function(){g("rec",!1)};g.restart=function(){g("rec",!0)};
                g.consent=function(a){g("consent",!arguments.length||a)};
                g.identifyAccount=function(i,v){o='account';v=v||{};v.acctId=i;g(o,v)};
                g.clearUserCookie=function(){};
            })(window,document,window['_fs_namespace'],'script','user');
        </script>
        {% endif %}

      {% endblock head %}

      {% block analytics %}
        {% if not debug %}
          <!-- Global site tag (gtag.js) - Google Analytics -->
          <script async src="https://www.googletagmanager.com/gtag/js?id=UA-36937407-7"></script>
          <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-36937407-7');
          </script>
        {% endif %}
      {% endblock %}
	</head>
  <body data-app>
      {% block nav %}
      <!-- Navigation bar -->
      <nav>
        <div id="top-navigation">
          <div id="main-nav-left">
            <a href="/channels" id="logo-container">
              <img class="navbar-brand" src="{% static 'img/logo.png' %}">
              <label id="kolibri_label"><span dir="ltr">Kolibri Studio</span> <span dir="auto">{% trans '(Beta)' %}</span></label>
            </a>
          </div>
          <div id="main-nav-right">
            <div id="username_label">{% blocktrans with name=user.first_name %}Hello, {{name}}{% endblocktrans %}</div>
            <div class="btn-group">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="material-icons">account_circle</span>
              </a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li id="username_label_collapsed">{% blocktrans with name=user.first_name %}Hello, {{name}}{% endblocktrans %}</li>
                {% if user.is_admin %}<li><a href="{% url 'administration' %}" >{% trans "Administration" %}</a></li>{% endif %}
                <li><a href="{% url 'profile_settings' %}" >{% trans "Settings" %}</a></li>
                <li><a href="http://kolibri-studio.readthedocs.io/en/latest/index.html" target="_blank">{% trans "Help" %}</a></li>
                <li><a href="{% url 'logout' %}">{% trans "Log Out" %}</a></li>
              </ul>
            </div>
          </div>
        </div>

    </nav>

    {% if INCIDENT %}
      <div id="emergency-banner" class="text-center main-banner {% if INCIDENT.readonly %}error{% else %}warning{% endif %}">
        <i class="material-icons">error</i> {{INCIDENT.message | safe}}
      </div>
    {% elif DEPRECATED %}
      <div class="text-center main-banner warning" id="redirect-banner">
        <i class="material-icons">error</i> {% blocktrans %}Contentworkshop.learningequality.org has been deprecated. Please go to <a href="https://studio.learningequality.org">studio.learningequality.org</a> for the latest version of Studio{% endblocktrans %}
      </div>
    {% elif BETA_MODE %}
      <div id="beta-banner" class="text-center info main-banner">
        <i class="material-icons">build</i> {% url 'issues_settings' as issue_url %}{% blocktrans %}Kolibri Studio is undergoing active development, and during usage you may encounter unexpected behavior or problems. <a href="{{issue_url}}" target="_blank">Please read here</a> on best practices, known issues, and error reporting recommendations. We appreciate your patience and assistance as we work to improve the Kolibri Studio Beta!{% endblocktrans %}
      </div>
    {% endif %}
    {% endblock nav %}

  	<!-- Site content gets injected here -->
  	{% block content %}{% endblock content %}
	</body>
</html>
