<!DOCTYPE HTML>
{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
	<script type="text/javascript" src="{% static 'js/bundles/channel_edit.js' %}"></script>
	<div id="mathjax_container"></div>
	<script type="text/x-mathjax-config">
	  MathJax.Hub.Config({
	    showProcessingMessages: false,
	    jax: ["input/TeX","input/MathML","output/SVG"],
  		extensions: ["tex2jax.js","mml2jax.js","MathMenu.js","MathZoom.js", "fast-preview.js", "AssistiveMML.js", "[Contrib]/a11y/accessibility-menu.js"],
	  	TeX: {
		    extensions: ["AMSmath.js","AMSsymbols.js","noErrors.js","noUndefined.js"]
		  }
	  });
	</script>
	<script type="text/javascript" src='https://cdn.mathjax.org/mathjax/latest/MathJax.js'></script>
	<script>
		var channel = JSON.parse("{{ channel|escapejs}}");
		var license_list = JSON.parse("{{ license_list|escapejs}}");
		var fformats = JSON.parse("{{ fileformat_list|escapejs }}");
		var presets = JSON.parse("{{ fpreset_list|escapejs }}");
		var kinds = JSON.parse("{{ ckinds_list |escapejs }}");
		var channel_tags = JSON.parse("{{ ctags |escapejs }}");
		var user = JSON.parse("{{ current_user|escapejs }}");
	</script>
	<script type="text/javascript">
		var bundle = require("channel_edit");
		bundle.$(function() {
            window.channel_router = new bundle.ChannelEditRouter();
			bundle.Backbone.history.start({pushState: true, root: "{% url 'channels' %}"});
        });
    </script>

	<nav class="navbar" id="secondary-nav">
		<ul class="nav navbar-nav navbar-left">
			<li><a href="/channels"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
			<!-- Collect the nav links, forms, and other content for toggling -->
             <li class="dropdown" id="channel_select_dd_wrapper">
                <a href="#" id="channel_selection_dropdown" class="dropdown-toggle truncate" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                	{%if channel_name %}
                		{% if allow_edit %}
                			{{channel_name}}
                		{% else %}
                			{{channel_name}} <i>(View Only)</i>
                		{% endif %}
                	{% else %}Select a Channel...
                	{% endif %}
                <span class="caret"></span></a>
                <ul class="dropdown-menu" id="channel_selection_dropdown_list">
                  {% for channel in channel_list %}

              		{% if channel.is_view_only %}
              		<li title="{{channel.name}} (View Only)">
	                  	<a href="/channels/{{channel.id}}/view" class="viewonly_channel"><div class="truncate">{{channel.name}}</div> <i>(View Only)</i></a>
	                </li>
                    {% else %}
                    <li title="{{channel.name}}">
                      	<a href="/channels/{{channel.id}}/edit" class="truncate">{{channel.name}}</a>
                    </li>
                    {% endif %}
                  {% empty %}
                  <li class='default-channel-item'><em>No channels found.</em></li>
                  {% endfor %}
                </ul>
            </li>
		</ul>
		{% if allow_edit %}
		<ul class="nav navbar-nav navbar-right" id="publish">
			<!--<li id="channel-publish-button" class="text-center">Unpublish Selected</li>-->
			<li id="publish-id">
				<span id="hide-if-unpublished">
					ID: <input type="text" id="publish_id_text" class="publish-id-text" value="{{ channel_id }}" readonly/>
					<span id="publish-id-copy" class="glyphicon glyphicon-copy copy-id-btn" aria-hidden="true" title="Copy ID to clipboard"></span>
				</span>
				<!-- <span id="publish-id-help" class="glyphicon glyphicon-question-sign" aria-hidden="true" title="How do I export to Kolibri?"></span> -->
			</li>
			<li id="channel-publish-button" class="text-center">PUBLISH</li>
		</ul>
		{% endif %}
	</nav>
	<div id="channel-edit-content-wrapper">
		<div id="channel-edit-sortable-boundary">
			<div id="main-content-area" ></div>
			<div id="queue-area" class="container pull-right"></div>
		</div>
	</div>

	<div class="modal fade" tabindex="-1" id="publish-help-modal">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">How to publish to Kolibri</h4>
	      </div>
	      <div class="modal-body">
	      	<ol class="container">
	      		<li>Click the "PUBLISH" button</li>
	      		<li>Review your content</li>
	      		<li>If everything looks good, click "PUBLISH" in the modal</li>
	      		<li>Once your channel is ready, copy the ID</li>
	      		<li>Open your command line terminal</li>
	      		<li>Enter "kolibri manage importchannel -- [your-channel-id]"</li>
	      		<li>Enter "kolibri manage importcontent -- network [your-channel-id]"</li>
	      		<li>Run Kolibri (your channel should be listed now)</li>
	      	</ol>
	      	<div class="container-fluid">
		      	<a data-dismiss="modal" class="pull-right btn action-button">GOT IT!</a>
		     </div>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="modal fade" tabindex="-1" id="publish-get-id-modal">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">Channel Successfully Published!</h4>
	      </div>
	      <div class="modal-body">
	      	<div class="container">
	      		<p>Here is your published ID (for importing channel into Kolibri):</p>
	      		<h4>
		      		ID: <input type="text" id="modal-copy-text" class="publish-id-text" value="{{ channel_id }}" readonly/>
		      		<a class="btn action-button copy-id-btn" id="modal-copy-btn">COPY</a>
		      	</h4>
	      	</div>
	      </div>
	    </div>
	  </div>
	</div>

{% endblock content %}