<!DOCTYPE HTML>
{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
	<script type="text/javascript" src="{% static 'js/bundles/channel_edit.js' %}"></script>

	<script>
		var user = JSON.parse("{{ current_user|escapejs }}");
		var user_preferences = JSON.parse("{{ user_preferences|escapejs }}");
		var langs = JSON.parse("{{ langs_list|escapejs }}");
	</script>
	<script type="text/javascript">
		bundle.$(function() {
            window.channel_router = new bundle.ChannelEditRouter();
			bundle.Backbone.history.start({pushState: true, root: "{% url 'channels' %}"});
        });

    </script>
	<div id="channel-container"></div>
{% endblock content %}
