<!DOCTYPE HTML>
{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load render_bundle_css from translation_tags %}
{% load render_bundle from webpack_loader %}

{% block css_bundle %}
	{% render_bundle_css 'channel_list' %}
{% endblock css_bundle %}


{% block title %}
	{% if LIBRARY_MODE %}{% trans 'Kolibri Content Library Catalog' %}
	{% else %}{% trans 'Kolibri Studio (Beta)' %}
	{% endif %}
{% endblock title %}


{% block content %}
	<script>
		var libraryMode = "{{ LIBRARY_MODE }}" === "True";
		var publicLanguages = JSON.parse({{ public_languages | safe }});
	</script>
	{% render_bundle 'channel_list' 'js' %}
{% endblock content %}
