<!DOCTYPE HTML>
{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
	<script type="text/javascript" src="{% static 'js/bundles/channel_edit.js' %}"></script>

	<script>
		var channels = JSON.parse("{{ channels |escapejs }}");
	</script>
	<script type="text/javascript">		
		var bundle = require("channel_edit");
		bundle.$(function() {
            window.channel_router = new bundle.ChannelEditRouter({user: window.current_user});
			bundle.Backbone.history.start({pushState: true, root: "{% url 'channels' %}"});
        });
    </script>
	<div id="channel-container"></div>
{% endblock content %}