<!DOCTYPE HTML>
{% load staticfiles %}
<!-- Todo: make div really disappear -->
<div id="clipboard" class="container pull-right">
	<div id="clipboard_edit_folder">
		<div class="clipboard_header">
		<h3 class="text-center">
			<img src="{% static 'img/edit.png' %}" alt="edit" class="pull-left"/>
			Editing Folder
			<a href="#" class="back pull-right btn-link">X</a>
		</h3>
		</div>
		<div class="clipboard_content">
			<label for="folder_name">Folder Name</label><input type="text" id="folder_name"/>
			<label for="folder_description">Description (X Characters max) </label><textarea id="folder_description"></textarea>
			<div class="text-center"> 
				<a href="#" class="btn btn-link">Update</a>
			</div>
		</div>
	</div>
	<div id="clipboard_new_folder">
		<div class="clipboard_header">
		<h3 class="text-center">
			<img src="{% static 'img/' %}" alt="add" class="pull-left"/>
			Adding Folder
			<a href="#" class="back pull-right btn-link">X</a>
		</h3>
		</div>
		<div class="clipboard_content">
			<label for="folder_name">Folder Name</label><input type="text" id="folder_name"/>
			<label for="folder_description">Description (X Characters max) </label><textarea id="folder_description"></textarea>
			<div class="text-center"> 
				<a href="#" class="btn btn-link">Add</a>
			</div>
		</div>
	</div>
	<div id="clipboard_edit_content">
		<div class="clipboard_header">
		<h3 class="text-center">
			<img src="{% static 'img/edit.png' %}" alt="edit" class="pull-left"/>
			Editing Content
			<a href="#" class="back pull-right btn-link">X</a>
		</h3>
		</div>
		<div class="clipboard_content">
			<label for="content_name">Name</label><input type="text" id="content_name"/>
			<label for="content_author">Author</label><input type="text" id="content_author"/>
			<label for="content_license">License</label><input type="text" id="content_license"/>
			<label for="content_tags">Tags</label><input type="text" class="content_tags"/><p class="plus">+</p>
			<label for="content_author">Author</label><input type="text" id="content_author"/>
			<label for="folder_description">Description (X Characters max) </label><textarea id="folder_description"></textarea>
			<div class="text-center"> 
				<a href="#" class="btn btn-link">Update</a>
			</div>
		</div>
	</div>
	<div id="clipboard_new_content">
		<div class="clipboard_header">
		<h3 class="text-center">
			<img src="{% static 'img/' %}" alt="add" class="pull-left"/>
			Adding Content to Topic
			<a href="#" class="back pull-right btn-link">X</a>
		</h3>
		<table>
				<tr>
					<td class="text-center"><h4>1</h4><h6>Source</h6></td>
					<td class="text-center"><canvas></canvas></td>
					<td class="text-center">2<h6>Choose Content</h6></td>
					<td class="text-center"><canvas></canvas></td>
					<td class="text-center">3<h6>Metadata</h6></td>
				</tr>
			</table>
		</div>
		<div class="clipboard_content">
			<label>1. Where do you want to add content from?</label>
			<p><label>A.</label><a href="#computer_choose_content" class="btn btn-link">From my computer</a></p>
			<p><label>B.</label><a href="#channel_choose_content" class="btn btn-link">From a channel</a></p>
		</div>
	</div>
	<div id="computer_choose_content">
		<div class="clipboard_header">
		<h3 class="text-center">
			<img src="{% static 'img/' %}" alt="add" class="pull-left"/>
			Adding Content to Topic
			<a href="#" class="back pull-right btn-link">X</a>
		</h3>
		<table>
				<tr>
					<td class="text-center">1<h6>Source</h6></td>
					<td class="text-center"><canvas></canvas></td>
					<td class="text-center"><h4>2</h4><h6>Choose Content</h6></td>
					<td class="text-center"><canvas></canvas></td>
					<td class="text-center">3<h6>Metadata</h6></td>
				</tr>
			</table>
		</div>
		<div class="container clipboard_content">
			<label>2. Adding content from My Computer</label>
			<div id = "add_content_area" class = "container text-center">
				<h5>Drag and drop <br/> from your computer</h5>
				<p>or</p>
				<input type='file'/>
			</div>
			<div id = "selected_content_area" class="container list_content">
				<h5>Files or folders to be added:</h5>
				<ul>
					<script type="text/javascript">
						for (var i = 0; i < 5; i++) {
							document.write("<li><img src=\"\" alt=\"folder\"/>Folder " + i + "<span class=\"pull-right\">X</span></li>");
						}
						for (var i = 0; i < 10; i++) {
							document.write("<li><a href=\"#pdf\"><img src=\"{% static 'img/preview.png' %}\" alt=\"preview\"/></a>File " + i + "<span class=\"pull-right\">X</span></li>");
						}
					</script>
				</ul>
			</div>
			<a href="#clipboard_new_content" class="btn pull-left btn-link">Previous</a>
			<a href="#clipboard_metadata" class="btn pull-right btn-link">Next</a>
		</div>
	</div>
	<div id="channel_choose_content">
		<div class="clipboard_header">
		<h3 class="text-center">
			<img src="{% static 'img/' %}" alt="add" class="pull-left"/>
			Adding Content to Topic
			<a href="#" class="back pull-right btn-link">X</a>
		</h3>
		<table>
				<tr>
					<td class="text-center">1<h6>Source</h6></td>
					<td class="text-center"><canvas></canvas></td>
					<td class="text-center"><h4>2</h4><h6>Choose Content</h6></td>
					<td class="text-center"><canvas></canvas></td>
					<td class="text-center">3<h6>Metadata</h6></td>
				</tr>
			</table>
		</div>
		<div class="container clipboard_content">
			<label>2. Adding content from a channel</label>
			<select>
				<script type="text/javascript">
					var channels = ["War Child Holland", "Khan Academy"];
					for (var i = 0; i < channels.length; i++) {
						document.write("<option>" + channels[i] + "</option>");
					}
				</script>
			</select>
			<div id = "files_content_area" class="container list_content">
				<h5>Path: Math ></h5>
				<ul>
					<script type="text/javascript">
						for (var i = 0; i < 5; i++) {
							document.write("<li><span class=\"pull-left\">+</span>Folder " + i + "<span class=\"pull-right\">></span></li>");
						}
						for (var i = 0; i < 10; i++) {
							document.write("<li><a href=\"#pdf\"><img src=\"{% static 'img/preview.png' %}\" alt=\"preview\"/></a>File " + i + "</li>");
						}
					</script>
				</ul>
			</div>
			<div id = "selected_content_area" class="container list_content">
				<h5>Files or folders to be added:</h5>
				<ul>
					<script type="text/javascript">
						for (var i = 0; i < 5; i++) {
							document.write("<li><img src=\"\" alt=\"folder\"/>Folder " + i + "<span class=\"pull-right\">X</span></li>");
						}
						for (var i = 0; i < 10; i++) {
							document.write("<li><a href=\"#pdf\"><img src=\"{% static 'img/preview.png' %}\" alt=\"preview\"/></a>File " + i + "<span class=\"pull-right\">X</span></li>");
						}
					</script>
				</ul>
			</div>
			<a href="#clipboard_new_content" class="btn pull-left btn-link">Previous</a>
			<a href="#clipboard_metadata" class="btn pull-right btn-link">Next</a>
		</div>
	</div>
	<div id="clipboard_metadata">
		<div class="clipboard_header">
		<h3 class="text-center">
			<img src="{% static 'img/' %}" alt="add" class="pull-left"/>
			Adding Content to Topic
			<a href="#" class="back pull-right btn-link">X</a>
		</h3>
			<table>
				<tr>
					<td class="text-center">1<h6>Source</h6></td>
					<td class="text-center"><canvas></canvas></td>
					<td class="text-center">2<h6>Choose Content</h6></td>
					<td class="text-center"><canvas></canvas></td>
					<td class="text-center"><h4>3</h4><h6>Metadata</h6></a></td>
				</tr>
			</table>
		</div>
		<div class="container clipboard_content">
			<label>3. Review metadata</label>
			<br/>
			<div id = "metalist" class="container pull-left list_content">
				<ul>
					<script type="text/javascript">
						for (var i = 0; i < 5; i++) {
							document.write("<li><span class=\"pull-left\">></span>Folder " + i + "<span class=\"pull-right\">X</span></li>");
						}
						for (var i = 0; i < 10; i++) {
							document.write("<li><a href=\"#pdf\"><img src=\"{% static 'img/preview.png' %}\" alt=\"preview\"/></a>File " + i + "<span class=\"pull-right\">X</span></li>");
						}
					</script>
				</ul>
			</div>
			<form id="metaform" class="container pull-left">
				<label>Name</label><input type="text" id="name"/>
				<label>Author</label><input type="text" id="author"/>
				<label>License</label><input type="text" id="license"/>
				<label>Tags</label><input type="text" class="metatags"/> <p class="plus">+</p>
				<label>Description</label><textarea rows="4" id="description"></textarea>
			</form>
			<a href="#computer_choose_content" class="btn pull-left btn-link">Previous</a>
			<a href="#" class="btn pull-right btn-link">Finish</a>
		</div>
	</div>
</div>