<!DOCTYPE HTML>
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'css/frameworks/bootstrap.min.css' %}">
<link rel="stylesheet/less" type="text/css" href="{% static 'less/styles.less' %}"/>
<script type="text/javascript" src="{% static 'js/frameworks/less.min.js' %}"></script>

<div id="clipboard">
	<nav id="clipboard_overview">
		<h3>Clipboard</h3>
		<a href="#addcontent"><button  type="submit"  id= "add_content_to_clipboard">Add Content</button></a>
		<ul>
		<script type="text/javascript">
				var files = ["Content item", "Content item"];
				for (var i = 0; i < 50; i++) {
					document.write("<li id=\"file\"><h4> Content Item " + i + "</h4></li>");
				}
			</script>
		</ul>
	</nav>
	
	<div id="addcontent">
		<h3>Clipboard</h3>
		<a href="#addcontent"  id= "add_content_to_clipboard"><button  type="submit"  id= "add_content_to_clipboard">Add Content</button></a>
		<a href="#add_step_1"><span>Add content here</span></a>
		<ul>
		<script type="text/javascript">
				var files = ["Content item", "Content item"];
				for (var i = 0; i < 50; i++) {
					document.write("<li id=\"file\"><h4> Content Item " + i + "</h4></li>");
				}
			</script>
		</ul>
	</div>
		
	<div id="add_step_1">
		<h4>Adding Content To Topic</h4>
		<a href="#clipboard_overview" id="back">X</a>
		<nav>
			<b>1 source</b> -------- <a href="#add_step_2">2 choose</a> -------- <a href="#add_step_3">3 metadata</a></nav>
		
		<div id="source_content">
			<h6>1. Where do you want to add content from?</h6>
			<h4>a. From my computer</h4>
			
			<div id = "add_content_area">
				<h5>Drag and drop from your computer</h5>
				<p>or</p>
					<input type='file' />
			</div>
			
			<h4>b. From my saved channels</h4>
			<select>
				<script type="text/javascript">
					var channels = ["War Child Holland", "Khan Academy"];
					for (var i = 0; i < channels.length; i++) {
						document.write("<option>" + channels[i] + "</option>");
					}
				</script>
			</select>
			<a href="#add_step_2"><button  type="submit" id="explore">Explore this Channel</button></a>
		</div>
	</div>
	
	<div id="add_step_2">
		<h4>Adding Content To Topic</h4>
		<a href="#clipboard_overview" id="back">X</a>
		<nav>
			<a href="#add_step_1">1 source</a> -------- <b>2 choose</b> -------- <a href="#add_step_3">3 metadata</a></nav>
		
		<div id="choose_content">
			<h6>2. Adding content from another channel</h6>
			
			<div id = "channel_content_area">
				<h5><span><</span>Channel</h5>
				<ul>
					<script type="text/javascript">
						var channels = ["Math", "English"];
						for (var i = 0; i < channels.length; i++) {
							document.write("<li><input type=\"checkbox\">&nbsp" + channels[i] + "</li>");
						}
					</script>
				</ul>
			</div>
			
			<div id = "selected_content_area">
				<h5>Files to be added:</h5>
				<ul>
					<script type="text/javascript">
						var channels = ["Content Item", "Content Item","Content Item", "Content Item"];
						for (var i = 0; i < 50; i++) {
							document.write("<li>Content " + i + "</li>");
						}
					</script>
				</ul>
			</div>

			<a href="#add_step_3"><button  type="submit" id="explore">Continue to step 3</button></a>
		</div>
	</div>
	
	<div id="add_step_3">
		<h4>Adding Content To Topic</h4>
		<a href="#clipboard_overview" id="back">X</a>
		<nav>
			<a href="#add_step_1">1 source</a> -------- <a href="#add_step_2">2 choose</a> -------- <b>3 metadata</b>
		</nav>
		
		<div id="meta_content">
			<h6>3. Review metadata</h6>

			<div id = "meta_list">
				<ul>
					<script type="text/javascript">
						var channels = ["Content Item", "Content Item","Content Item", "Content Item"];
						for (var i = 0; i < 50; i++) {
							document.write("<li>Content " + i + "</li>");
						}
					</script>
				</ul>
			</div>
			
			<div id = "meta_form">
				<form>
					<label>Name</label><input type="text" id="name"/>
					<label>Author</label><input type="text" id="author"/>
					<label>License</label><input type="text" id="license"/>
					<label>Tags +</label><input type="text" id="tags"/>
					<label>Description</label><textarea rows="4" id="description"></textarea>
				</form>
			</div>

			<a href="#add_step_2"><button  type="submit" id="previous">Previous</button></a>
			<a href="#clipboard_overview"><button  type="submit" id="finish">Finish</button></a>
		</div>
	</div>
</div>