<!DOCTYPE HTML>
{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block head %} {{ block.super }}
<script type="text/javascript" src="{% static 'js/bundles/exercise.js' %}"></script>
{% endblock head %}

{% block analytics_data_layer %}
<script>
  // Google tag manager data layer https://developers.google.com/tag-manager/devguide
  dataLayer.push({
    pageCategory: 'Exercise list',
    currentUser: window.user,
  });
</script>
{% endblock analytics_data_layer %}

{% block nav %}{% endblock nav %}

{% block content %}

<script>
  var exercises = JSON.parse("{{ blob|escapejs }}");
</script>


<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="{% static 'img/logo.png' %}"></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Exercise List</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="row">
    <div class="col-sm-12">
      <div id="exercise_list"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <nav class="exercise_page">
        <ul class="pagination">

          <li>
            <a {% if exercises.has_previous %}href="?page={{ exercises.previous_page_number }" aria-label="{% trans "Previous" %}"{% else %}class="disabled"{% endif %}>
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>

          {% for number in exercises.paginator.page_range %}
            <li><a href="?page={{ number }}" {% if number == exercises.number %}class="active" aria-label="{% trans "current" %}"{% endif %}>{{ number }}</a></li>
        {% endfor %}

          <li>
            <a {% if exercises.has_next %}href="?page={{ exercises.next_page_number }}" aria-label="{% trans "Next" %}"{% else %}class="disabled"{% endif %}>
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
</div>

{% endblock content %}
