<!DOCTYPE HTML>
{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block head %} {{ block.super }}
<script type="text/javascript" src="{% static 'js/bundles/exercise.js' %}"></script>
{% endblock head %}

{% block analytics_data_layer %}
<script>
  // Google tag manager data layer https://developers.google.com/tag-manager/devguide
  dataLayer.push({
    pageCategory: 'Exercise edit',
    currentUser: JSON.parse("{{ current_user|escapejs }}"),
  });
</script>
{% endblock analytics_data_layer %}

{% block nav %}{% endblock nav %}

{% block content %}

<script>
  var exercise = JSON.parse("{{ exercise|escapejs }}");
  var assessment_items = JSON.parse("{{ assessment_items|escapejs }}")
</script>


<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="{% static 'img/logo.png' %}"></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="{% url "exercise_list" %}">Exercise List</a></li>
          <li class="active"><a href="#">Exercise Edit<span class="sr-only">(current)</span></a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div id="exercise"></div>
</div>

{% endblock content %}
