<!DOCTYPE HTML>
{% extends "base.html" %}

{% load staticfiles %}
{% block content %}

<div id="preview">
	<h1>This is how your class will appear to learners.</h1>
	
<div id="preview_container">
	<h2>Khan Academy</h2>
	<ul>
		<script type="text/javascript">
			var folders = ["Math","Science"];
			var description = "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.";
			for (var i = 0; i < folders.length; i++) {
				document.write("<li class=\"folder\"><h3>" + folders[i] + "</h3><p id=\"description\">" + description + "</p></li>");
			}
		</script>
		<script type="text/javascript">
			var files = ["Intro to this class", "Intro video"];
			for (var i = 0; i < files.length; i++) {
				document.write("<li class=\"file\"><h4>" + files[i] + "</h4></li>");
			}
		</script>
	</ul>
</div>

<div id="preview_container">
	<h2>Math</h2>
	<ul>
		<script type="text/javascript">
			var folders = ["Algebra", "Trigonometry", "Geometry", "Addition and Subtraction"];
			var description = "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.";
			for (var i = 0; i < folders.length; i++) {
				document.write("<li class=\"folder\"><h3>" + folders[i] + "</h3><p id=\"description\">" + description + "</p></li>");
			}
		</script>
		<script type="text/javascript">
			var files = ["Content item", "Content item"];
			for (var i = 0; i < files.length; i++) {
				document.write("<li class=\"file\"><h4>" + files[i] + "</h4></li>");
			}
		</script>
	</ul>
</div>

<div id="preview_container">
	<h2>Geometry</h2>
	<ul>
		<script type="text/javascript">
			var folders = ["Geology"];
			var description = "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.";
			for (var i = 0; i < folders.length; i++) {
				document.write("<li class=\"folder\"><h3>" + folders[i] + "</h3><p id=\"description\">" + description + "</p></li>");
			}
		</script>
		<script type="text/javascript">
			var files = ["Content item", "Content item", "Content item", "Content item", "Content item", "Content item", "Content item", "Content item", "Content item", "Content item"];
			for (var i = 0; i < files.length; i++) {
				document.write("<li class=\"file\"><h4>" + files[i] + "</h4></li>");
			}
		</script>
	</ul>
</div>
</div>

{% endblock content %}