<!DOCTYPE HTML>
{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load render_bundle_css from translation_tags %}
{% load render_bundle from webpack_loader %}

{% block css_bundle %}
	{% render_bundle_css 'channel_edit' %}
{% endblock css_bundle %}
{% block variables %}
<script>
	var channel = {id: "{{channel}}"};
	var user = window.user;
	var nodes = JSON.parse('{{ nodes | escapejs }}');
</script>
{% endblock variables %}


{% block content %}
	<div id="sandbox"></div>
	{% render_bundle 'channel_edit' 'js' %}
{% endblock content %}
