{% extends "base.html" %}

{% load static %}
{% block content %}
<h2>Test for Exercise Creation Framework</h2>
<br>



    <div class="container">

		<div class="row">
	      <div class="">
	        <h1>Bootstrap starter template</h1>
	        <p class="">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
	      </div>
	    </div>


	    <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Quiz 1: something</h3>
            </div>
            <div class="panel-body">
            		<button type="button" class="btn btn-success">Add Description</button>
				<div class="pull-right">
	            	<button type="button" class="btn btn-primary">Preview</button>
	        		<button type="button" class="btn btn-success">Publish</button>
        		</div>
            </div>
            <br>
            <div class="panel-body question-body">

            </div>
          </div>
        </div><!-- /.col-sm-12 -->
      </div>

		<div class="row">
		  <div class="col-sm-12">
	          <div class="panel panel-info">
	            <div class="panel-heading">
	              <h3 class="panel-title">Add New Quiz</h3>
	            </div>
	          </div>
          </div><!-- /.col-sm-12 -->
		</div>

    </div><!-- /.container -->



<h3>Use this page to render your code for your handlebars templates as you develop!</h3>
<p>After your template is finished, create a new .handlebars file, copy your code into it, and place it in the respective hbtemplates folder. There's a sample in the hbtemplates folder.</p>
<p>Make all of your styles inside of styles.less. At this stage, the styling does not have to completely look like the mockups, so don't worry about perfection (yet) :) </p>

{% endblock content %}
