<!DOCTYPE HTML>
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'css/frameworks/bootstrap.min.css' %}">
<link rel="stylesheet/less" type="text/css" href="{% static 'less/styles.less' %}"/>
<script type="text/javascript" src="{% static 'js/frameworks/less.min.js' %}"></script>

<h3>Use this page to render your code for your handlebars templates as you develop!</h3>
<p>After your template is finished, create a new .handlebars file, copy your code into it, and place it in the respective hbtemplates folder. There's a sample in the hbtemplates folder.</p>
<p>Make all of your styles inside of styles.less. At this stage, the styling does not have to completely look like the mockups, so don't worry about perfection (yet) :) </p>