<!DOCTYPE HTML>
{% extends "base.html" %}

{% load staticfiles %}
{% block content %}

<div id="trash" class="container-fluid">
	<div id="trash_preview" class="pull-right">
		<h2>Content Item 3<div class="pull-right">+ -</div></h2>
		<div id="preview_box">
			(content preview)
		</div>
		<button class = "pull-left">Restore</button>
		<button class = "pull-right">Delete</button>
	</div>
	<div id="trash_container">
		<h1>Trash</h1>
		<h3>Content you've removed from your course. 
			Choose to restore folders and content to 
			your clipboard or permanently delete.</h3>
			
		<div id="trash_content_area">
			<canvas class="pull-left"></canvas>
			<nav>
				<input type="checkbox" id="select_all"/><label for="select_all">Select all</label>
				<a href="#delete" class="btn btn-default pull-right">Delete Selected</a>
				<a href="#restore" class="btn btn-default pull-right">Restore Selected</a>
			</nav>
			
			<ul class="col-m-4 list-unstyled">
			<script type="text/javascript">
				var files = ["Content item 1", "Content item 2", "Content item 3", "Content item 4"];
				for (var i = 0; i < files.length; i++) {
					document.write("<li><input type=\"checkbox\" id=\""+ files[i] + "_Geo_" + i + "\"></input>"
									+ "<label for = \""+ files[i] + "_Geo_" + i + "\">" 
									+ "<h4 class=\"file\">" + files[i] + "<img src=\"\" alt=\"toggle\" class=\"tog\"/>"
									+ "<a href=\"#\"  class=\"pull-right\"><img src=\"{% static 'img/preview.png' %}\" alt=\"preview\"/></a>"
									+ "</h4></label></li>");
				}
			</script>
			<li>
				<input type="checkbox" id="file_display"></input>
				<label for = "file_display" id="example_item">
				<span class="pull-right"><a href="#view_file"><img src="{% static 'img/preview.png' %}" alt="preview"/></a></span>
					<h4 class="file">Display Information Example <img src="" alt="toggle" class="tog"/></h4>
				<table>
					<tr>
						<td id="top-left"><h5>Author</h5><p>Firstname Lastname</p></td>
						<td><h5>Tags</h5><p>Math, Algebra, Lecture 12, Exam Prep</p></td>
					</tr>
					<tr>
						<td><h5>License</h5><p>Creative Commons</p></td>
						<td id="bottom-right"><h5>Description</h5><p>Lorem ipsum dolor sit amet, consectetur ading elit. Aenean euismod bibendum laoreet...</p></td>
					</tr>
				</table>
				</label>
			</li>
		</ul>
		</div>
	</div>
</div>

{% endblock content %}