{% load i18n %}

{% block analytics_data_layer %}
<script>
  // Google tag manager data layer https://developers.google.com/tag-manager/devguide
  dataLayer.push({
    pageCategory: 'Unsupported browser',
    currentUser: window.user,
  });
</script>
{% endblock analytics_data_layer %}

{% block styles %}
<style>

  body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
  }

  .app-bar {
    color: white;
    padding: 16px;

    background: #906686;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }

  .app-bar h1 {
    font-size: 18px;
    margin: 0;
  }

  .message-page {
    padding: 16px;
  }

</style>
{% endblock styles %}

{% block content %}
<div class="app-bar">
  <h1>Kolibri Studio</h1>
</div>

<div class="message-page">
  <h2>{% translate "Unsupported Browser." %}</h2>

  <p>{% translate "Sorry, your browser version is not supported." %}</p>

  <p>{% translate "To use Kolibri Studio, we recommend using Firefox or Chrome." %}</p>

  <p>{% translate "You can also try updating your current browser." %}</p>
</div>

{% endblock %}
