{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block nav %}{% endblock nav %}

{% block content %}
<div class="message-page">
	<div class="pull-left message-img-wrapper">
		<img class="message-logo" src="{% static 'img/kolibri_login.png' %}"/>
	</div>
	<div class="message-wrapper">
		<h2>{% trans "Unsupported Browser." %}</h2>
		<p>
			{% trans "We're sorry, the browser you are currently using is not supported. Please try again on a different browser." %}
		</p>
	</div>
</div>

{% endblock %}