<!DOCTYPE HTML>
{% extends "base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block style %}
  <style>
    h1, h2, h3 {
      font-weight: bold !important;
    }

    h2 {
      font-size: 18pt !important;
    }
    h3 {
      font-size: 14pt !important;
    }

    p, li {
      font-size: 12pt;
    }
    .updates {
      margin-top: 12px;
      margin-bottom: 100px;
    }
  </style>
{% endblock style %}

{% block nav %}{% endblock nav %}

{% block content %}

<nav>
  <div id="top-navigation">
    <div id="main-nav-left">
      <a href="/channels" id="logo-container">
        <img class="navbar-brand" src="{% static 'img/logo.png' %}">
        <label id="kolibri_label">{% trans 'Kolibri Studio (Beta)' %}</label>
      </a>
    </div>
  </div>
</nav>
<div class="container updates">
  <h1>{% trans "The new and improved Kolibri Studio — what's changing" %}</h1>
  <br/>
  <p class="lead">
    {% trans "At Learning Equality, we have a needs-based approach to our work. Our product roadmap is informed by and iterated on according to the feedback we get from you, our global community of users and implementers." %}
  </p>
  <p class="lead">
    {% trans "Over the years, we have received extensive feedback on the channel creation flows Kolibri Studio has provided. While we have been continuing to make improvements in the functionality, as the number of active users has grown, so, too, has the need to better support users' work on the Kolibri Studio architecture. So we went to work and are excited to present you with a new and improved version of our curricular tool." %}
  </p>
  <p class="lead">
    {% blocktrans %}If you would like to help us by testing the new Kolibri Studio, please fill out <a href="https://forms.gle/8yTERqjqrCrNSvKv5" target="_blank">this short form</a> to indicate your interest.{% endblocktrans %}
  </p>
  <p class="lead">
    {% trans "These changes will be in effect in November 2020, and we wanted to loop you in as early as possible, so you know what's coming and can plan ahead accordingly. Below, you will find an overview of what's changing in Kolibri Studio over the next month:" %}
  </p>
  <br/>
  <h2>{% trans "A cleaner, more modern interface" %}</h2>
  <p>
    {% trans "We've completely modernized and cleaned up the entire Kolibri Studio interface, making it more consistent with the Kolibri user interface. We're taking more advantage of screen space and simplifying design components to help improve the tool's overall user experience in the platform." %}
  </p>
  <h2>{% trans "Better support when the Internet goes down" %}</h2>
  <p>
    {% trans "In the updated Kolibri Studio, you will be able to continue performing some actions even if your internet goes in and out intermittently. This means that, if you are in the middle of editing details, creating new topics or exercises, and moving content around, and get disconnected from the internet, your changes will be synced once you regain connectivity." %}
  </p>
  <h2>{% trans "A new and improved channel editor page" %}</h2>
  <p>
    {% trans "We have updated our channel editing page to give you more space to browse and manage your channels' resources. You will also be able to jump through topic trees quicker and preview materials on the fly. The ability to preview materials will be available in other places as well, such as trash, move, and the clipboard." %}
  </p>
  <h2>{% trans "Improved copying operations" %}</h2>
  <p>
    {% trans "Copying resources to the clipboard will be significantly faster, even for large content selections, and you will now have the ability to copy resources within the same topic folder You will also be able to cancel or undo copying materials, if you change your mind at any point. Finally, if you wish to see where a material in your clipboard came from, you will be able to open its original location in a new tab." %}
  </p>
  <h2>{% trans "An auto-saving content editor" %}</h2>
  <p>
    {% trans "The content editor will automatically save resource details, files, previous/next steps for prerequisites, and exercises, so you don't have to worry about clicking save frequently." %}
  </p>
  <h2>{% trans "The ability to simultaneously upload and edit details for new resources" %}</h2>
  <p>
    {% trans "Uploading new files and editing their details will soon be done in one step. No more waiting for the uploads to finish to be able to include information about them. You will also be able to see your remaining file storage space as you go." %}
  </p>
  <h2>{% trans "Improved searching to import materials from other channels" %}</h2>
  <p>
    {% trans "When importing materials from other channels, you will have more filtering options and the ability to save your searches, so that you can easily discover what's most relevant for you and keep them safe in the process. You can also preview and open the original locations of the materials you're interested in importing." %}
  </p>
  <h2>{% trans "And more!" %}</h2>
  <ul style="margin-left: 24px !important;">
    <li>{% trans "Search and filter capabilities added to the channel list page" %}</li>
    <li>{% trans 'Improved content editor, now combining both "preview" and "detail" functionality for individual resources' %}</li>
    <li>{% trans 'Updated "prerequisites" to support both previous and next steps' %}</li>
    <li>{% trans "Language fields alphabetically sorted with support for autocomplete" %}</li>
    <li>{% trans "Ability to remove viewers or upgrade them to editors" %}</li>
    <li>{% trans 'Ability to "select all" when selecting items in the current topic list' %}</li>
    <li>{% trans '"Add new topic" option while you\'re moving resources' %}</li>
    <li>{% trans "EPub thumbnail generation support" %}</li>
    <li>{% trans "Separated invitations by their respective channel lists" %}</li>
    <li>{% trans "Ability to copy items to the clipboard directly from search results" %}</li>
    <li>{% trans "Ability to add questions above/below other questions on exercises" %}</li>
    <li>{% trans "Ability to undo moves and deletions" %}</li>
    <li>{% trans "Viewers will no longer be able to invite other viewers to the channel" %}</li>
    <li>{% trans "Inline formula editing on exercise questions/answers/hints" %}</li>
    <li>{% trans "RTL language support" %}</li>
    <li>{% trans "Lots of bug fixes" %}</li>
    <li>{% trans "User documentation and support materials" %}</li>
  </ul>
  <br /><br />
  <h3>{% trans 'In the meantime...' %}</h3>
  <p>
    {% blocktrans %}You can access the <a href="https://catalog.learningequality.org/#/public" target="_blank">Kolibri Content Library Catalog</a> for detailed information on all learning materials available for use in Kolibri, including file type breakdown, languages, coach-facing resources, and much more.{% endblocktrans %}
  </p>
  <p>
    {% blocktrans %}<a href="https://studio.learningequality.org/settings/issues" target="_blank">Here are some best practices on using Kolibri Studio and error reporting recommendations.</a>{% endblocktrans %}
  </p>
  <p>
    {% blocktrans %}To stay up-to-date with new content sources added to the library, developments on Kolibri Studio, and on the upcoming Kolibri Android App, make sure to <a href="https://learningequality.us6.list-manage.com/subscribe/post?u=023b9af05922dfc7f47a4fffb&id=d56041116d" target="_blank">subscribe to receive updates here</a>.{% endblocktrans %}
  </p>
</div>

{% endblock %}
