<!DOCTYPE HTML>
{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
	<script type="text/javascript" src="{% static 'js/bundles/users.js' %}"></script>

	<script>
		var current_user = JSON.parse("{{ current_user|escapejs }}");
	</script>
	<script type="text/javascript">
		var bundle = require("users");
		bundle.$(function() {
            window.user_router = new bundle.UserRouter();
			bundle.Backbone.history.start({pushState: true, root: "{% url 'settings' %}"});
        });
    </script>
    <div id="settings-area" class="container-fluid">
		<div id="settings-nav" class="panel panel-default pull-left text-center">
		  	<div id="settings-options-heading" class="panel-heading">My Settings</div>
		    <div id="settings-options" class="list-group">
			  <a href="profile" class="list-group-item settings-option" id="profile_option">Profile</a>
			  <a href="account" class="list-group-item settings-option" id="account_option">Account</a>
			  <a href="tokens" class="list-group-item settings-option" id="tokens_option">Tokens</a>
			</div>
		</div>

		<div id="settings-page" class="container-fluid"></div>
	</div>

{% endblock content %}