<div id="add_content_dialog" class="container">
	<h2 class="header">
		<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
		Adding to "{{folder.title}}"
		<span class="glyphicon glyphicon-remove pull-right" aria-hidden="true"></span>
	</h2>
	
</div>