<nav class="navbar navbar-default" id="secondary-nav">
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
			<li id="channel-edit-button"><img src="/static/img/edit-tab.png">Edit</li>
			<li id="channel-preview-button"><img src="/static/img/preview-tab.png">Preview</li>
			<li id="channel-trash-button"><img src="/static/img/trash-tab.png">Trash</li>
		</ul>
		<ul class="nav navbar-nav" id="publish">
			<li id="channel-publish-button"><img src="/static/img/publish-tab.png">Publish</li>
		</ul>
	</div>
</nav>

<div id="main-content-area" class="container-fluid"></div>
<div id="previewer-area" class="container pull-right"></div>
<div id="clipboard-area" class="container pull-right"></div>