<div id={{#if edit}}"edit"{{else}}"preview"{{/if}} class="container-fluid">
	{{#if edit}}
	<nav id="button_bar" class="col-m-2">
		<a class="btn btn-default copy">Copy</a>
		<a class="btn btn-default delete">Delete</a>
	</nav>
	{{else}}
		<h1>Select content to preview.</h1>
	{{/if}}
	<div id="container-wrapper">
		<ul id="container_area" class="container-fluid row list-unstyled">
		</ul>
	</div>
</div>