# Automatically update versions for pip and npm

version: 2
updates:

  # Maintain dependencies for Python
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "wednesday"
      time: "00:00"

  # Maintain dependencies for Javascript
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "wednesday"
      time: "00:00"
    groups:
      babel:
        patterns:
          - "@babel/*"
      tiptap:
        patterns:
          - "@tiptap/*"
      jest:
        patterns:
          - "jest*"

  # Maintain dependencies for Github Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "wednesday"
      time: "00:00"
    groups:
      github:
        patterns:
          - "actions/*"
