<div class="selector-container">
	<h2 class="title-bar">
		{{#if node.parent}}<i class="material-icons back_button">arrow_back</i>{{/if}}
		<div class="container-title truncate">{{node.title}}</div>
	</h2>
	<ul class="list-unstyled select-list" id="select_list_{{node.id}}">
		<li id="default_item_{{node.id}}" class="default-item">{{formatMessage (intlGet 'messages.loading_content')}}</li>
	</ul>
</div>