<div class="container-fluid">
	<div id="select_file_count" class="select_file_metadata pull-right">0 Topics, 0 Resources</div>
</div>
<div class="select_main_box"><div class="empty_default">Loading...</div></div>