<div id="related_content_wrapper">
	<div class="container-fluid prerequisites_header">
		<span id="select_file_count" class="select_file_metadata"></span>
		<div class="pull-right action-button view_tree">VIEW TREE</div>
	</div>
	<div class="select_main_box"><div class="empty_default">Getting prerequisites...</div></div>
</div>