<a class="btn btn-default cancel_selection pull-right">Back to List</a>
<div class="prerequisite_help_text">
	Select content learners should know before engaging with this content
	<span class="glyphicon glyphicon-info-sign" aria-hidden="true" id="prereq_about" ></span>
</div>
<div id="selector_box" class="select_main_box"><div class="empty_default">Getting valid prerequisite options...</div></div>