<div class="prerequisite_help_text">
	Select an exercise that should be a prerequisite to this one
	<span class="glyphicon glyphicon-info-sign" aria-hidden="true" id="prereq_about" ></span>
</div>
<div id="selector_box" class="select_main_box"><div class="empty_default">Getting valid prerequisite options...</div></div>