<div id="related_content_wrapper">
<div class="container-fluid prerequisites_header">
	<div class="pull-right action-button view_tree">
		<span id="select_file_count" class="select_file_metadata">Counting Prerequisites...</span>
		<span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
	</div>
	Select prerequisites...
</div>
<div class="select_main_box"><div class="empty_default">Getting valid prerequisites...</div></div>
</div>