<div class="selector-container">
	<h2 class="title-bar">
		{{#if node.parent}}<span class="glyphicon glyphicon-menu-left back_button" aria-hidden="true"></span>{{/if}}
		<div class="container-title truncate">{{node.title}}</div>
	</h2>
	<ul class="list-unstyled select-list" id="select_list_{{node.id}}">
		<li id="default_item_{{node.id}}" class="default-item">Loading Content...</li>
	</ul>
</div>