<div id="related_content_wrapper">
<div class="container-fluid prerequisites_header">
	<div id="select_file_count" class="select_file_metadata pull-right">0 Prerequisites</div>
	Select prerequisites...
</div>
<div class="select_main_box"><div class="empty_default">Getting valid prerequisites...</div></div>
</div>