<div class="prerequisite_help_text">
	{{formatMessage (intlGet 'messages.prerequisite_text')}}
	<i class="material-icons" id="prereq_about">info</i>
</div>
<div id="selected_prerequisite_box" class="select_main_box"><div class="empty_default">{{formatMessage (intlGet 'messages.loading_prereqs')}}</div></div>