<div class="prerequisite_help_text">
	Prerequisite content items cover any immediate prior knowledge a learner should have before engaging with this content.
	<span class="glyphicon glyphicon-info-sign" aria-hidden="true" id="prereq_about" ></span>
</div>
<div id="selected_prerequisite_box" class="select_main_box"><div class="empty_default">Getting prerequisites...</div></div>