<div class="col-xs-6 prereq_title prereq_cell truncate" title="{{node.title}}"><span class="{{#get_icon node.kind}}{{/get_icon}}" aria-hidden="true"></span>&nbsp;{{node.title}}</div>
<div class="col-xs-5 prereq_cell truncate" title="{{node.parent_title}}">{{node.parent_title}}</div>
<div class="col-xs-1 text-center">{{#if allow_edit}}<span class="glyphicon glyphicon-remove remove_prereq prereq_cell" aria-hidden="true"></span>{{/if}}</div>