<div class="prerequisite_help_text">
	{{formatMessage (intlGet 'messages.prereq_text')}}
	<span class="glyphicon glyphicon-info-sign" aria-hidden="true" id="prereq_about" ></span>
</div>
<div id="selected_prerequisite_box" class="select_main_box"><div class="empty_default">{{formatMessage (intlGet 'messages.loading_prereqs')}}</div></div>