<div class="prereq_header_row container-fluid">
	<div class="col-xs-6">{{formatMessage (intlGet 'messages.name')}}</div>
	<div class="col-xs-6">{{#translate "topic"}}{{/translate}}</div>
</div>
<div id="selected_prerequisites"></div>
{{#if allow_edit}}
<div class="prereq_row prereq_add_row container-fluid">
	<div class="col-xs-12 prereq_cell"><a class="action-text add_prereq">
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> <span class="uppercase">{{formatMessage (intlGet 'messages.add')}}</span></a>
		<span class="add_warning">{{formatMessage (intlGet 'messages.prereq_limit') count=prereq_limit}}</span>
	</div>
</div>
{{/if}}
