<div id="related_content_wrapper">
	<div class="container-fluid prerequisites_header">
		<div id="prerequisite_current_item">
			<span class="{{#get_icon node.kind}}{{/get_icon}}" aria-hidden="true"></span>
			{{node.title}}
		</div>
	</div>
	<div id="selected_view_wrapper"></div>
	<div id="related_view_wrapper"></div>
</div>