<!DOCTYPE html>
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE }}" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <p>{% blocktrans with name=name %}Hello {{ name }},{% endblocktrans %}</p>

    <p><a href="{{ channel_url }}" target="_blank">{{ channel.name }}</a> ({{ channel_url }})</p>

    {% if approved %}
    <p>{% translate "Your submission has been approved and will be added to the Community Library soon." %}</p>
    {% else %}
    <p>{% translate "Your submission needs changes. Please review the notes below and resubmit after all feedback has been addressed." %}</p>
    {% endif %}

    {% if feedback_notes %}
    <p>{% translate "Notes from the reviewer" %}: {{ feedback_notes }}</p>
    {% endif %}

    <p>
        {% translate "Thanks for using Kolibri Studio!" %}
        <br>
        {% translate "The Learning Equality Team" %}
    </p>
</body>
</html>
