root = true

[*]
max_line_length = 100

[*.js]
indent_size = 2

[*.vue]
indent_size = 2

[*.{js,vue,py}]
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true

[*.py]
indent_size = 4
