[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-filter = "==0.9.2"
django-mptt = "==0.8.5"
django-pg-utils = "==0.1.5"
djangorestframework = "==3.3.3"
pdfkit = "==0.6.1"
"psycopg2-binary" = "==2.7.4"
psutil = "==3.1.1"
django-js-reverse = "==0.6.1"
django-registration = "==2.1.2"
django-hashedfilenamestorage = "==1.0.0"
djangorestframework-bulk = "==0.2.1"
django-email-extras = "==0.3.3"
kolibri = "==0.7.0"
validators = "*"
le-utils = ">=0.1.11"
gunicorn = "==19.6.0"
django-mailgun = "==0.9.1"
pressurecooker = "==0.0.18"
"porter2stemmer" = "==1.0"
django-postmark = "==0.1.6"
ddtrace = "==0.8.0"
jsonfield = "==2.0.2"
newrelic = ">=2.86.3.70"
celery = "==4.1.1"
redis = "==2.10.5"
reportlab = "==3.4.0"
python-resize-image = "==1.1.11"
pycountry = "==17.5.14"
sphinx-autobuild = "==0.7.1"
sphinx-intl = "*"
minio = "==3.0.3"
pathlib = "*"
"xhtml2pdf" = "==0.2.1"
"progressbar2" = "==3.36.0"
python-postmark = "==0.5.0"
Django = "==1.9.13"
Markdown = "==2.6.2"
Pillow = "==5.0.0"
Metaphone = "==0.6"
Sphinx = "==1.6.4"
sphinx_rtd_theme = "*"
SQLAlchemy = "==1.2.2"
django-webpack-loader = "==0.6.0"
google-cloud-error-reporting = "==0.30.0"
google-python-cloud-debugger = "==2.8"
google-cloud-storage = "==1.10.0"
"django-s3-storage" = "==0.12.4"
requests = "==2.19.1"
google-cloud-core = ">=0.28.1"
gspread = "==3.0.1"
google-api-python-client = "==1.6.4"
django-db-readonly = "==0.5.0"
raven = "*"

[dev-packages]
python-language-server = "*"
django-debug-panel = "*"
django-debug-toolbar = "*"
"flake8" = "*"
Pympler = "*"
importmagic = "*"
yapf = "*"
isort = "*"
pyls-isort = "*"
autoflake = "*"
pylint = "*"
mock = "*"
mixer = "==5.6.6"
pytest = "*"
pytest-django = "*"
pytest-logging = "*"
jedi = ">=0.9.0"
json-rpc = ">=1.8.1"
service_factory = ">=0.1.5"
pytest-watch = "*"
faker = "==0.7.3"
rope = "*"
"autopep8" = "*"

[requires]
python_version = "2.7"
