[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-cte = "==1.1.4"
django-mptt = "==0.9.1"
django-filter = "==1.0.4"
django-pg-utils = "==0.1.5"
djangorestframework = "==3.8.2"
pdfkit = "==0.6.1"
"psycopg2-binary" = "==2.7.4"
django-js-reverse = "==0.6.1"
django-registration = "==2.1.2"
django-hashedfilenamestorage = "==1.0.0"
djangorestframework-bulk = "==0.2.1"
django-email-extras = "==0.3.3"
kolibri = "==0.7.0"
validators = "*"
le-utils = ">=0.1.26"
gunicorn = "==19.6.0"
pressurecooker = ">=0.0.24"
"porter2stemmer" = "==1.0"
django-postmark = "==0.1.6"
ddtrace = "==0.8.0"
jsonfield = "==2.0.2"
newrelic = ">=2.86.3.70"
celery = "==4.1.1"
redis = "==2.10.5"
reportlab = "==3.4.0"
python-resize-image = "==1.1.11"
pycountry = "==17.5.14"
sphinx-autobuild = "==0.7.1"
sphinx-intl = "*"
minio = "==3.0.3"
pathlib = "*"
"xhtml2pdf" = "==0.2.1"
"progressbar2" = "==3.38.0"
python-postmark = "==0.5.0"
Django = "==1.11.20"
Markdown = "==2.6.2"
Metaphone = "==0.6"
Sphinx = "==1.6.4"
sphinx_rtd_theme = "*"
SQLAlchemy = "==1.2.2"
django-webpack-loader = "==0.6.0"
google-cloud-error-reporting = "*"
google-cloud-storage = "*"
"django-s3-storage" = "==0.12.4"
requests = ">=2.20.0"
google-cloud-core = "*"
gspread = "==3.0.1"
google-api-python-client = "*"
django-db-readonly = "==0.5.0"
raven = "*"
wordcloud = "==1.5.0"
"oauth2client" = "*"
django-mathfilters = "*"
python-pptx = "*"
google-cloud-kms = "==0.2.1"
backoff = "*"
flower = "*"
kombu = "==4.3"
singledispatch = "==3.4.0.3"
backports-abc = "==0.5"
whitenoise = "==4.1.4"
django-redis = "*"
django-prometheus = "*"
eventlet = "*"
pyparsing = "==2.4.6"
MarkupSafe = "==1.1.1"
Jinja2 = "==2.11.2"
kiwisolver = "*"
soupsieve = "*"
cachetools = "*"
pygments = "*"
sphinxcontrib-websupport = "*"
grpcio = ">=1.2.0"

[dev-packages]
ipdb = "*"
python-language-server = "*"
django-debug-panel = "*"
django-debug-toolbar = "*"
"flake8" = "==3.4.1"
Pympler = "*"
importmagic = "*"
yapf = "*"
isort = "*"
pyls-isort = "*"
autoflake = "*"
pylint = "*"
mock = "*"
mixer = "==5.6.6"
pytest = "*"
pytest-django = "*"
pytest-logging = "*"
jedi = ">=0.9.0"
json-rpc = ">=1.8.1"
service_factory = ">=0.1.6"
pytest-watch = "*"
rope = "*"
"autopep8" = "<=1.4.0"
pre-commit= "==1.15.1"
Faker = "==0.7.3"
codecov = "*"
coverage = "*"
pytest-cov = "*"
nodeenv = "*"

[requires]
python_version = "2.7"

[pipenv]
allow_prereleases = true
