-c requirements.txt
ipdb
python-language-server
django-concurrent-test-helper==0.7.0
django-debug-panel==0.8.3
django-debug-toolbar==1.9.1
flake8==3.4.1
whitenoise
Pympler
importmagic
yapf
isort
pyls-isort
autoflake
pylint
mock
mixer==6.1.3
pytest
pytest-django
pytest-logging
jedi>=0.9.0
json-rpc>=1.8.1
service_factory>=0.1.6
pytest-pythonpath
pytest-timeout
pytest-watch
rope
autopep8<=1.4.0
pre-commit==1.15.1
Faker==0.9.1
codecov
coverage
pytest-cov
nodeenv
pip-tools
locust
drf-yasg
pyinstrument
pypandoc
git+https://github.com/someshchaturvedi/customizable-django-profiler.git#customizable-django-profiler
tabulate==0.8.2
fonttools
flower==0.9.4
