attrs==19.3.0
django-cte==1.1.5
django-mptt==0.11.0
django-filter==2.4.0
djangorestframework==3.12.4
psycopg2-binary==2.8.6
django-js-reverse==0.9.1
django-registration==3.1.2
le-utils==0.1.31
gunicorn==19.6.0
django-postmark==0.1.6
jsonfield==3.1.0
newrelic>=2.86.3.70
celery<5
redis
pycountry==17.5.14
minio==3.0.3
pathlib
progressbar2==3.38.0
python-postmark==0.5.0
Django==3.2.4
django-webpack-loader==0.7.0
google-cloud-error-reporting
google-cloud-storage
django-s3-storage==0.13.4
requests>=2.20.0
google-cloud-core
gspread==3.6.0
google-api-python-client
django-db-readonly==0.7.0
oauth2client
django-mathfilters
google-cloud-kms==0.2.1
backoff
backports-abc==0.5
django-model-utils==4.0.0
django-redis
django-prometheus
future
sentry-sdk
raven
django-bulk-update
html5lib==1.1
pillow==8.2.0
python-dateutil>=2.8.1
jsonschema>=3.2.0
importlib-metadata==1.7.0
