Django==1.9.7
django-filter==0.9.2
django-mptt==0.8.5
djangorestframework==3.3.3
factory-boy==2.7.0
psycopg2==2.6.2
pytest==2.9.2
pytest-django==2.9.1
pytest-logging
mixer==5.5.7
Markdown==2.6.2
Pillow==2.8.1
psutil==3.1.1
django-js-reverse==0.6.1
django-registration==2.1.2
django-hashedfilenamestorage==1.0.0
djangorestframework-bulk==0.2.1
django-email-extras==0.3.3
https://github.com/learningequality/kolibri/tarball/master#egg=kolibri
validators
django-mailgun==0.9.1
le_utils==0.0.9rc9
gunicorn==19.6.0
django-mailgun==0.9.1
