<!DOCTYPE HTML>
{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<div id="policy-area" class="container-fluid">
	<h4>{% trans 'We have updated our policies. Please accept the following terms to continue' %}</h4>
	<hr>
	{% with policies=policies %}
		{% include "policies/text/terms_of_service.html" %}
	{% endwith %}
	{{form.errors}}
	<form method="post">
		<div id="form-wrapper" class="text-right">
			{% csrf_token %}
			<input type="hidden" value="{% for key, value in policies.items %}{{key}},{% endfor %}" id="id_policy_names" name="policy_names">
			{{ form.accepted }} &nbsp;<label for="id_accepted">{% trans "I have read and agree to the above terms" %}</label>
		</div>
		<br>
		<input id="submit" class="action-button pull-right disabled" type="submit" value="{% trans 'SUBMIT' %}" disabled/>
	</form>
</div>
<script>
	$("#id_accepted").on("change", function(event){
		(event.target.checked)? $("#submit").removeAttr("disabled").removeClass("disabled") :
			$("#submit").attr("disabled", true).addClass("disabled");
	});
</script>
{% endblock content %}