<label>3. Review metadata</label>
<br/>
<div id="meta-wrapper">
	<div id = "metalist" class="container pull-left list_content">
		<ul></ul>
	</div>
	<form id="metaform" class="container pull-left">
		<label>Name</label><input type="text" id="name"/>
		<label>Author</label><input type="text" id="author"/>
		<label>License</label><input type="text" id="license"/>
		<label>Tags</label><input type="text" class="metatags"/> <p class="plus">+</p>
		<label>Description</label><textarea rows="4" id="description"></textarea>
	</form>
</div>
<a class="btn pull-left btn-link clipboard_previous">Previous</a>
<a class="btn pull-right btn-link clipboard_finish">Finish</a>