<div id="clipboard" class="pull-right">
	<div class="clipboard_header">
		<h3 class="text-center">
			<span class="pull-left glyphicon glyphicon-folder-open"></span>
			Adding Content to Topic
			<a class="pull-right btn-link toggle_clipboard"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
		</h3>
		<nav class="text-center btn-group" role="group">
			<a class="btn btn-defult">Source</a>
			<a class="btn btn-defult">Choose Content</a>
			<a class="btn btn-defult">Metadata</a>
		</nav>
	</div>
	<div id="clipboard_content"></div>
</div>