<div id="clipboard">
	<div class="clipboard_header">
		<h3 class="text-center">
			<img src="/static/img/add_folder.png" alt="add" class="pull-left"/>
			Adding Folder
			<a class="back pull-right btn-link toggle_clipboard">X</a>
		</h3>
	</div>
	<div class="clipboard_content">
		<label for="folder_name">Folder Name</label>
		<h6 class="error" id="name_err">Please input a valid name</h6>
		<input type="text" id="folder_name">
		<label for="folder_description">Description (X Characters max) </label>
		<textarea id="folder_description"> </textarea>
		<div class="text-center"> 
			<a class="btn btn-link clipboard_add_folder">Add</a>
		</div>
	</div> 
</div>
