<div id="clipboard" class="pull-right">
	<div class="clipboard_header">
		<h3 class="text-center">
			<img src="/static/img/add_folder.png" alt="add" class="pull-left"/>
			Adding Content to Topic
			<a class="back pull-right btn-link toggle_clipboard">X</a>
		</h3>
		<table>
			<tr>
				<td class="text-center"><h4>1</h4><h6>Source</h6></td>
				<td class="text-center"><canvas></canvas></td>
				<td class="text-center">2<h6>Choose Content</h6></td>
				<td class="text-center"><canvas></canvas></td>
				<td class="text-center">3<h6>Metadata</h6></td>
			</tr>
		</table>
	</div>
	<div class="clipboard_content">
		<label>1. Where do you want to add content from?</label>
		<p><label>A.</label><a class="btn btn-link computer_choose_content">From my computer</a></p>
		<p><label>B.</label><a class="btn btn-link channel_choose_content">From a channel</a></p>
	</div>
</div>