<div id="clipboard" class="pull-right">
	<div class="clipboard_header">
		<h3>
			<span class="collapse_clipboard pull-left glyphicon glyphicon-menu-up" aria-hidden="true"></span>
			Clipboard
			<a class="btn pull-right btn-link clipboard_add_content">
				<span class="pull-left glyphicon glyphicon-plus" aria-hidden="true"></span>
				Add Content
			</a>
		</h3>
	</div>
	<div id="clipboard_content">
		<div id = "list" class="list_content">
			<div id="list_background"></div>
			<canvas></canvas>
			<ul class="list-unstyled"></ul>
		</div>
	</div>
</div>