<li id="item_{{index}}">
	<span class="sidebar pull-left"></span>
	<input type="checkbox" id="file_{{index}}"></input>
	<label  class="file" for="file_{{index}}">
		<span class="detail-bar pull-right"></span>
		<img  class="pull-right prev" src="/static/img/preview.png"  alt="preview"/>
		<h4>{{file.title}} &nbsp; <a class="tog">></a></h4>
	</label>
</li>