<li id="item_{{index}}">
	<span class="sidebar pull-left"></span>
	<input type="checkbox" id="file_{{index}}"></input>
	<label  for="file_{{index}}">
		<span class="detail-bar pull-right"></span>
		<span class="pull-right prev glyphicon glyphicon-search" aria-hidden="true"></span>
		<h4>{{file.title}} &nbsp; <span class="tog glyphicon glyphicon-chevron-right" aria-hidden="true"></span></h4>
	</label>
</li>