<div id="trash" class="container-fluid">
	<h3>Trash contains content you've removed from your course. Choose to restore them or delete them permanently.</h3>
	<nav id="button_bar" class="col-m-2">
		<a id="restore-selected-button" class="btn btn-default delete">Restore</a>
		<a id="delete-selected-button" class="btn btn-default copy">Delete</a>
	</nav>
	
	<div id="trash_content_area">
		<div id="trash_background"></div>
		<canvas class="pull-left"></canvas>
		<h1>Trash</h1>
		<div class="select_all_span">
			<span class="sidebar pull-left"></span>
			<input type="checkbox" id="select_all"/><label for="select_all">Select all</label>
		</div>
		<div class="trash_list_container">
			<ul class="list-unstyled">
				<li class="default-item">No items found</li>
			</ul>
		</div>
	</div>
</div>