<div id="trash" class="container-fluid">
	<h1>Trash</h1>
	<h3>Content you've removed from your course. 
		Choose to restore folders and content to 
		your clipboard or permanently delete.</h3>
	<div id="trash_content_area">
		<canvas class="pull-left"></canvas>
		<ul class="list-inline navbar">
			<li><input type="checkbox" id="select_all"/><label for="select_all">Select all</label></li>
			<li id="delete-selected-button" class="btn-default pull-right"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Delete Selected</li>
			<li id="restore-selected-button" class="btn-default pull-right"><span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>Restore Selected</li>
		</ul>
		<div class="trash_list_container">
			<ul class="list-unstyled"></ul>
		</div>
	</div>
</div>