<!DOCTYPE HTML>
{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load render_bundle_css from translation_tags %}
{% load render_bundle from webpack_loader %}

{% block css_bundle %}
	{% render_bundle_css 'policies' %}
{% endblock css_bundle %}


{% block content %}
	<v-app>
		{% for key, value in policies.items %}
			<div class="policy">
				<div class="policy-text">
					{% include value.template %}
					<br>
					<h6><i>{% blocktrans with date=value.date %}Updated: {{ date }}{% endblocktrans %}</i></h6>
				</div>
			</div>
		{% endfor %}
	</v-app>
{% endblock content %}

{% block js_bundle %}
	{% render_bundle 'policies' 'js' %}
{% endblock js_bundle %}
