body {
    padding: 50px;
    font-family: Verdana, sans-serif;
}

#letterhead {
    margin-bottom: 50px;
}

#letterhead img {
    width: 250px;
    height: auto;
}

#letterhead #address {
    float: right;
    text-align: right;
    display: inline-block;
    line-height: 5px;
}

h1 {
    font-size: 28pt;
    margin-top: 85px;
    text-align: center;
}

a {
    color: #00AEF0;
    font-weight: bold;
    text-decoration: none;
}

#overview {
    color: gray;
    margin-top: 20px;
}

#channel-list {
    padding: 30px;
    list-style: none;
}

.channel {
    margin-top: 50px;
}