<div id="admin-page" class="container-fluid">
	<h2>
		<a href="/channels" class="action-text back_button"><span class="glyphicon glyphicon-home" title="Back to Channels" aria-hidden="true"></span></a> Administration</h2>
	<!-- Nav tabs -->
	<ul role="tablist" class="nav nav-tabs">
		<li role="presentation" class="tab_nav active"><a class="btn" href="#admin_channels" aria-controls="admin_channels" role="tab" data-toggle="tab">CHANNELS <span class="badge">{{channels.length}}</span></a></li>
		<li role="presentation" class="tab_nav"><a class="btn" href="#admin_users" aria-controls="admin_users" role="tab" data-toggle="tab">USERS <span class="badge">{{users.length}}</span></a></li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="admin_channels"></div>
		<div role="tabpanel" class="tab-pane" id="admin_users"></div>
	</div>
</div>