<div class="header_row row">
	<div class="col-xs-5">Channel Name</div>
	<div class="col-xs-1 text-center">ID</div>
	<div class="col-xs-2">Created</div>
	<div class="col-xs-3">Users</div>
	<div class="col-xs-1 text-center">Options</div>
</div>
<div class="admin_table channel_list"><div class="default-item">Loading...</div></div>
