<div class="header_row row">
	<div class="col-xs-4 channel_name_wrapper"><div class="col-xs-1"></div><div class="col-xs-11">Name</div></div>
	<div class="col-xs-3">ID</div>
	<div class="col-xs-1">Resources</div>
	<div class="col-xs-3">Users</div>
	<div class="col-xs-1 text-center">Options</div>
</div>
<div class="admin_table channel_list"><div class="default-item">Loading...</div></div>
