<div class="table_actions container-fluid">
	<ul class="list-inline action_list">
		<li>
			<label>View</label>
			<select id="admin_channel_view" class="filter_input view_input">
				{{#each filters}}<option {{#if selected}}selected{{/if}} value="{{key}}">{{label}}</option>{{/each}}
			</select>
		</li>
		<li class="filter_input">
			<label>Sort By</label>
			<select id="admin_channel_sort" class="filter_input sort_input">
				{{#each sort_filters}}<option {{#if selected}}selected{{/if}} value="{{key}}">{{label}}</option>{{/each}}
			</select>
		</li>
		<li class="filter_input">
	      <label>Order</label>
	      <select id="admin_channel_order" class="filter_input order_input">
	        <option selected value="ascending">Ascending</option>
	        <option value="descending">Descending</option>
	      </select>
	    </li>
		<li><input type="text" id="admin_channel_search" placeholder="Search..." class="search_input"/></li>
	</ul>
</div>
<div id="admin_channel_table_wrapper"></div>
