<div class="header_row row">
	<div class="col-xs-4 channel_name_wrapper">Name</div>
	<div class="col-xs-3">ID</div>
	<div class="col-xs-1 text-center">Editors</div>
	<div class="col-xs-1 text-center">Viewers</div>
	<div class="col-xs-2 text-center">Count</div>
	<div class="col-xs-1 text-center">Options</div>
</div>
<div class="admin_table channel_list"><div class="default-item">Loading...</div></div>
