<a class="action-button pull-right email_button"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Email All</a>
<div class="header_row row">
	<div class="col-xs-3">Name</div>
	<div class="col-xs-3">Email</div>
	<div class="col-xs-2 text-center">Can Edit</div>
	<div class="col-xs-2 text-center">Can View</div>
	<div class="col-xs-2">Options</div>
</div>
<div class="admin_table user_list"><div class="default-item">Loading...</div></div>