<div class="move_section_wrapper row">
	<div class="move_section col-sm-5 move_list_section">
		<div id="move_list_area"></div>
	</div>
	<div id="move_arrow_indicator" class="col-sm-1 move_section text-center">
		<div class="glyphicon glyphicon-play"></div>
	</div>
	<div class="move_section col-sm-6 move_list_section">
		<div id="target_list_area">
			<div class="empty_default">Calculating valid moves...</div>
		</div>
	</div>
</div>
<br/>
<div id="move_bottom_container">
	<a class="action-text" data-dismiss="modal">
		<span>CANCEL</span>
	</a>
	<button disabled class="action-button pull-right disabled" id="move_content_button">
		MOVE
	</button>
	<span id="move_status" class="pull-right truncate"></span>
</div>