<div class="input-tab-control tab_item" data-next="#move_content_button"></div>
<div class="move_section_wrapper row">
	<div class="move_section col-sm-4 move_list_section modal-content-default">
		<div id="move_list_area"></div>
	</div>
	<div id="move_arrow_indicator" class="col-sm-1 move_section text-center">
		<div class="material-icons">arrow_forward</div>
	</div>
	<div class="move_section col-sm-7 move_list_section modal-content-default" id="move_to_list_section">
		<div id="target_list_area">
			<em class="default-item empty_default">{{formatMessage (intlGet 'messages.calculating_moves')}}</em>
		</div>
	</div>
</div>
<br/>
<div id="move_bottom_container" class="modal-bottom-content-default">
	<button class="action-text tab_item uppercase" id="cancel_button" data-dismiss="modal">{{formatMessage (intlGet 'messages.cancel')}}</button>
	<button disabled class="action-button pull-right disabled modal-main-action-button tab_item first_focus_item uppercase" id="move_content_button">
		{{formatMessage (intlGet 'messages.move')}}
	</button>
	<span id="move_status" class="pull-right truncate modal-status-text"></span>
</div>
<div class="input-tab-control tab_item" data-next="#cancel_button"></div>