<nav id="manage-channel-nav">
	<h1>My Channels</h1>
	<h4>Create a new channel for your educational content.</h4>
</nav>
<ul id="channel_list" class="list-unstyled">
	<li id="item_1"><h5 class="default-item">No channels found.</h5></li>
</ul>
<span class="new_channel glyphicon glyphicon-plus-sign"></span> <label>New Channel</label>