<div id="channel_area_wrapper">
	<nav id="manage-channel-nav"></nav>
	<div id="channel-list-area">
		<div id="pending_list"></div>
		<h3>
			{{formatMessage (intlGet 'messages.header')}}
			<a class="action-button pull-right disable-on-edit new_channel_button" title="{{formatMessage (intlGet 'messages.add_channel_title')}}">
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{formatMessage (intlGet 'messages.add_channel')}}
			</a>
		</h3>
		<div id="channel_list"></div>
	</div>
</div>