<div class="container-fluid add_channel_wrapper">
	<a class="action-button pull-right disable-on-edit new_set_button" title="{{formatMessage (intlGet 'messages.add_channel_set_title')}}">
		<i class="material-icons align-text-top">add</i> {{formatMessage (intlGet 'messages.channel_set')}}
	</a>
</div>
<ul class="list-unstyled channel_list"><li class="default-item">{{formatMessage (intlGet 'messages.loading')}}</li></ul>