<div class="pending-channel-container-wrapper">
	You've been invited to {{invitation.share_mode}} <b>{{invitation.channel_name}}</b>
	<div class="btn btn-pending accept_invite"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Accept</div>
	<div class="btn btn-pending decline_invite"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Decline</div>
</div>