<div class="add_channel_wrapper">
	<a class="action-text about_sets_button">
		<i class="material-icons">info</i> {{formatMessage (intlGet 'messages.about_channel_sets')}}
	</a>
	<a class="action-button pull-right new_set_button" title="{{formatMessage (intlGet 'messages.add_channel_set_title')}}">
		<i class="material-icons align-text-top">add</i> {{formatMessage (intlGet 'messages.channel_set')}}
	</a>
</div>
<ul class="list-unstyled channel_list"><li class="default-item">{{formatMessage (intlGet 'messages.loading')}}</li></ul>