<div id="channel_area_wrapper">
	<nav id="manage-channel-nav" class="container"></nav>
	<div id="channel-list-area">
	<div class="pending_list"></div>
		<h3>
			My Channels
			<a class="action-button pull-right disable-on-edit new_channel_button" title="Create a new channel">
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Channel
			</a>
		</h3>
		<div id="channel_list"></div>
	</div>
</div>