<div id="container_{{index}}" class="container content-container pull-left">
	<h2 class="text-center title-bar">{{title}}</h2>
	<canvas class="pull-left"> </canvas>
	<div class="container-interior"></div>
	<div class="content-list">
		<span id="top_border" class="boundary">&nbsp;</span>
		<ul class="list-unstyled">
			{{#if edit}}
				<li class="content_options text-center">
					<button class="btn btn-default pull-left add_folder_button" name="{{title}}">
						<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>Add Folder</button>
					<button class="btn btn-default pull-left add_content_button" name="{{title}}">
						<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>Add Content</button>
				</li>
			{{/if}}
		</ul>
		<span id="bottom_border" class="boundary">&nbsp;</span>
	</div>
</div>