<div id="metadata" class="container">
	<div class="section pull-left tree_section" id="topic_tree_selector"></div>
	<nav>
		<a class="btn btn-tab btn-tab-active tab_button" id="metadata_details_btn">Details</a>
		<a class="btn btn-tab tab_button" id="metadata_questions_btn">Questions</a>
		<a class="btn btn-tab tab_button" id="metadata_preview_btn">Preview</a>
		{{#unless isclipboard}}<a class="btn btn-tab tab_button" id="metadata_prerequisites_btn">Prerequisites <span class="prereq_badge badge">Loading...</span></a>{{/unless}}
	</nav>
	<div  class="metadata_panel">
		<div id="metadata_edit_details" class="input_area tab_panel">
			<div class="section pull-left edit_details_section">
				<div id="edit_details_wrapper"><div id="metadata_placeholder" class="container-fluid text-center">Loading content...</div></div>
			</div>
		</div>
		<div id="metadata_questions" class="container-fluid tab_panel"></div>
		<div id="metadata_preview" class="container-fluid tab_panel"></div>
		<div id="metadata_prerequisites" class="container-fluid tab_panel"></div>
	</div>
	<br/>
	{{#if allow_edit}}
	<div class="metadata_save_buttons container-fluid">
		<div class="pull-right">
			<a id="upload_save_button" class="disable_on_error editmetadata_save">APPLY CHANGES</a>
			<a class="btn btn-default" id="upload_save_finish_button" class="disable_on_error editmetadata_save">SAVE &amp; CLOSE</a>
		</div>
		<a class="action-text" data-dismiss="modal" aria-label="Close">CANCEL</a>
	</div>
	{{else}}
	<div class="metadata_copy_buttons container-fluid">
		{{#unless staging}}
		<div class="pull-right">
			<a class="btn btn-default action-button" id="copy_button" class="disable_on_error editmetadata_save">COPY</a>
		</div>
		{{/unless}}
		<a class="disable_on_error action-text" id="close_uploader_button">CLOSE</a>
	</div>
	{{/if}}
</div>