{{#each tags}}
	<div class="col-xs-4 tag" value="tag_name">
		{{this}}
		<i class="material-icons pull-right delete_tag" value='{{this}}' title="{{formatMessage (intlGet 'messages.remove_tag')}}">clear</i>
	</div>
{{/each}}