<div id="metadata" class="container">
	<div class="section pull-left tree_section" id="topic_tree_selector"></div>
	<nav>
		<a class="btn btn-tab btn-tab-active tab_button" id="metadata_details_btn">Details</a>
		<a class="btn btn-tab tab_button" id="metadata_questions_btn">Questions</a>
		<a class="btn btn-tab tab_button" id="metadata_preview_btn">Preview</a>
	</nav>
	<div class="input-tab-control tab_item" data-next="{{#if allow_edit}}#tag_box{{else}}#license_about{{/if}}"></div>
	<div  class="metadata_panel">
		<div id="metadata_edit_details" class="input_area tab_panel">
			<div class="section pull-left edit_details_section">
				<div id="edit_details_wrapper"><div id="metadata_placeholder" class="container-fluid text-center">Loading content...</div></div>
			</div>
		</div>
		<div id="metadata_questions" class="container-fluid tab_panel"></div>
		<div id="metadata_preview" class="container-fluid tab_panel"></div>
	</div>
	<br/>
	{{#if allow_edit}}
	<div class="metadata_save_buttons container-fluid">
		<div class="pull-right">
			<button id="upload_save_button" class="disable_on_error editmetadata_save tab_item">APPLY CHANGES</button>
			<button class="btn btn-default" id="upload_save_finish_button" class="disable_on_error editmetadata_save tab_item">SAVE &amp; CLOSE</button>
		</div>
		<button class="action-text tab_item" data-dismiss="modal" aria-label="Close">CLOSE</button>
	</div>
	{{else}}
	<div class="metadata_copy_buttons container-fluid">
		<div class="pull-right">
			<button class="btn btn-default action-button" id="copy_button" class="disable_on_error editmetadata_save tab_item">COPY</button>
		</div>
		<button class="disable_on_error action-text tab_item" id="close_uploader_button">CLOSE</button>
	</div>
	{{/if}}
</div>