{{#if show_list}}
	<div id="uploader_select_all">
		<input type="checkbox" id="uploader_select_all_check"/>&nbsp;
		<label for="uploader_select_all_check">{{formatMessage (intlGet 'messages.select_all')}}</label>
	</div>
	<div id="uploaded_list_wrapper">
		<ul class="list-unstyled" id="uploaded_list">
			<li class="default-item">{{formatMessage (intlGet 'messages.loading')}}</li>
		</ul>
		{{#if new_topic}}
			<a class="btn action-text" id="add_topic_button">
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
				{{formatMessage (intlGet 'messages.topic')}}
			</a>
		{{/if}}
	</div>
{{/if}}