<div class="table table-striped files" id="previews">
  <div class="file-row row">
    <div class="inline col-xs-2">
        <span class="preview"><img data-dz-thumbnail alt="No Preview Available"/></span>
    </div>
    <div class="inline col-xs-4 text-center">
        <p class="name" data-dz-name></p>
        <strong class="error text-danger" data-dz-errormessage></strong>
    </div>
    <div class="inline col-xs-6">
        <p class="size" data-dz-size></p>
        <div class="progress file_upload_progress" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
          <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
        </div>
    </div>
  </div>
</div>