<div class="table table-striped files" id="previews">
  <div class="file-row row">
    <div class="inline col-xs-3 preview_section text-center">
        <img data-dz-thumbnail alt="No Preview Available"/>
        <div class="progress_file_area">
            <span class="glyphicon glyphicon-ban-circle upload_cancel pull-right upload_option" aria-hidden="true" data-dz-remove></span>
            <span class="glyphicon glyphicon-ok upload_successful pull-right upload_option" aria-hidden="true"></span>
            <div class="progress file_upload_progress" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
              <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
            </div>
        </div>
    </div>
    <div class="inline col-xs-8 name_section">
        <p class="name truncate" data-dz-name></p>
        <p class="size" data-dz-size></p>
        <strong class="error text-danger truncate" data-dz-errormessage></strong>
    </div>
    <div class="inline col-xs-1">
        <span class="glyphicon glyphicon-remove remove_from_dz pull-right" aria-hidden="true" data-dz-remove ></span>
    </div>
  </div>
</div>