<div class="modal fade" id="license_modal">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title text-center">{{license.license_name}}</h4>
        </div>
        <div class="modal-body">
        	<div id="license_description_wrapper">
            	<p>{{license.license_description}}</p>
            </div>
			<a target="_blank" href="{{license.license_url}}" class="action-text">LEARN MORE</a>
			<a class="action-text pull-right" data-dismiss="modal">
	            <span>CLOSE</span>
	        </a>
        </div>
    </div>
</div>
</div>