<div class="modal fade" id="mastery_modal"  tabindex="-1">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title text-center">About Exercises</h4>
        </div>
        <div class="modal-body">
        	<div class="modal-body-content">
            	<h3>How Exercises Work</h3>
                <p>Questions will be presented to the learner from the set of questions in the exercise. If the user has not completed the exercise by the last question, Kolibri will begin again from the first question.</p>
                <hr/>
                <h3>How Mastery Works</h3>
                <p>The mastery criteria determines when Kolibri marks an exercise as having been completed by the learner. Here is a list of the available mastery options:</p>
                <div class="mastery_container">
                    <div class="row">
                        <div class="col-xs-3 criterion_name"><b>3 in a Row</b></div>
                        <div class="col-xs-9 criterion_description">Learner must answer three questions in a row correctly</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3 criterion_name"><b>5 in a Row</b></div>
                        <div class="col-xs-9 criterion_description">Learner must answer five questions in a row correctly</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3 criterion_name"><b>10 in a Row</b></div>
                        <div class="col-xs-9 criterion_description">Learner must answer ten questions in a row correctly</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3 criterion_name"><b>100% Correct</b></div>
                        <div class="col-xs-9 criterion_description">Learner must answer all questions in the exercise correctly (not recommended for long exercises)</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3 criterion_name"><b>M out of N</b></div>
                        <div class="col-xs-9 criterion_description">Learner must answer M questions correctly from the last N questions answered (e.g. 3 of 5 means learners need to answer three questions correctly of the most recent five questions)</div>
                    </div>
                </div>
            </div>
            <div class="modal-body-bottom container-fluid">
    			<a class="action-button pull-right" data-dismiss="modal">
    	            <span>CLOSE</span>
    	        </a>
            </div>
        </div>
    </div>
</div>
</div>