<!DOCTYPE HTML>
{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block nav %}{% endblock nav %}

{% block content %}

<div class="login container-fluid">
	<!-- Branding block -->
	<div class="login-branding center-block text-center col-xs-7 container">
			<div><img class="login-branding-kolibri-logo img-responsive" src="{% static 'img/kolibri_login.png' %}"/></div>
			<h1 class="login-branding-kolibri-title"><span dir="ltr">Kolibri Studio</span></h1>
			<p class="login-branding-kolibri-subtitle">{% trans 'Content Curation Tools for Kolibri' %}</p>

			<div class="login-branding-le-link">
				<a href="https://learningequality.org/" target="_blank">
					<img src="{% static 'img/le_login.png' %}" class="img-responsive">
				</a>
			</div>
	</div>

	<div class="col-xs-5 login-content">
		{% block login %} <!-- Login Form Block --> {% endblock %}
	</div>

</div>

{% endblock %}
