<!DOCTYPE HTML>
{% extends "base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block nav %}{% endblock nav %}

{% block content %}

<div class="container" id="logout_container">
	<img id="logout-image" class="pull-left" src="{% static 'img/kolibri_login.png' %}"/>
	<h2>{% trans "You have successfully logged out." %}</h2>

	{# Assumes you setup the password_reset view in your URLconf #}
	<p><a href="{% url 'login' %}">{% trans "Click here to log back in again." %}</a></p>

</div>

{% endblock %}
