{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block nav %}{% endblock nav %}

{% block content %}
<div class="message-page">
	<img class="pull-left message-logo" src="{% static 'img/kolibri_login.png' %}"/>
	<h3>{% trans "Password reset email sent." %}</h3>
	<p>{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}</p>
	<p>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>
</div>
{% endblock %}
