{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block nav %}{% endblock nav %}

{% block content %}
<div class="message-page">
	<div class="pull-left message-img-wrapper">
		<img class="message-logo" src="{% static 'img/kolibri_login.png' %}"/>
	</div>
	<div class="message-wrapper">
		{% if validlink %}
			<form method="post" action=".">
				<h2>{% translate "Password Reset" %}</h2>
				{% csrf_token %}
				{{ form.as_p }}
				<input type="submit"  class="btn message-btn" value="{% translate 'Submit' %}" />
			</form>
		{% else %}
			<h2>{% translate "Password reset unsuccessful." %}</h2>
			<p>{% translate "The password reset link was invalid, possibly because it has already been used. " %}</p>
			<a class="btn message-btn" href="/accounts/password/reset/">{% translate "Request a new password reset." %}</a>
		{% endif %}
	</div>
</div>
{% endblock %}
