<!DOCTYPE HTML>
{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block nav %}{% endblock nav %}

{% block content %}
<div class="message-page">
	<div class="pull-left message-img-wrapper">
		<img class="message-logo" src="{% static 'img/kolibri_login.png' %}"/>
	</div>
	<div class="message-wrapper">
		<form method="post" action="/accounts/password/reset/">
			{% csrf_token %}
			<h2>{% trans "Password Reset" %}</h2>
			<p>{% trans "Enter your email, and we'll send instructions for setting a new password." %}</p>
				{% if form.errors %}
				<ul>
					{% blocktrans %}{{ form.email.errors }}{% endblocktrans %}
				</ul>
				{% endif %}
			<p>
				<label for="id_email">{% trans "Email:" %}</label> {{ form.email }}
				<input class="btn message-btn" type="submit" value="{% trans 'Reset Password' %}" />
			</p>
		</form>
	</div>
</div>
{% endblock %}
