{% extends "base.html" %}
{% load i18n %}

{% block content %}
<form method="post" action=".">

</form>
{% endblock %}

<!DOCTYPE HTML>
{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block nav %}{% endblock nav %}

{% block content %}
<div class="message-page">
	<img class="pull-left message-logo" src="{% static 'img/kolibri_login.png' %}"/>
	<form method="post" action="/accounts/password/change/">
	  {% csrf_token %}
	  <h3>Password Change</h3>
	  {% if form.errors %}
		<ul>
			{{ form.email.errors }}
		</ul>
		{% endif %}
	  <p>
	  	{% csrf_token %}
  		{{ form.as_p }}

  		<input class="btn message-btn" type="submit" value="{% trans 'Submit' %}" />
	  </p>
	</form>
</div>
{% endblock %}