{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block nav %}{% endblock nav %}

{% block content %}
<div class="message-page">
	<img class="pull-left message-logo" src="{% static 'img/kolibri_login.png' %}"/>
	{% if validlink %}

	<form method="post" action=".">
	  {% csrf_token %}
	  {{ form.as_p }}

	  <input type="submit" value="{% trans 'Submit' %}" />
	</form>

	{% else %}

	<h2>{% trans "Password reset unsuccessful." %}</h2>
	<p>
		{% trans "The password reset link was invalid, possibly because it has already been used. " %}
		<a class="btn message-btn" href="/accounts/password/reset/">{% trans "Request a new password reset." %}</a>
	</p>

	{% endif %}
</div>

{% endblock %}
