<!DOCTYPE HTML>
{% extends "registration/getting_started.html" %}

{% load staticfiles %}
{% load i18n %}

{% block nav %}{% endblock nav %}

{% block login %}
<div id="registration">
	<ul class="errors">
		{% for field in form %}
			{% for error in field.errors %}
				<li>{{ error|escape }}</li>
			{% endfor %}
		{% endfor %}
	</ul>
	<h2 class="header text-center">Create an Account</h2>
	<form action="{% url  'registration_register' %}" method="post" class="login-content-form text-center content-padding-top container-fluid">
		<div id="form-wrapper">
			{% csrf_token %}
			{% for field in form %}
			<div class="form-group row" id="label_{{field.auto_id }}">
				<div class="col-xs-12 login-label">
					{{field.label}} {% if field.field.required %}<i class="required_asterisk">*</i>{% endif %}
				</div>
				 <div class="col-xs-12">
				 	{% if field.name == 'email' %}
				 	<input id="{{field.auto_id}}" name="{{field.name}}" type="text" {%if field.value %}value="{{field.value}}"{% endif %} {% if freeze_email %}title="{% trans 'Must use this email to access channel invitation' %}" readonly{% endif %}>
				 	{% else %}
				 	{{field}}
				 	{% endif %}
				 </div>
			</div>
			{% endfor %}
		</div>
		<div class="row">
			<div class="col-xs-12">
				<input class="btn btn-login" type="submit" value="{% trans 'NEXT' %}" />
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<a href="{% url 'login' %}" class="action-text login-action-text" id="register_prompt">{% trans "Back to Log In" %}</a>
			</div>
		</div>
	</form>
</div>
{% endblock %}
