<!DOCTYPE HTML>
{% extends "registration/getting_started.html" %}

{% load staticfiles %}
{% load i18n %}
{% load translation_tags %}

{% block nav %}{% endblock nav %}

{% block login %}
<div id="registration-info">
	<ul class="errors">
		{% for field in form %}
			{% for error in field.errors %}
				<li>{{ error|escape }}</li>
			{% endfor %}
		{% endfor %}
	</ul>
	<h2 class="header text-center">{% trans 'Create an Account' %}</h2>
	<div class="back-to-registration">
		<a class="login-action-text" href="{% url 'registration_register' %}"><i class="material-icons align-bottom">arrow_back</i> {% trans 'Back' %}</a>
	</div>
	<form action="{% url  'registration_information' %}" method="post" class="login-content-form text-center container-fluid">
		<div id="form-wrapper">
			{% csrf_token %}
			<div class="form-group row" id="use">
				<div class="login-label col-xs-12">
					<div>{{form.use.label}} <i class="required_asterisk">*</i></div>
					{% for option in form.use %}
						<div class="use-option row">
							<div class="col-xs-1 check-wrapper">
								<input id="{{option.attrs.id}}" name="{{option.name}}" type="checkbox" value="{{option.choice_value}}" class="check_{{option.choice_value}}" {% if option.choice_value in option.value %}checked{% endif %}>
							</div>
							<div class="col-xs-11">
								<label for="{{option.attrs.id}}">{{option.choice_label}}</label>
								{% if option.choice_value == 'storage' %}
								<div id="storage" class="optional_field">
									{{form.storage.label}}<i class="required_asterisk">*</i> &nbsp;{{form.storage}}
								</div>
								{% endif %}
								{% if option.choice_value == 'other' %}
									{{form.other_use}}
								{% endif %}
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="form-group row">
				<div class="col-xs-12 login-label">
					<div>{{form.location.label}} <i class="required_asterisk">*</i></div>
					{{form.location}}
				</div>
			</div>
		</div>
		<div class="form-group row" id="source">
			<div class="login-label col-xs-12">
				<div>{{form.source.label}} <i class="required_asterisk">*</i></div>
				<select id="id_source" name="source">
					<option disabled {% if form.source.data == None %}selected{% endif %}>{% trans 'Select One' %}</option>
					{% for option in form.source.field.choices %}
						<option value="{{option.0}}" {% if form.source.data == option.0 %}selected{% endif %}>{{option.1}}</option>
					{% endfor %}
				</select>
				<div id="source_organization" class="optional_field">
					{{form.organization.label}} &nbsp;{{form.organization}}
				</div>
				<div id="source_conference" class="optional_field">
					{{form.conference.label}} &nbsp;{{form.conference}}
				</div>
				<div id="source_other" class="optional_field">
					{{form.other_source.label}}<i class="required_asterisk">*</i> &nbsp;{{form.other_source}}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="login-label col-xs-12"  id="policy_accept">
				{% blocktrans %}I have read and agreed to the <a id="policy_link" data-toggle="modal" data-target="#policyModal">Privacy Policy</a>{% endblocktrans %}<i class="required_asterisk">*</i>&nbsp; {{form.accepted_policy}}
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-center" id="help_footer">
				{% blocktrans %}Questions or concerns? Please email us at <a href="mailto:{{help_email}}" class="login-action-text">{{help_email}}</a>{% endblocktrans %}
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<input class="btn btn-login" type="submit" value="{% trans 'Sign Up' %}" />
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<a href="{% url 'django.contrib.auth.views.login' %}" class="action-text login-action-text" id="register_prompt">{% trans "Back to Log In" %}</a>
			</div>
		</div>
	</form>
</div>

<!-- Modal -->
<div class="modal fade" id="policyModal" tabindex="-1" role="dialog" aria-labelledby="policyModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {% trans 'Privacy Policy' %}
      </div>
      <div class="modal-body">
      	{% include "policies/text/terms_of_service.html" %}
	    <div class="container-fluid">
	    	<button class="action-button pull-right" data-dismiss="modal">{% trans 'CLOSE' %}</button>
	    </div>
      </div>
    </div>
  </div>
</div>

<script>
	// Toggle storage blank depending on whether "Storage" usage option is checked
	function handleStorage() {
		($(".check_storage").prop("checked"))? $("#storage").slideDown(100) : $("#storage").slideUp(100);
	}
	$(".check_storage").on("change", handleStorage);
	handleStorage();

	// Set "Other" as selected for form.clean
	function checkOther() {
		$(".check_other").prop("checked", !!$("#id_other_use").val());
	}
	$("#id_other_use").on("keypress", checkOther);
	$("#id_other_use").on("paste", checkOther);
	checkOther();

	// Display blanks for extra information on "Where did you hear about us" question
	function displaySource() {
		$("#source .optional_field").slideUp(100);
		$("#source_" + $("#id_source").val()).slideDown(100);
	}
	$("#id_source").on("change", displaySource);
	displaySource();

</script>
{% endblock %}
