<!DOCTYPE HTML>
{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block nav %}{% endblock nav %}

{% block content %}
<div class="message-page">
	<img class="pull-left message-logo" src="{% static 'img/kolibri_login.png' %}"/>
	<form method="post" action="/accounts/password/reset/">
	  {% csrf_token %}
	  <h3>Password Reset</h3>
	  <p>Enter your email, and we'll send instructions for setting a new password.</p>
	  {% if form.errors %}
		<ul>
			{{ form.email.errors }}
		</ul>
		{% endif %}
	  <p>
	  	<label for="id_email">Email:</label> {{ form.email }}
	  	<input class="btn" id="reset_password_btn" type="submit" value="{% trans 'Reset Password' %}" />
	  </p>
	</form>
</div>
{% endblock %}