<div class="btn-group" role="group" aria-label="Edit and Delete">
<button class="btn btn-danger delete"><span class="glyphicon glyphicon-trash" title="Delete"></span></button>
<button class="btn btn-success edit"><span class="glyphicon glyphicon-pencil" title="Edit"></span></button>
</div>