<li class="list-group-item">
	<div class="row">
		<div class="col-sm-9">
		  <div class="answer">
		  </div>
		 </div>
		 <div class="col-sm-1">
		 	<input class="correct" type="checkbox" aria-label="Correct">
		 </div>
	 	 <div class="col-sm-2">
	 	 	<button class="btn btn-success edit"><span class="glyphicon glyphicon-pencil"></span></button>
	 	 	<button class="btn btn-danger delete"><span class="glyphicon glyphicon-trash"></span></button>
	 	 </div>
    </div>
</li>