<button class="btn btn-danger delete">
	<span class="glyphicon glyphicon-trash"></span>
</button>
<button class="btn btn-success" role="button" data-toggle="collapse" data-parent="#accordion" href="#{{ model.id }}" aria-expanded="false" aria-controls="{{ model.id }}">
	<span class="glyphicon glyphicon-pencil"></span>
</button>