/* stylelint-disable */

/* * * * * * * * * * * ATTENTION * * * * * * * * * * *
 * This file contains some LEq customizations,
 * so there's a need to be careful to reflect them
 * if we upgrade MathQuill one day (or eventually
 * create MathQuill fork if there's a need to upgrade
 * often). For more information see the formulas plugin
 * documentation docs/markdown_editor_viewer.md
 * or commit 9c85577761a75d1c3c216496f4e3373e57623699
 * * * * * * * * * * * * * * * * * * * * * * * * * * */

/*
 * MathQuill v0.10.1               http://mathquill.com
 * by Han, Jeanine, and Mary  maintainers@mathquill.com
 *
 * This Source Code Form is subject to the terms of the
 * Mozilla Public License, v. 2.0. If a copy of the MPL
 * was not distributed with this file, You can obtain
 * one at http://mozilla.org/MPL/2.0/.
 */
.mq-editable-field {
  display: -moz-inline-box;
  display: inline-block;
}
.mq-editable-field .mq-cursor {
  position: relative;
  z-index: 1;
  display: -moz-inline-box;
  display: inline-block;
  padding: 0;
  margin-left: -1px;
  border-left: 1px solid black;
}
.mq-editable-field .mq-cursor.mq-blink {
  visibility: hidden;
}
.mq-editable-field,
.mq-math-mode .mq-editable-field {
  border: 1px solid gray;
}
.mq-editable-field.mq-focused,
.mq-math-mode .mq-editable-field.mq-focused {
  border-color: #709ac0;
  border-radius: 1px;
  -webkit-box-shadow:
    #88bbdd 0 0 1px 2px,
    inset #66aaee 0 0 2px 0;
  -moz-box-shadow:
    #88bbdd 0 0 1px 2px,
    inset #66aaee 0 0 2px 0;
  box-shadow:
    #88bbdd 0 0 1px 2px,
    inset #66aaee 0 0 2px 0;
}
.mq-math-mode .mq-editable-field {
  margin: 1px;
}
.mq-editable-field .mq-latex-command-input {
  padding-right: 1px;
  margin-right: 1px;
  margin-left: 2px;
  font-family: 'Courier New', monospace;
  color: inherit;
  border: 1px solid gray;
}
.mq-editable-field .mq-latex-command-input.mq-empty {
  background: transparent;
}
.mq-editable-field .mq-latex-command-input.mq-hasCursor {
  border-color: ActiveBorder;
}
.mq-editable-field.mq-empty::after,
.mq-editable-field.mq-text-mode::after,
.mq-math-mode .mq-empty::after {
  visibility: hidden;
  content: 'c';
}
.mq-editable-field .mq-cursor:only-child::after,
.mq-editable-field .mq-textarea + .mq-cursor:last-child::after {
  visibility: hidden;
  content: 'c';
}
.mq-editable-field .mq-text-mode .mq-cursor:only-child::after {
  content: '';
}
.mq-editable-field.mq-text-mode {
  overflow-x: auto;
  overflow-y: hidden;
}
.mq-root-block,
.mq-math-mode .mq-root-block {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -moz-inline-box;
  display: inline-block;
  width: 100%;
  padding: 2px;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
}
.mq-math-mode {
  display: -moz-inline-box;
  display: inline-block;
  font-size: 115%;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1 !important;
}
.mq-math-mode .mq-non-leaf,
.mq-math-mode .mq-scaled {
  display: -moz-inline-box;
  display: inline-block;
}
.mq-math-mode var,
.mq-math-mode .mq-text-mode,
.mq-math-mode .mq-nonSymbola {
  font-family: MathJax, serif;
  line-height: 0.9 !important;
}
.mq-math-mode * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: inherit;
  line-height: inherit !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border-color: black;
}
.mq-math-mode .mq-empty {
  background: #cccccc;
}
.mq-math-mode .mq-empty.mq-root-block {
  background: transparent;
}
.mq-math-mode.mq-empty {
  background: transparent;
}
.mq-math-mode .mq-text-mode {
  display: inline-block;
}
.mq-math-mode .mq-text-mode.mq-hasCursor {
  min-width: 1ex;
  padding: 0 0.1em;
  margin: 0 -0.1em;
  box-shadow: inset darkgray 0 0.1em 0.2em;
}
.mq-math-mode .mq-font {
  font:
    1em MathJax,
    serif;
}
.mq-math-mode .mq-font * {
  font-family: inherit;
  font-style: inherit;
}
.mq-math-mode b,
.mq-math-mode b.mq-font {
  font-weight: bolder;
}
.mq-math-mode var,
.mq-math-mode i,
.mq-math-mode i.mq-font {
  font-style: italic;
}
.mq-math-mode var.mq-f {
  margin-right: 0.2em;
  margin-left: 0.1em;
}
.mq-math-mode .mq-roman var.mq-f {
  margin: 0;
}
.mq-math-mode big {
  font-size: 200%;
}
.mq-math-mode .mq-int > big {
  display: inline-block;
  vertical-align: -0.16em;
  -webkit-transform: scaleX(0.7);
  -moz-transform: scaleX(0.7);
  -ms-transform: scaleX(0.7);
  -o-transform: scaleX(0.7);
  transform: scaleX(0.7);
}
.mq-math-mode .mq-int > .mq-supsub {
  padding-right: 0.2em;
  font-size: 80%;
  vertical-align: -1.1em;
}
.mq-math-mode .mq-int > .mq-supsub > .mq-sup > .mq-sup-inner {
  vertical-align: 1.3em;
}
.mq-math-mode .mq-int > .mq-supsub > .mq-sub {
  margin-left: -0.35em;
}
.mq-math-mode .mq-roman {
  font-style: normal;
}
.mq-math-mode .mq-sans-serif {
  font-family: sans-serif, MathJax, serif;
}
.mq-math-mode .mq-monospace {
  font-family: monospace, MathJax, serif;
}
.mq-math-mode .mq-overline {
  margin-top: 1px;
  border-top: 1px solid black;
}
.mq-math-mode .mq-underline {
  margin-bottom: 1px;
  border-bottom: 1px solid black;
}
.mq-math-mode .mq-binary-operator {
  display: -moz-inline-box;
  display: inline-block;
  padding: 0 0.2em;
}
.mq-math-mode .mq-supsub {
  font-size: 90%;
  text-align: left;
  vertical-align: -0.5em;
}
.mq-math-mode .mq-supsub.mq-sup-only {
  vertical-align: 0.5em;
}
.mq-math-mode .mq-supsub.mq-sup-only .mq-sup {
  display: inline-block;
  vertical-align: text-bottom;
}
.mq-math-mode .mq-supsub .mq-sup {
  display: block;
}
.mq-math-mode .mq-supsub .mq-sub {
  display: block;
  float: left;
}
.mq-math-mode .mq-supsub .mq-binary-operator {
  padding: 0 0.1em;
}
.mq-math-mode .mq-supsub .mq-fraction {
  font-size: 70%;
}
.mq-math-mode sup.mq-nthroot {
  min-width: 0.5em;
  margin-right: -0.6em;
  margin-left: 0.2em;
  font-size: 80%;
  vertical-align: 0.8em;
}
.mq-math-mode .mq-paren {
  padding: 0 0.1em;
  vertical-align: top;
  -webkit-transform-origin: center 0.06em;
  -moz-transform-origin: center 0.06em;
  -ms-transform-origin: center 0.06em;
  -o-transform-origin: center 0.06em;
  transform-origin: center 0.06em;
}
.mq-math-mode .mq-paren.mq-ghost {
  color: silver;
}
.mq-math-mode .mq-paren + span {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}
.mq-math-mode .mq-array {
  text-align: center;
  vertical-align: middle;
}
.mq-math-mode .mq-array > span {
  display: block;
}
.mq-math-mode .mq-operator-name {
  font-family: MathJax, 'Times New Roman', serif;
  font-style: normal;
  line-height: 0.9 !important;
}
.mq-math-mode var.mq-operator-name.mq-first {
  padding-left: 0.2em;
}
.mq-math-mode var.mq-operator-name.mq-last,
.mq-math-mode .mq-supsub.mq-after-operator-name {
  padding-right: 0.2em;
}
.mq-math-mode .mq-fraction {
  padding: 0 0.2em;
  font-size: 90%;
  text-align: center;
  vertical-align: -0.4em;
}
.mq-math-mode .mq-fraction,
.mq-math-mode .mq-large-operator,
.mq-math-mode x:-moz-any-link {
  display: -moz-groupbox;
}
.mq-math-mode .mq-fraction,
.mq-math-mode .mq-large-operator,
.mq-math-mode x:-moz-any-link,
.mq-math-mode x:default {
  display: inline-block;
}
.mq-math-mode .mq-numerator,
.mq-math-mode .mq-denominator {
  display: block;
}
.mq-math-mode .mq-numerator {
  padding: 0 0.1em;
}
.mq-math-mode .mq-denominator {
  float: right;
  width: 100%;
  padding: 0.1em;
  border-top: 1px solid;
}
.mq-math-mode .mq-sqrt-prefix {
  position: relative;
  top: 0.1em;
  padding-top: 0;
  vertical-align: top;
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  -ms-transform-origin: top;
  -o-transform-origin: top;
  transform-origin: top;
}
.mq-math-mode .mq-sqrt-stem {
  padding-top: 1px;
  padding-right: 0.2em;
  padding-left: 0.15em;
  margin-top: 1px;
  margin-right: 0.1em;
  border-top: 1px solid;
}
.mq-math-mode .mq-vector-prefix {
  display: block;
  margin-bottom: -0.1em;
  font-size: 0.75em;
  line-height: 0.25em !important;
  text-align: center;
}
.mq-math-mode .mq-vector-stem {
  display: block;
}
.mq-math-mode .mq-large-operator {
  padding: 0.2em;
  text-align: center;
  vertical-align: -0.2em;
}

.mq-from {
  padding-top: 5px;
}

.mq-math-mode .mq-large-operator .mq-from,
.mq-math-mode .mq-large-operator big,
.mq-math-mode .mq-large-operator .mq-to {
  display: block;
}
.mq-math-mode .mq-large-operator .mq-from,
.mq-math-mode .mq-large-operator .mq-to {
  font-size: 80%;
}
.mq-math-mode .mq-large-operator .mq-from {
  float: right;

  /* take out of normal flow to manipulate baseline */
  width: 100%;
}
.mq-math-mode,
.mq-math-mode .mq-editable-field {
  font-family: MathJax, 'Times New Roman', serif;
  cursor: text;
}
.mq-math-mode .mq-overarrow {
  padding-top: 0.2em;
  margin-top: 1px;
  border-top: 1px solid black;
}
.mq-math-mode .mq-overarrow::before {
  position: relative;
  top: -0.34em;
  display: block;
  font-size: 0.5em;
  line-height: 0;
  text-align: right;
  content: '\27A4';
}
.mq-math-mode .mq-overarrow.mq-arrow-left::before {
  -ms-filter: 'FlipH';
  filter: FlipH;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.mq-math-mode .mq-selection,
.mq-editable-field .mq-selection,
.mq-math-mode .mq-selection .mq-non-leaf,
.mq-editable-field .mq-selection .mq-non-leaf,
.mq-math-mode .mq-selection .mq-scaled,
.mq-editable-field .mq-selection .mq-scaled {
  color: HighlightText;
  background: #b4d5fe !important;
  background: Highlight !important;
  border-color: HighlightText;
}
.mq-math-mode .mq-selection .mq-matrixed,
.mq-editable-field .mq-selection .mq-matrixed {
  background: #3399ff !important;
}
.mq-math-mode .mq-selection .mq-matrixed-container,
.mq-editable-field .mq-selection .mq-matrixed-container {
  filter: progid:dximagetransform.microsoft.chroma(color='#3399FF') !important;
}
.mq-math-mode .mq-selection.mq-blur,
.mq-editable-field .mq-selection.mq-blur,
.mq-math-mode .mq-selection.mq-blur .mq-non-leaf,
.mq-editable-field .mq-selection.mq-blur .mq-non-leaf,
.mq-math-mode .mq-selection.mq-blur .mq-scaled,
.mq-editable-field .mq-selection.mq-blur .mq-scaled,
.mq-math-mode .mq-selection.mq-blur .mq-matrixed,
.mq-editable-field .mq-selection.mq-blur .mq-matrixed {
  color: black;
  background: #d4d4d4 !important;
  border-color: black;
}
.mq-math-mode .mq-selection.mq-blur .mq-matrixed-container,
.mq-editable-field .mq-selection.mq-blur .mq-matrixed-container {
  filter: progid:dximagetransform.microsoft.chroma(color='#D4D4D4') !important;
}
.mq-editable-field .mq-textarea,
.mq-math-mode .mq-textarea {
  position: relative;
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
}
.mq-editable-field .mq-textarea *,
.mq-math-mode .mq-textarea *,
.mq-editable-field .mq-selectable,
.mq-math-mode .mq-selectable {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1em 1em 1em 1em);
  resize: none;
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.mq-math-mode .mq-matrixed {
  display: -moz-inline-box;
  display: inline-block;
  background: white;
}
.mq-math-mode .mq-matrixed-container {
  margin-top: -0.1em;
  filter: progid:dximagetransform.microsoft.chroma(color='white');
}
