{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block nav %}{% endblock nav %}

{% block content %}
<div class="message-page">
	<div class="pull-left message-img-wrapper">
		<img class="message-logo" src="{% static 'img/kolibri_login.png' %}"/>
	</div>
	<div class="message-wrapper">
		<h2>{% trans "There was an error opening this channel." %}</h2>
		<p>{% trans "Try running ricecooker again." %}</p>
		<a class="btn message-btn" href="/">{% trans "Go Home" %}</a>
	</div>
</div>

{% endblock %}
