{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block nav %}{% endblock nav %}

{% block content %}
<div class="message-page">
	<div class="pull-left message-img-wrapper">
		<img class="message-logo" src="{% static 'img/kolibri_login.png' %}"/>
	</div>
	<div class="message-wrapper">
		<h2>{% trans "You must create an account before you can access this channel." %}</h2>
		<ul>
			 {% for field in form %}
		        {% for error in field.errors %}
		            <li>{{ error|escape }}</li>
		        {% endfor %}
		    {% endfor %}
		</ul>
		<form action="." method="post" id="invitation_register_form">
			<div id="form-wrapper">
				{% csrf_token %}
				{% for field in form %}
				<p>
				 <label>{% if field.field.required %}<i class="required_asterisk">*</i>{% endif %} {{field.label}}</label>
				 {{field}}
				 </p>
				{% endfor %}
			</div>
			<input class="btn message-btn" type="submit" value="Register" id="invitation_register_button"/>
			<a href="{% url 'django.contrib.auth.views.login' %}" class="action-text" id="invitation-action-text">Cancel</a>
		</form>
	</div>
</div>

{% endblock %}
