{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block nav %}{% endblock nav %}

{% block content %}
<div class="message-page">
	<div class="pull-left message-img-wrapper">
		<img class="message-logo" src="{% static 'img/kolibri_login.png' %}"/>
	</div>
	<div class="message-wrapper">
		<h3>{% trans "You must create an account before you can access this channel." %}</h3>
		<div id="email_area">
			<p class="text-center" id="invited_email_hint">{% trans "Creating account for email:" %}</p>
			<h4 class="text-center" id="invited_email"><strong>{{view.user.email}}</strong></h4>
		</div>
		<ul id="invitation_error_list">
			{% for field in form %}
				{% for error in field.errors %}
					<li>{% blocktrans %}{{error}}{% endblocktrans %}</li>
				{% endfor %}
			{% endfor %}
		</ul>
		<form method="post" id="invitation_register_form">
			<div id="form-wrapper">
				<input type="hidden" value="{{view.user.email}}" name="email"/>
				{% csrf_token %}
				{% for field in form %}
				<p>
					{% if field.field.required %}<label><i class="required_asterisk">*</i>{% blocktrans %}{{field.label}}{% endblocktrans %}</label>{% endif %}
					{{field}}
				</p>
				{% endfor %}
			</div>
			<input class="btn message-btn" type="submit" value="{% trans 'Register' %}" id="invitation_register_button"/>
			<a href="{% url 'django.contrib.auth.views.login' %}" class="action-text" id="invitation-action-text">{% trans "Cancel" %}</a>
		</form>
	</div>
</div>

{% endblock %}
