<div id="admin-page" class="">
	<h2>Administration</h2>
	<!-- Nav tabs -->
	<ul role="tablist" class="nav nav-tabs">
		<li role="presentation" class="tab active"><a class="btn channels" data-target="#channels" data-href="channels" aria-controls="admin_channels" role="tab" data-toggle="tab">CHANNELS <span class="badge" id="channel_count">...</span></a></li>
		<li role="presentation" class="tab"><a class="btn users" data-target="#users" data-href="users" aria-controls="admin_users" role="tab" data-toggle="tab">USERS <span class="badge" id="user_count">...</span></a></li>
	</ul>

	<!-- Tab panes -->
	<div role="tabpanel" class="tab-pane active" id="channels"><div class="default-item">Loading...</div></div>
	<div role="tabpanel" class="tab-pane" id="users"><div class="default-item">Loading...</div></div>
</div>