<div class="spinner">
    <div class="glyphicon glyphicon-refresh spinner-animate"></div>
</div>

<div class="header_row grid_row channel_list">
    <div class="grid_item header channel_name_wrapper">Name</div>
    <div class="grid_item header text-center">ID</div>
    <div class="grid_item header text-center">Priority</div>
    <div class="grid_item header text-center">Editors</div>
    <div class="grid_item header text-center">Viewers</div>
    <div class="grid_item header text-center">Items</div>
    <div class="grid_item header text-center">Options</div>
</div>

<div class="admin_table channel_list">
    <div class="default-item">Loading...</div>
</div>