<ul class="list-unstyled ">
	<li><b>Total Size: {{{format_file_size size}}}</b></li>
	{{#each counts}}
		<li><i class="material-icons content_icon">{{{get_icon kind_id}}}</i> {{{format_count kind_id count true}}}</li>
	{{/each}}
</ul>