<div class="spinner">
    <div class="glyphicon glyphicon-refresh spinner-animate"></div>
</div>

<div class="header_row grid_row user_list">
    <div class="grid_item header">Name</div>
    <div class="grid_item header">Email</div>
    <div class="grid_item header text-center">Disk Space</div>
    <div class="grid_item header text-center">Can Edit</div>
    <div class="grid_item header text-center">Can View</div>
    <div class="grid_item header text-center">Options</div>
</div>

<div class="admin_table user_list">
    <div class="default-item">Loading...</div>
</div>