<div class="container-fluid exercise_preview">
	{{#if source_url}}
		<a class="action-text" href={{source_url}} target="_blank">Preview this exercise on the source website</a>
	{{else}}
		<h5 class="exercise_default">No preview available for this file</h5>
	{{/if}}
</div>