<div class="container-fluid exercise_preview">
	{{#if source_url}}
		<a class="action-text" href={{source_url}} target="_blank">{{formatMessage (intlGet 'messages.preview_exercise')}}</a>
	{{else}}
		<div class="default_preview container-fluid">
			<h5 class="default_preview_text text-center"><em>{{formatMessage (intlGet 'messages.no_preview')}}</em></h5>
		</div>
	{{/if}}
</div>