<div class="container-fluid exercise_preview">
	{{#if source_url}}
		<a class="action-text" href={{source_url}} target="_blank">Preview this exercise on the source website</a>
	{{else}}
		<div class="default_preview container-fluid">
			<h5 class="default_preview_text text-center"><em>No preview available</em></h5>
		</div>
	{{/if}}
</div>