{{#each previews}}
    <li class="btn preview_btn_tab preview_file" value="{{@index}}" title="{{#translate preset.id}}{{/translate}}">
      {{#translate preset.id}}{{/translate}}
    </li>
{{/each}}
