{{#each filePreviews}}
    <li class="btn preview_btn_tab file_preview" value="{{@index}}">
      {{#translate preset.id}}{{/translate}}
    </li>
{{/each}}
{{#each exercisePreviews}}
    <li class="btn preview_btn_tab exercise_preview" value="{{@index}}">
      <!-- {{#translate id}}{{/translate}} -->
      Question: {{ question }}
    </li>
{{/each}}
