<div class="modal fade information_modal" id="mastery_modal"  tabindex="-1">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">What is an Exercise?</h4>
        </div>
        <div class="modal-body">
        	<div class="modal-body-content">
                <p>An exercise contains a set of interactive questions that a learner can engage with in Kolibri. They will receive instant feedback on whether they answer each question correctly or incorrectly. Kolibri will cycle through the available questions in an exercise until the Learner achieves mastery.</p>
                <hr/>
                <h3>Achieving Mastery</h3>
                <p>Kolibri marks an exercise as "completed" when the mastery criteria is met. Here are the different types of mastery criteria for an exercise:</p>
                <div class="mastery_container">
                    <div class="row">
                        <div class="col-xs-2 criterion_name"><b>3 in a Row</b></div>
                        <div class="col-xs-10 criterion_description">Learner must answer three questions in a row correctly</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2 criterion_name"><b>5 in a Row</b></div>
                        <div class="col-xs-10 criterion_description">Learner must answer five questions in a row correctly</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2 criterion_name"><b>10 in a Row</b></div>
                        <div class="col-xs-10 criterion_description">Learner must answer ten questions in a row correctly</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2 criterion_name"><b>100% Correct</b></div>
                        <div class="col-xs-10 criterion_description">Learner must answer all questions in the exercise correctly (not recommended for long exercises)</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2 criterion_name"><b>M out of N</b></div>
                        <div class="col-xs-10 criterion_description">Learner must answer M questions correctly from the last N questions answered (e.g. 3 out of 5 means learners need to answer 3 questions correctly out of the 5 most recently answered questions)</div>
                    </div>
                </div>
            </div>
            <div class="modal-body-bottom container-fluid">
    			<a class="action-button pull-right" data-dismiss="modal">
    	            <span>CLOSE</span>
    	        </a>
            </div>
        </div>
    </div>
</div>
</div>
