<div class="modal fade information_modal" id="prereq_modal"  tabindex="-1">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Prerequisites</h4>
        </div>
        <div class="modal-body">
        	<div class="modal-body-content">
                <p>If a learner finds this exercise difficult, you can help Kolibri recommend other exercises that will allow them to go back to and brush up their skills. The exercises you choose will appear appropriately in the various "Recommended" content sections in Kolibri.</p>
            </div>
            <div class="modal-body-bottom container-fluid">
    			<a class="action-button pull-right" data-dismiss="modal">
    	            <span>CLOSE</span>
    	        </a>
            </div>
        </div>
    </div>
</div>
</div>
