<div class="modal fade information_modal" id="prereq_modal"  tabindex="-1">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Prerequisites</h4>
        </div>
        <div class="modal-body">
        	<div class="modal-body-content">
                <p>Prerequisites help Kolibri recommend content that will allow learners to revisit key prior concepts, which may take the form of foundational skills or immediately relevant background information. For learners on Kolibri, these items will appear alongside the concept for recommended viewing.</p>
            </div>
            <div class="modal-body-bottom container-fluid">
    			<a class="action-button pull-right" data-dismiss="modal">
    	            <span>CLOSE</span>
    	        </a>
            </div>
        </div>
    </div>
</div>
</div>
