<!DOCTYPE HTML>
{% extends "settings/settings.html" %}
{% load staticfiles %}
{% load i18n %}
{% load render_bundle from webpack_loader %}

{% block js_bundle %}
	<script>
		var email = "{{current_user.email}}";
	</script>
	{% render_bundle 'settings' 'js' %}
{% endblock js_bundle %}

{% block settingscontent %}

<h4>{% trans "My Account" %}</h4>
<p>{% trans "Manage your account details." %}</p>
<hr/>
<div class="container-fluid">
	{% if form.errors %}
		<div class="alert alert-danger" role="alert">
			<ul class="list-unstyled">
			{% for field in form %}
				{% for error in field.errors %}
					<li>{{ error|escape }}</li>
				{% endfor %}
			{% endfor %}
			</ul>
		</div>
	{% elif request.method == 'POST' %}
		<div class="alert alert-success" role="alert">{% trans "Your password has been successfully changed." %}</div>
	{% endif %}
	<h5>{% trans "Change Password" %}</h5>
	<form method="post" action="{% url 'account_settings' %}">
		<div id="form-wrapper">
			{% csrf_token %}
			<div class="input-group settings_field">
			  <span class="input-group-addon">{% trans "Current Password" %}</span>
			  {{ form.old_password }}
			</div>
			<div class="input-group settings_field">
			  <span class="input-group-addon">{% trans "New Password" %}</span>
			  {{ form.new_password1 }}
			</div>
			<div class="input-group settings_field">
			  <span class="input-group-addon">{% trans "Verify Password" %}</span>
			  {{ form.new_password2 }}
			</div>
		</div>
		<br>
		<input id="save" class="action-button pull-right" type="submit" value="{% trans 'SUBMIT' %}" disabled/>
	</form>
	<br><br><br>
	<h5>{% trans "Export Information" %}</h5>
	<p>{% trans "You will be sent an email with all information linked to your account." %}</p>
	<br>
	<a id="export_data" class="action-button">{% trans "EXPORT MY DATA" %}</a>
	<br><br><br><br><br><br>
	<h5 id="delete-account">{% trans "Delete Account" %}</h5>
	{% if channels %}
		<p>{% trans 'You are the only editor for the following channels:' %}</p>
			<ul class="list-unstyled">
				{% for channel in channels %}
					<li><a class="action-text" href="{% url 'channel' channel.id %}">{{channel.name}}</a></li>
				{% endfor %}
			</ul>
		<p>{% trans 'You must delete these channels manually or invite others to these channels before you can delete your account.' %}</p>
	{% else %}
		<p>{% trans 'Remove your account from Kolibri Studio' %}</p>
		<br>
		<a class="delete-account-btn" data-toggle="modal" data-target="#deleteAccountModal">{% trans 'DELETE MY ACCOUNT' %}</a>
	{% endif %}
</div>

<div class="modal fade" id="deleteAccountModal" tabindex="-1" role="dialog" aria-labelledby="deleteAccountModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
	      	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        {% trans 'Deleting Account' %}
      </div>
      <div class="modal-body">
      	<p class="warning">{% trans 'Are you sure you want to permanently delete your account?' %}<br>{% trans 'THIS CANNOT BE UNDONE' %}</p>
      	<br>
      	<p><b>{% trans 'Enter your email to confirm:' %}</b></p>
      	<p>
      		<input type="text" id="email_confirm" autocomplete="off">
      	</p>
      	<br>
      	<div class="error text-center">
	      	{% trans 'There was an error deleting your account. Please try again.' %}<br>
	      	<span>{% blocktrans with email=policy_email%}If the problem persists, please email us at <a href="mailto:{{email}}">{{email}}</a>{% endblocktrans %}</span>
	      	<br>
	      	<br>
	      	<br>
	    </div>
      	<div>
      		<a class="delete-account-btn disabled pull-right" id="submit_delete_account" disabled>{% trans 'DELETE ACCOUNT' %}</a>
      		<span class="pending-delete pull-right">{% trans 'Deleting...' %}</span>
      		<button class="action-text cancel-delete" data-dismiss="modal">{% trans 'CANCEL' %}</button>
      	</div>
      </div>
    </div>
  </div>
</div>
{% endblock settingscontent %}
