<!DOCTYPE HTML>
{% extends "settings/settings.html" %}
{% load staticfiles %}
{% load translation_tags %}
{% load license_tags %}
{% load i18n %}

{% block settingscontent %}
<div id="issue_report">
	<h4>{% trans "About the Kolibri Studio Beta" %}</h4>
	<p>{% blocktrans %}Kolibri Studio is Beta software, which means it is currently undergoing active development. As such, it is being regularly updated, and some changes could cause unexpected behavior or challenges (also known as "issues"). While we make every effort to ensure your work is saved and backed up, <b>during active development it's possible that some issues could cause data loss</b>, so we recommend you save and publish changes regularly, and notify us of issues as soon as they occur to help us resolve them. (See below for instructions on how to report issues.){% endblocktrans %}</p>
	<br/>
	<p>{% trans "We appreciate your patience and assistance as we work to improve Kolibri Studio and make it an even better tool for importing and curating educational content for Kolibri! " %}</p>
	<hr/>
	<div class="container-fluid">
		<h5>{% trans "Best Practices" %}</h5>
		<p>Here are some tips on how to use Kolibri Studio in Beta mode:</p>
		<ul id="best-practices">
			<li>{% trans 'Create smaller channels with fewer layers of the topic tree structure' %}</li>
			<li>{% trans 'Copy sub-sets of topics instead of whole channels at once (especially large channels)' %}</li>
			<li>{% trans 'Publish periodically to ensure that everything is properly backed up and saved' %}</li>
			<li>{% blocktrans %}Compress videos before uploading them (we recommend following <a class="link-text" target="_blank" href="https://github.com/ivanistheone/ricecooker/blob/master/docs/video_compression.md">these instructions</a>){% endblocktrans %}</li>
			<li>{% trans 'Report issues as you encounter them' %}</li>
		</ul>
		<br/>

		<h5>{% blocktrans with update_date=update_date|date:"m/d/Y"%}Notable Outstanding Issues (Updated: {{update_date}}){% endblocktrans %}</h5>
		<p><a class="link-text" target="_blank" href="https://github.com/learningequality/studio/issues/1052">{% trans "#1052 Reports of disappearing content" %}</a></p>
		<p>{% blocktrans %}Two users have reported isolated incidents where content they imported from another channel disappeared, leaving only empty topics and subtopics. In one report, the content later re-appeared. They did not experience these problems consistently, and the incidents may possibly involve issues with a slow or unstable internet connection. <b>If you run into this issue, please contact us as soon as possible and let us know as much information as you can remember.</b>{% endblocktrans %}</p>
		<br/>
		<p><a class="link-text" target="_blank" href="https://github.com/learningequality/studio/issues/1072">{% trans "#1072 Slow performance can lead to unexpected UI state" %}</a></p>
		<p>{% blocktrans %}Some operations in Studio are currently very slow, and so it may appear that the change you attempted to make timed out or did not take effect. In many cases, the change is still being processed and will appear once it is complete. If, after 5-10 minutes, the change still has not taken effect even after a browser refresh, please file an issue. We are working on solutions to these issues.{% endblocktrans %}</p>
		<br/>

		<h5>{% trans "Reporting Issues" %}</h5>
		<p>{% blocktrans %}To report an issue, please fill out the form below. If you are familiar with GitHub and have a GitHub account, you may alternatively report issues via our <a class="link-text" target="_blank" href="https://github.com/learningequality/studio/issues">GitHub Issue Tracker</a> (please be sure to fill out all relevant fields in the issue template).{% endblocktrans %}</p>
		<br/>

		{% if form.errors %}
			<ul class="errors text-center list-unstyled">
				{% for field in form %}
					{% for error in field.errors %}
						<li>{{ error|escape }}</li>
					{% endfor %}
				{% endfor %}
			</ul>
		{% elif messages %}
			{% for message in messages %}
			<div class="alert alert-success text-center" role="alert">
				{{message}}
			</div>
			{% endfor %}
		{% endif %}
		<div class="row issue_field">
			<div class="col-xs-4 text-right">
				{% trans "To" %}
			</div>
			<div class="col-xs-8"><input type="text" value="{{support_email}}" readonly></div>
		</div>
		<div class="row issue_field">
			<div class="col-xs-4 text-right">
				{% trans "From" %}
			</div>
			<div class="col-xs-8"><input type="text" value="{{user.email}}" readonly></div>
		</div>
		<form action="{% url 'issues_settings' %}" method="post" id="issue_report_form">
			{% csrf_token %}
			<div class="row issue_field">
				<div class="col-xs-4 text-right">
					{% trans "Operating System" %}<b class="required">*</b>
				</div>
				<div class="col-xs-8">{{ form.operating_system }}</div>
			</div>
			<div class="row issue_field">
				<div class="col-xs-4 text-right">
					{% trans "Browser" %}<b class="required">*</b>
				</div>
				<div class="col-xs-8">{{ form.browser }}</div>
			</div>
			<div class="row issue_field">
				<div class="col-xs-4 text-right">
					{% trans "Channel" %}<b class="required">*</b>
				</div>
				<div class="col-xs-8">{{ form.channel }}</div>
			</div>
			<div class="row issue_field">
				<div class="col-xs-4 text-right">
					{% trans "Description" %}<b class="required">*</b>
				</div>
				<div class="col-xs-8">{{ form.description }}</div>
			</div>
			<br>
			<div class="row">
				<div class="col-xs-12">
					<input id="send" class="action-button pull-right" type="submit" value="{% trans 'SUBMIT REPORT' %}"/>
				</div>
			</div>

		</form>
	</div>
</div>
{% endblock settingscontent %}
