<!DOCTYPE HTML>
{% extends "settings/settings.html" %}
{% load staticfiles %}
{% load i18n %}

{% block settingscontent %}
<h4>My Profile</h4>
<p>Change your profile information.</p>
<hr/>
<div class="container-fluid">
	<div class="input-group settings_field">
	  <span class="input-group-addon">Username</span>
	  <input type="text" class="form-control" value="{{user.email}}" disabled>
	</div>
	<div class="input-group settings_field">
	  <span class="input-group-addon">First Name</span>
	  <input type="text" class="form-control" value="{{user.first_name}}">
	</div>
	<div class="input-group settings_field">
	  <span class="input-group-addon">Last Name</span>
	  <input type="text" class="form-control" value="{{user.last_name}}">
	</div>
	<br>
	<button class="action-button pull-right" id="save" disabled>
		<span>No Changes Found</span>
	</button>
</div>
{% endblock settingscontent %}