<!DOCTYPE HTML>
{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
    <div id="settings-area" class="container-fluid">
		<div id="settings-nav" class="panel panel-default text-center pull-left">
		  	<div id="settings-options-heading" class="panel-heading">My Settings</div>
		    <div id="settings-options" class="list-group">
			  <a href="{% url 'profile_settings' %}" class="list-group-item {% if page = 'profile' %}active-option{% endif %}" id="profile_option">Profile</a>
			  <a href="{% url 'account_settings' %}" class="list-group-item {% if page = 'account' %}active-option{% endif %}" id="account_option">Account</a>
			  <a href="{% url 'tokens_settings' %}" class="list-group-item {% if page = 'tokens' %}active-option{% endif %}" id="tokens_option">Tokens</a>
			</div>
		</div>

		<div id="settings-page" class="container pull-left">
			{% block settingscontent %}{% endblock settingscontent %}
		</div>
	</div>

{% endblock content %}