<!DOCTYPE HTML>
{% extends "settings/settings.html" %}
{% load staticfiles %}
{% load i18n %}

{% block settingscontent %}
<h4>Access Tokens</h4>
<p>Get tokens for authentication.</p>
<hr/>
<ul id="settings-tokens-list" class="list-group">
	{% for token in tokens %}
	    <li class="list-group-item token row">
	    	<div class="col-xs-10">
		    	<input type="text" value="{{token}}" readonly id="{{token}}_value" >
		    </div>
			<input type="submit" class="btn action-button copy-token col-xs-2" value="COPY" id="{{token}}"/>
	    </li>
	{% endfor %}
</ul>
<script>
	$(".copy-token").on("click", function(event){
		copy_el = $("#" + event.target.id + "_value")[0];
		copy_el.focus();
		copy_el.select();
		try {
	    	document.execCommand("copy");
	    	$(event.target).val("Copied!");
	    	console.log(copy_el)
	    } catch(e) {
	    	console.log(e)
	        $(event.target).val("Copy Failed");
	    }
	    setTimeout(function(){
	    	$(event.target).val("COPY");
	    }, 2500);
	});
</script>
{% endblock settingscontent %}