<!DOCTYPE HTML>
{% extends "settings/settings.html" %}
{% load staticfiles %}
{% load i18n %}

{% block settingscontent %}
<h4>{% trans "Access Tokens" %}</h4>
<p>{% trans "Get tokens for authentication." %}</p>
<hr/>
<ul id="settings-tokens-list" class="list-group">
	{% for token in tokens %}
		<li class="list-group-item token row">
			<div class="col-xs-10">
				<input type="text" value="{{token}}" readonly id="{{token}}_value" >
			</div>
			<input type="submit" class="copy-token btn action-button col-xs-2" value="{% trans 'COPY' %}" id="{{token}}"/>
		</li>
	{% endfor %}
</ul>
<script>
	window.addEventListener('load', function(){
		let copyButtons = document.getElementsByClassName('copy-token');

		Array.from(copyButtons).forEach(button => {
			button.addEventListener('click', (event) => {
				let copyElement = document.getElementById(event.target.id + '_value');
				copyElement.focus();
				copyElement.select();
				try {
					document.execCommand("copy");
					button.value = "{% trans 'Copied!' %}";
				} catch(e) {
					// eslint-disable-next-line no-console
					console.warn(e)
					button.value = "{% trans 'Copy Failed' %}";
				}
				setTimeout(function(){
					button.value = "{% trans 'COPY' %}";
				}, 2500);
			})
		});
	});
</script>
{% endblock settingscontent %}
