<div class="dropzone_item text-center">
	<img data-dz-thumbnail alt="{{formatMessage (intlGet 'messages.no_preview')}}"/>
	<div class="progress_file_area row">
		<div class="col-xs-10">
			<div class="progress file_upload_progress" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
	    	<div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
	    </div>
		</div>
		<div class="col-xs-2">
			<i class="material-icons upload_cancel upload_option" data-dz-remove>not_interested</i>
		</div>
	</div>
</div>