{{#if model}}
    <img src="{{model.storage_url}}" id="thumbnail_preview_img">
{{else}}
    <div id="thumbnail_placeholder">{{formatMessage (intlGet 'messages.generate_thumbnail_text')}}</div>
{{/if}}