<div class="image_dropzone">
    <div class="thumbnail_img default_thumbnail_img text-center">{{formatMessage (intlGet 'messages.loading')}}</div>
    <div class="progress_area">
    	<div class="col-xs-9 file_upload_progress_wrapper">
			<div class="progress file_upload_progress" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
				<div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
			</div>
		</div>
		<div class="col-xs-3">
			<i class="material-icons upload_cancel upload_option" data-dz-remove>not_interested</i>
		</div>
    </div>
</div>