<div class="description">
    <div class="description_main wordwrap" style="display: inline;">{{first_part}}</div>
    <div class="overflow wordwrap" style="display: none;">{{overflow}}</div>
    {{#if overflow}}<a class="toggle_description" style="text-decoration: none; color: gray; font-weight: bold; display: inline;">{{more_text}}</a>{{/if}}
</div>
