<div id={{#if is_clipboard}}"clipboard"{{else}}{{#if edit}}"edit"{{else}}"preview"{{/if}}{{/if}}>
	<nav id="button_bar">
		<div id="disable-none-selected-wrapper">
			{{#if edit}}
				<div class="nav-button-container">
					<div class="nav-button edit_button disable-on-edit disable-none-selected"><span class="glyphicon glyphicon-pencil"></span></div>
					<a class="nav-label edit_button disable-on-edit disable-none-selected">Edit</a>
				</div>
			{{/if}}
				<div class="nav-button-container">
					<div class="nav-button copy_button disable-on-edit disable-none-selected"><span class="glyphicon glyphicon-duplicate"></span></div>
					<a class="nav-label copy_button disable-on-edit disable-none-selected">Copy</a>
				</div>
			{{#if edit}}
				<div class="nav-button-container">
					<div class="nav-button move_button disable-on-edit disable-none-selected"><span class="glyphicon glyphicon-move"></span></div>
					<a class="nav-label move_button disable-on-edit disable-none-selected">Move</a>
				</div>
				<div class="nav-button-container">
					<div class="nav-button delete_button disable-on-edit disable-none-selected"><span class="glyphicon glyphicon-remove"></span></div>
					<a class="nav-label delete_button disable-on-edit disable-none-selected">Delete</a>
				</div>
				<div class="nav-button-container">
					<div class="nav-button permissions_button disable-on-edit"><span class="glyphicon glyphicon-user"></span></div>
					<a class="nav-label permissions_button disable-on-edit">Invite</a>
				</div>
			{{/if}}
		</div>
		<div class="hide-details-container">
			<input type="checkbox" id="hide_details_checkbox"/>
			<label for="hide_details_checkbox">Hide details</label>
		</div>
	</nav>

	<div id="container-wrapper">
		{{#if is_clipboard}}
			<h1 id="clipboard_header">{{channel.name}} Clipboard</h1>
		{{/if}}
		<ul id="container_area" class="list-unstyled">
		</ul>
	</div>
</div>