<h2 class="text-center title-bar">{{topic.attributes.title}}</h2>
<div class="container-interior">
	<canvas class="pull-left"> </canvas>
</div>
<div class="top_border boundary">&nbsp;</div>
<ul class="content-list list-unstyled">
	{{#if edit_mode}}
		<li>
			<a class="btn btn-default add_content_button disable-on-edit" name="{{topic.attributes.title}}">
				<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
				ADD
			</a>
		</li>
	{{/if}}
	{{#each content_list}}
		<li class="content to_publish" id="{{id}}""></li>
	{{else}}<h5 class="default-item">No items found.</h5>
	{{/each}}
</ul>
<div class="bottom_border boundary">&nbsp;</div>
