<div id={{#if edit}}"edit"{{else}}"preview"{{/if}} class="container-fluid">
	<h3 id="container_area_title">{{#if is_clipboard}}Clipboard{{else}}{{channel.attributes.name}}{{/if}}</h3>
	{{#if edit}}
	<nav id="button_bar">
		{{#if is_clipboard}}<a class="btn btn-default disable-on-edit construction">Import to Channel</a>{{/if}}
		<div class="nav-button-container">
			<div class="nav-button edit_button disable-on-edit"><span class="glyphicon glyphicon-pencil"></span></div>
			<a class="nav-label edit_button disable-on-edit">Edit</a>
		</div>
		{{#unless is_clipboard}}
		<div class="nav-button-container">
			<div class="nav-button copy_button disable-on-edit"><span class="glyphicon glyphicon-duplicate"></span></div>
			<a class="nav-label copy_button disable-on-edit">Copy</a>
		</div>
		{{/unless}}
		<div class="nav-button-container">
			<div class="nav-button delete_button disable-on-edit"><span class="glyphicon glyphicon-remove"></span></div>
			<a class="nav-label delete_button disable-on-edit">Delete</a>
		</div>

		<!--<a class="btn btn-default undo_button disable-on-edit">Undo</a>
		<a class="btn btn-default redo_button disable-on-edit">Redo</a>-->
		<div class="hide-details-container">
			<input type="checkbox" id="hide_details_checkbox"/>
			<label for="hide_details_checkbox">Hide details</label>
		</div>
	</nav>
	{{else}}
		<h1>Select content to preview. 
			<input type="checkbox" id="hide_details_checkbox"/>
			<label for="hide_details_checkbox">Hide details</label>
		</h1>
	{{/if}}

	<!--<ol id="container-breadcrumb">
	  <li><a href="#">Home</a></li>
	  <li><a href="#">Library</a></li>
	  <li><a href="#">Library Library Library</a></li>
	  <li class="active"><a href="#">Data</a></li>
	</ol>-->
	
	<div id="container-wrapper">
		<ul id="container_area" class="list-unstyled">
		</ul>
	</div>

</div>