<div id={{#if edit}}"edit"{{else}}"preview"{{/if}} class="container-fluid">
	<h3 id="container_area_title">{{#if is_clipboard}}Clipboard{{else}}{{channel.attributes.name}}{{/if}}</h3>
	{{#if edit}}
	<nav id="button_bar">
		{{#if is_clipboard}}<a class="btn btn-default disable-on-edit construction">Import to Channel</a>{{/if}}
		{{#unless is_clipboard}}<a class="btn btn-default copy_button disable-on-edit">Copy Selected</a>{{/unless}}
		<a class="btn btn-default delete_button disable-on-edit">Delete Selected</a>
		<a class="btn btn-default edit_button disable-on-edit">Edit Selected</a>
		<!--<a class="btn btn-default undo_button disable-on-edit">Undo</a>
		<a class="btn btn-default redo_button disable-on-edit">Redo</a>-->
		<input type="checkbox" id="hide_details_checkbox"/>
		<label for="hide_details_checkbox">Hide details</label>
	</nav>
	{{else}}
		<h1>Select content to preview. 
			<input type="checkbox" id="hide_details_checkbox"/>
			<label for="hide_details_checkbox">Hide details</label>
		</h1>
	{{/if}}

	<ol id="container-breadcrumb">
	  <li><a href="#">Home</a></li>
	  <li><a href="#">Library</a></li>
	  <li><a href="#">Library Library Library</a></li>
	  <li class="active"><a href="#">Data</a></li>
	</ol>
	
	<div id="container-wrapper">
		<ul id="container_area" class="list-unstyled">
		</ul>
	</div>

</div>