<div id="container_{{index}}" class="container content-container pull-left">
	<canvas class="pull-left"> </canvas>
	<h2>{{title}}</h2>
	<nav>
		<a class="btn btn-default pull-left add_folder_button" name="{{title}}"><img src="/static/img/add.png" alt="new folder"/>New Folder</a>
		<a class="btn btn-default pull-left add_content_button" name="{{title}}"><img src="/static/img/add.png" alt="new content"/>New Content</a>
	</nav>
	<div class="content-list">
		<ul class="list-unstyled">
		</ul>
	</div>
</div>