<div id="edit" class="container-fluid">
	<nav id="button_bar" class="col-m-4">
		<a class="btn btn-default copy"><img src="/static/img/add_folder.png" alt="copy"/>Copy</a>
		<a class="btn btn-default delete"><img src="/static/img/delete.png" alt="delete"/>Delete</a>
	</nav>
	<div id="edit_container_area" class="container-fluid"></div>
</div>
