apiVersion: v1
kind: Secret
metadata:
  name: {{ template "studio.fullname" . }}
  labels:
    app: studio
    chart: {{ .Chart.Name }}
    release: {{ .Release.Name }}
type: Opaque
data:
  postmark-api-key: {{ .Values.studioApp.postmarkApiKey | default "" | b64enc }}
  redis-password: {{ .Values.redis.password | default "" | b64enc }}
  postgres-user: {{ index .Values "cloudsql-proxy" "credentials" "username" | b64enc }}
  postgres-password: {{ index .Values "cloudsql-proxy" "credentials" "password" | b64enc }}
  postgres-database: {{ index .Values "cloudsql-proxy" "credentials" "dbname" | b64enc }}
  {{ if .Values.sentry.dsnKey }}
  sentry-dsn-key: {{ .Values.sentry.dsnKey | b64enc }}
  {{ end }}
  {{ if .Values.studioProber.newrelicKey }}
  newrelic-key: !!str {{ .Values.studioProber.newrelicKey | default "" | b64enc }}
  newrelic-account-id: !!str {{ .Values.studioProber.newrelicAccountId | default "" | b64enc}}
  {{ end }}
  {{ if .Values.studioProber.loginProberUsername }}
  login-prober-username: {{ .Values.studioProber.loginProberUsername | default "" | b64enc}}
  login-prober-password: {{ .Values.studioProber.loginProberPassword | default "" | b64enc}}
  {{ end }}
