<span id="container_{{index}}" class="container content-container pull-left">
	<canvas class="pull-left"></canvas>
	<h2>{{title}}</h2>
	<div class="content-list">
		<ul class="list-unstyled">
		</ul>
	</div>
</span>