.studio-channels {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100%;
}

.no-channels {
  padding: 16px 0 0 16px;
  font-size: 24px;
}

.channels-body {
  width: 100%;
}

.cards {
  margin-top: 16px;
}
