.studio-channels {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100%;
}

.no-channels {
  padding: 16px 0 0 16px;
  font-size: 24px;
}

.channels-body {
  width: 100%;
}

.cards {
  margin-top: 16px;

  /* check this below class, this should be coming form KDS */
  ::v-deep .visuallyhidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;
  }
}
