<div id="archive_content">{{#if is_empty}}<div id="archive_empty_text">Archive is empty</div>{{/if}}</div>
<br/>
<div id="archive_bottom_container">
	<a class="action-text" data-dismiss="modal">
		<span>CLOSE</span>
	</a>
	<button disabled class="action-button pull-right" id="restore_content">
		Select content to restore...
	</button>
	<span id="archive_selected_count" class="pull-right"><em></em></span>
</div>