{{#if node.children}}
	<div id="menu_toggle_{{node.id}}" class="toggler material-icons">{{#if is_open}}arrow_drop_down{{else}}arrow_drop_up{{/if}}</div>
{{else}}
	<em class="archive_metadata modal-item-metadata-default">{{formatMessage (intlGet 'messages.empty')}}</em>
{{/if}}