{{#if node.children}}
	<div id="menu_toggle_{{node.id}}" class="toggler glyphicon glyphicon-triangle-{{#if is_open}}bottom{{else}}top{{/if}}"></div>
{{else}}
	<em class="archive_metadata modal-item-metadata-default">(empty)</em>
{{/if}}