<div id="archive_controls">
	<a class="pull-right action-text" id="delete_selected_button">
		<span class="glyphicon glyphicon-trash"></span>
		Delete Selected
	</a>
	<div id="select_all_area">
		<input type="checkbox" class="select_all" id="select_all_check"/>
		<label for="select_all_check">Select All</label>
	</div>
</div>
<div id="archive_content" class='modal-content-default'>
	{{#if is_empty}}<div class="empty_default">Deleted items will appear here...</div>{{/if}}
</div>
<br/>
<div id="archive_bottom_container" class="modal-bottom-content-default">
	<a class="action-text" data-dismiss="modal">
		<span>CLOSE</span>
	</a>
	<button disabled class="action-button pull-right disabled modal-main-action-button" id="restore_content">RESTORE</button>
	<span id="archive_selected_count" class="pull-right modal-status-text">Select item(s) to restore...</span>
</div>