<div class="modal fade" id="file_upload_modal"  tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div id="upload_steps" class="row steps_row">
                    <div class="col-xs-2">&nbsp;</div>
                    <div class="col-xs-2 text-center">
                        <span class="step_number active_number" id="upload_step_number">1</span>
                        <p>Upload Files</p>
                    </div>
                    <div class="col-xs-4">
                      <hr class="steps_divider"/>
                    </div>
                    <div class="col-xs-2 text-center">
                      <span class="step_number" id="metadata_step_number">2</span>
                      <p>Edit Metadata</p>
                    </div>
                    <div class="col-xs-2">&nbsp;</div>
                </div>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>