<div class="row">
    <div class="inline col-xs-4 preview_section"><div class="preview_thumbnail"></div></div>
    <div class="inline col-xs-8 format_section format_metadata_section">
    {{#if has_files}}
        <h4 class="format_editor_header">
            {{formatMessage (intlGet 'messages.files')}}
            <span class="pull-right file_size_metadata"><i class="material-icons">sd_storage</i> {{formatMessage (intlGet 'messages.total_size')}} <b class="format_size_text"></b></span>
        </h4>
        <div class="format_editor_list"><p>{{formatMessage (intlGet 'messages.loading')}}</p></div>
    {{/if}}
    </div>
</div>