<h4 class="format_editor_header">
    Files
    <span class="format_counter badge">0</span>
    <span id="{{node.cid}}_toggle_formats" class="glyphicon glyphicon-triangle-top expand_format_editor" aria-hidden="true"></span>
    <span class="pull-right file_size_metadata">Total Size: <em class="format_size_text"></em></span>
</h4>
<div class="format_editor_list"></div>