{{#if uploading}}
	<button disabled class="action-button pull-right go_to_formats disabled">
		<span>Add files to continue</span>
	</button>
{{/if}}
<a class="action-text" data-dismiss="modal">
	<span>CANCEL</span>
</a>
