{{#if uploading}}
    <button disabled class="action-button pull-right go_to_metadata disabled tab_item">Add files to continue</button>
	<button class="action-text file-upload-cancel tab_item" data-dismiss="modal">CANCEL</button>
	<div class="input-tab-control tab_item" data-next=".fileinput-button"></div>
{{/if}}