<div class="row uploaded_format_item format_item">
    <div class="inline col-xs-2 preview_section text-center"><div class="preview_thumbnail"></div></div>
    <div class="inline col-xs-9 format_section format_metadata_section">
        <input type="text" placeholder="Title *" class="name_content_input" value="{{node.title}}" tabindex="{{tab_index}}"/>
        <h4 class="format_editor_header">
            Files
            <span class="pull-right file_size_metadata">Total Size: <em class="format_size_text"></em></span>
        </h4>
        <div class="format_editor_list"><p>Loading...</p></div>
    </div>
    <div class="inline col-xs-1">
        <span class="glyphicon glyphicon-remove remove_from_dz" aria-hidden="true"></span>
    </div>
</div>