{{#if uploading}}
	<button disabled class="action-button pull-right go_to_metadata disabled">
		<span>Add files to continue</span>
	</button>
	<a class="action-text" data-dismiss="modal">
		<span>CANCEL</span>
	</a>
{{/if}}