<div class="container-fluid" id="show_unassigned_wrapper">
	<input type="checkbox" id="show_unassigned"/> <label for="show_unassigned">Only show files without an assigned format</label>
</div>
<ul id="file_upload_list" class="file_list list-unstyled">
	<li class="default-item">Loading...</li>
</ul>
<div class="input-tab-control" tabindex="{{last_tab_index}}" data-next=".go_to_upload"></div>