<h4 class="format_editor_header">
    Formats
    <span class="format_counter badge">0</span>
    <span class="glyphicon glyphicon-triangle-top expand_format_editor" aria-hidden="true"></span>
    <span class="pull-right file_size_metadata">Total Size: {{#format_file_size size}}{{/format_file_size}}</span>
</h4>
<div class="format_editor_list"></div>