{{#if uploading}}
    <button disabled class="action-button pull-right go_to_metadata disabled tab_item">{{formatMessage (intlGet 'messages.add_files')}}</button>
	<button class="action-text file-upload-cancel tab_item" data-dismiss="modal">{{formatMessage (intlGet 'messages.cancel')}}</button>
	<div class="input-tab-control tab_item" data-next=".fileinput-button"></div>
{{/if}}