<div class="modal fade" id="file_upload_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Uploading Files</h4>
                <div id="upload_steps" class="row">
                    <div class="col-xs-1">&nbsp;</div>
                    <div class="col-xs-2 text-center">
                        <span class="step_number active_number" id="upload_step_number">1</span>
                        <p>Upload</p>
                    </div>
                    <div class="col-xs-2">
                      <hr class="steps_divider"/>
                    </div>
                    <div class="col-xs-2 text-center">
                      <span class="step_number" id="formats_step_number">2</span>
                      <p>Format</p>
                    </div>
                    <div class="col-xs-2">
                      <hr class="steps_divider"/>
                    </div>
                    <div class="col-xs-2 text-center">
                      <span class="step_number" id="metadata_step_number">3</span>
                      <p>Metadata</p>
                    </div>
                    <div class="col-xs-1">&nbsp;</div>
                </div>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>