<span class="format_editor_file_name truncate" data-dz-name></span>
<em class="format_editor_selected_size">(<em data-dz-size></em>)</em>
<strong class="error text-danger truncate" data-dz-errormessage></strong>
