<span class="format_dropzone_item progress_area">
	<div class="format_editor_file_name_wrapper">
		<span data-dz-name class="format_editor_file_name truncate"></span>
		<em class="format_editor_selected_size"><span data-dz-size></span></em>
	</div>
	<div class="row">
		<div class="col-xs-9">
			<div class="progress file_upload_progress" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
	      		<div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
	    	</div>
		</div>
		<div class="col-xs-3">
			<i class="material-icons upload_cancel upload_option" data-dz-remove>not_interested</i>
		</div>
	</div>
</span>