<div class="col-xs-4 format_editor_format_name truncate multilanguage_folder" title="{{{translate id}}}">
  <span class="format_preset_name">{{{translate id}}}</span>
  <i id="format_item_{{id}}" class="toggler material-icons">expand_less</i>
</div>

<div id="format_item_{{id}}_sub" class="col-xs-12 subdirectory"></div>