<span class="format_dropzone_item">
	<div class="format_editor_file_name_wrapper">
		<span data-dz-name class="format_editor_file_name truncate"></span>
		<em class="format_editor_selected_size">(<span data-dz-size></span>)</em>
	</div>
  <p><strong class="error text-danger truncate" data-dz-errormessage></strong></p>
  <span class="glyphicon glyphicon-ban-circle upload_cancel pull-right upload_option" aria-hidden="true" data-dz-remove></span>
    <div class="progress file_upload_progress" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
      <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
    </div>
</span>