<div class="image_dropzone">
    <img class="thumbnail_img" data-dz-thumbnail alt="No preview available" src='{{src}}'/>
    <div class="progress_area">
       <span class="glyphicon glyphicon-ban-circle upload_cancel pull-right upload_option" aria-hidden="true" data-dz-remove></span>
        <div class="progress file_upload_progress" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
          <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
        </div>
    </div>
</div>