<div class="modal fade" id="thumbnail_modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Generate Thumbnail</h4>
            </div>
            <div class="modal-body">
                <div id="thumbnail_area">
                    <button id="generate_thumbnail" class="btn btn-default action-button">
                        GENERATE
                    </button>
                    <span id="generate_thumbnail_text">&nbsp;Loading...</span>
                    <div id="thumbnail_preview" class="text-center"></div>
                    <div id="thumbnail_buttons">
                        <button class="action-button pull-right" id="use_thumbnail">
                            <span>USE</span>
                        </button>
                        <a class="action-text" data-dismiss="modal">
                            <span>CANCEL</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
