<div id="import_from_channel_box"><div id="import_empty_text">Loading...</div></div>
<br/>
<div id="import_bottom_container">
	<a class="action-text" data-dismiss="modal">
		<span>CANCEL</span>
	</a>
	<button disabled class="action-button pull-right disabled" id="import_content_submit">
		Select content to import...
	</button>
	<span id="import_file_metadata" class="pull-right">
		<span id="import_file_count">0 Topics, 0 Resources</span>
		(<em id="import_file_size">0B</em>)
	</span>
</div>