<div id="preview_content_main" allowfullscreen>
<div class="row">
    <div class="btn-group col-sm-6">
      <button class="btn btn-default btn-sm dropdown-toggle truncate preview_format_switch btn-preview" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{formatMessage (intlGet 'messages.no_preview')}}
      </button>
      <ul class="dropdown-menu" id="preview_tabs_dropdown"></ul>
    </div>
    <div class="col-sm-6">
      <a class="btn btn-default view_fullscreen btn-preview truncate" title="{{formatMessage (intlGet 'messages.show_fullscreen')}}">{{formatMessage (intlGet 'messages.show_fullscreen')}}</a>
    </div>
</div>

<div id="preview_window" class="list-unstyled text-center">
    {{#unless file}}
    <div class="container-fluid">
        <h5 class="default_preview_text text-center"><em>{{formatMessage (intlGet 'messages.select_file')}}</em></h5>
    </div>
    {{/unless}}
</div>
</div>