<div id="preview_modal_wrapper">
  <div class="modal fade preview_modal"  tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content"  id="preview_modal_content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title" title="{{node.attributes.title}}">{{node.title}}</h3>
        </div>
        <div class="modal-body">
        </div>
      </div>
    </div>
  </div>
</div>