<div class="modal fade" id="export_modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Publishing {{channel.name}}</h4>
            </div>
            <div class="modal-body">
                <div id="export_area">
                    <div class="input-tab-control" tabindex="1" data-next="#export_cancel"></div>
                    <div class="input-tab-control" tabindex="4" data-next="#publish_btn"></div>
                    <em >PUBLISH ID: {{channel.id}}</em>
                    <em class="pull-right" id="version_number">Current Version: {{version}}</em>
                    <h4>The following content will be published:</h4>
                    <div id="export_preview"></div>
                    <div id="export_buttons">
                        <button class="action-button pull-right" id="publish_btn" tabindex="2" >
                            <span>PUBLISH</span>
                        </button>
                        <span id="export_totals" class="pull-right">
                            {{#format_count "Resource" node.metadata.resource_count}}{{/format_count}}
                            <em class="annotation">({{#format_file_size node.metadata.resource_size}}{{/format_file_size}})</em>
                        </span>
                        <a class="action-text" id="export_cancel" data-dismiss="modal" tabindex="3" >
                            <span>CANCEL</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="modal fade" id="license_modal"></div> -->
