<div id="clipboard" class="pull-right">
	<div class="clipboard_header">
		<h3>
			<span class="pull-left glyphicon glyphicon-folder-open"></span>
			Adding Content to Topic
			<span class="toggle_clipboard pull-right glyphicon glyphicon-remove" aria-hidden="true"></span>
		</h3>
	</div>
	<nav class="clipboard_navigation text-center btn-group btn-group-justified" role="group">
		<a class="btn btn-defult" id="source_nav">Source</a>
		<a class="btn btn-defult" id="choose_nav">Choose Content</a>
		<a class="btn btn-defult" id="meta_nav">Metadata</a>
	</nav>
	<div id="clipboard_content"></div>
</div>