@import "global-variables.less";
@import "modal-styles.less";

#archive_modal_content{
	@archive-list-width: @uploader-width - 30px;
	@highlight-color: #E6E6E6;

	#delete_selected_button{
		color:@red-error-color !important;
	}
	#select_all_area{
		cursor:pointer;
	}
	#archive_content{
		width: @archive-list-width;
		overflow: hidden;
		height:auto;

		.archive-list{
			padding-left:5px;
			margin-left: 15px;
			li{
				.item_wrapper{
					min-width:@archive-list-width / 2;
					width: -moz-max-content;
					width: -webkit-max-content;
					width: max-content;
				}
				.archive_item{
					width:85%;
					.archive_item_title{
						max-width:@archive-list-width;
					}
					.restore_content, .delete_content{
						visibility:hidden;
						padding: 5px;
    					margin-left: 15px;
					}
					.restore_content{
						-moz-transform: scaleX(-1);    /* Gecko */
						-o-transform: scaleX(-1);      /* Opera */
						-webkit-transform: scaleX(-1); /* Webkit */
						transform: scaleX(-1);         /* Standard */
						filter: FlipH;                 /* IE 6/7/8 */
					}
				}
				.item_wrapper:hover{
					background-color: @highlight-color;
					>.archive_item .delete_content, >.archive_item .restore_content{
						visibility:visible;
					}
				}
			}
			.disabled{
				.delete_content, .restore_content{
					visibility:hidden !important;
				}
			}


		}
		>.archive-list{
			margin-left:0px;
		}

	}
}
