@import "global-variables.less";

#container-wrapper{overflow:auto;}
a{text-decoration:none;color:black;}

.content-container{
	*{padding:0;margin:0;}
	::-webkit-scrollbar { display: none; }
	background-color: @container-background-color; 
	height:  @container-height;
	min-height: @container-min-height; 
	margin-bottom: 30px;
	display:inline-block;
	padding:0;
	width: @container-width;
	position:relative;
	
	canvas{
		position:absolute;
		height:@container-height;
		min-height: @container-min-height; 
	}
	h2{
		width: 100%;
		font-size: 25px;
		padding-top:10px;
		height:50px;
	}
	.default-item{
		font-style:italic;
		margin-left: 30px;
		margin-left: @sidebar-width;
		font-size: 20px;
	}
	.content-list{
		overflow-y: auto;
		overflow-x:hidden;
		width:100%;
		height:90%;
		input[type="radio"]{display:none;}
		ul{
			position: relative;
			span{display:none;}
			label{
				vertical-align: middle;
				font-weight: normal;
				cursor:pointer;
				padding:0;
			}
			.folder{
				background-color: @folder-color;
				box-shadow: -3px 3px 3px @folder-shadow;
				font-size: 18px;
				height: @folder-height;
				margin-left: 20px;margin-top: 10px;
				*{padding-right:10px}
				h3{
					height: @folder-height - 65px;
					padding-left: 10px;
				}
				p{
					font-style: italic;
					font-size:14px;
					height:65px;
					padding-left:10px;
				}
			}
			.file{
				font-size: 18px;
				margin-left: 20px;
				margin-top: 10px;
				border-radius: 10px;
				background-color:transparent;
				h4{padding:10px;}
			}
			input[type=checkbox]:checked + .file,
			input[type="radio"]:checked+.file,
			.file:hover{
				background-color: @highlighted-file;
			}
		}
	}
}