/* GLOBAL VARIABLES */
@icon-font-path: "/static/fonts/";

@font-face {
	font-family: "Noto Sans";
	src: url("@{icon-font-path}NotoSans-Regular.ttf") format("truetype");
}

/* ICONS AND BUTTONS */
@topnav-active-tab-color:#564462; 
.action-button {
  background: @blue-500;
  color: white;
  padding: 6px 16px;
  border: none;
  border-radius: 2px;
}
.action-text {
  color: @blue-500;
  font-weight: bold;
  padding: 6px 16px;
}

/* TYPOGRAPHY */
@title: 24px;
@larger-body-text: 16px;
@body-text: 14px;
@annotation-text: 12px;


@body-font-color: #30302F;
@annotation-gray: #A4A4A4;
@gray-700: #616161;
@gray-800: #424242;
@error-input-color : #F6CECE;
@delete-color: #FF5252;

/* CONTAINERS */
@body-background: #FAFAFA;
@panel-container-color: #EEEEEE;
@topnav-bg-color: #816793;
@box-shadow: 0 0 2px 0px rgba(0,0,0,0.4);
.input-form {
  color: @body-font-color;
  background: @body-background;
  border: none;
  border-bottom: 1px solid #BDBDBD;
  &:focus {
    outline: none;
    border-bottom: 2px solid @blue-700;
  }
}

/* COLOR PALETTE */
@blue-100: #BBDEFB;
@blue-500: #2196F3;
@blue-700: #1976D2;
@blue-900: #0D47A1;

/* GLOBAL STYLES */
.inline-block {
	display: inline-block;
}
a {
  text-decoration: none;
}
body {
	background: @body-background;
}

body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 999999999999999;
}

ul li.placeholder {
  position: relative;
}
ul li.placeholder:before {
  position: absolute;
}

.error_input{
  background-color :@error-input-color;
}

.construction{
  cursor: not-allowed;
  opacity:0.6;
}

.btn, a {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px;
  margin-left:-100px;
  position: relative;
}
 
::-webkit-scrollbar-track {
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
}
 
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);*/
   background-color:gray;
}