@import "global-variables.less";

@uploader-width: 850px;
@metadata-width: 850px;
@uploader-background-color:#D8D8D8;
@uploader-height: 600px;
@uploader-header-color:#848484;
@uploader-option-size: (@uploader-width - 100px) /2;
@uploader-list-height: 200px;
@uploader-preview-bg-color: #585858;
@uploader-grayed-out-color: #BDBDBD;

.modal{
	padding-top:20px;
	z-index: 99999;
}

.steps_row{
	margin-top:10px;
	.step_number {
		border-radius:30px;
		border:2px solid @blue-500;
		color: @blue-500;
		font-size:11pt;
		padding: 5px 10px;
	}
	.active_number{
		color:white;
		background-color: @blue-500;
	}
	p{
		margin-top: 10px;

		color:@blue-500;
		font-size:11pt;
	}

	.steps_divider{
		border-top: dotted 3px @blue-500;
	}
}

.file-row{
	width:100%;
	padding: 0 25px;
	/*.inline{
		display:inline-block;
		vertical-align: middle;
		word-wrap:break-word;
		.name{
			margin-top:10px;
		}
	}*/
	.file_upload_progress{
		height:15px;
	}
	div .name {
		font-weight: bold;
	}
}
.dz-remove {
	position: relative;
	bottom: 18px;
	margin-left: 25px;
}
.progress-bar-success {
	background: @blue-200;
}

.modal-body{
	width:auto;
}

.modal-header{
	border: none;
	padding-bottom: 5px;
	.glyphicon{
		margin-right:15px;
	}
}

.modal-title{
	max-width:80%;
}

.modal-dialog{
	width: @uploader-width;
	margin-top:5%;
}

.modal-dialog-default{
	background-color:@gray-200;
	padding:10px;
	.empty_default{
		margin-top:20%;
		text-align: center;
		color:@gray-400;
		font-size:14pt;
		font-weight:bold;
		font-style:italic;
	}
	.modal-content-default{
		@modal-list-item-height: 30px;
		min-height: 400px;
		overflow:auto;
		background-color:white;
		padding:0px;
		margin-bottom: 20px;
		display:inline-block;

		.modal-list-default{
			height:auto;
			margin:0px;
			padding:0px;
			list-style:none;
			border-left:2px solid @blue-500;
			width: -moz-max-content;
			width: -webkit-max-content;
			width: max-content;

			.modal-list-item-default{
				input[type=checkbox], input[type=radio]{
					display:inline-block;
					width:16px;
					height:16px;
					vertical-align:middle;
					margin: 0px 4px;
					cursor:pointer;
					margin-left:10px;
				}
				input[type=radio]:checked + label, input[type=checkbox]:checked + label{
					font-weight:bold;
					.selected_counter{
						visibility:visible !important;
					}
				}
				label{
					cursor:pointer;
					font-size:16px;
					vertical-align:middle;
					margin:0px;
					height:@modal-list-item-height;
					font-weight:normal;
					*{
						display:inline-block;
						vertical-align:middle;
					}
					.modal-item-title-default{
						margin-right:15px;
						font-size:13pt;
						overflow:hidden;
						-webkit-touch-callout: none;
						-webkit-user-select: none;
						-khtml-user-select: none;
						-moz-user-select: none;
						-ms-user-select: none;
						user-select: none;
					}
					.tog_folder.glyphicon{
						font-size:11pt;
						padding: 5px;
						display:inline-block;
					}
					.tog_folder{
						cursor:pointer;
					}
					.selected_counter{
						margin-left:10px;
						background-color: @blue-500;
						visibility:hidden;
					}
				}
				.subdirectory{
					display:none;
				}

				.modal-item-metadata-default{
					font-size: 10pt;
					color:gray;
				}
			}
			.disabled{
				color:@gray-700;
				input[type=checkbox]{
					cursor:not-allowed !important;
				}
				.selected_counter{
					background-color:@gray-400 !important;
				}
			}
		}
	}

	.modal-bottom-content-default{
		height:50px;
		.modal-main-action-button{
			margin-right:20px;
		}
		.modal-status-text{
			margin-right:20px;
			font-size:12pt;
			margin-top:2px;
			font-style:italic;
			max-width:@uploader-width / 2.5;
			overflow:hidden;
		}
	}
}


div#dropzone {
	min-height: 150px;
}


.dz_click{
/*	margin-right:10px;*/
	cursor:pointer;
}


.default_preview{
	background-color: @uploader-preview-bg-color;
	min-height:300px;
	.default_preview_text{
		margin-top:30%;
		color:white;
	}
}

.image_preview{
	margin-top:20px;
	max-width:100%;
	max-height:90%;
}

.document_preview{
	width:100% !important;
	height:100%;
	min-height:300px;
}

.audio_preview{
	width:100%;
	margin-top:20%;
}

.video_preview{
	margin-top:20px;
	max-width:100%;
	max-height:90%;
}
video::-webkit-media-controls-fullscreen-button {
    display: none;
}

#preview_modal_content{
	.modal-title{
		margin:0;
	}
	.document_preview{
		min-height:600px;
	}
}

#preview_tabs_dropdown{
	margin-top:-2px;
	margin-left:15px;
	width:90%;
}
.preview_btn_tab{
	font-size:10pt;
	width:100%;
	padding:10px;
}
.preview_btn_tab:hover{
	background-color: @gray-200;
}

.view_fullscreen{
	width:100%;
}

#preview_format_switch{
	font-size:11pt;
	width:100%;
}

.preview_on{
	height:100vh !important;
	width:100vw !important;
	padding:20px !important;
	background-color:white !important;
	.document_preview{
		width:100% !important;
		height:90vh !important;
		margin-top:10px !important;
	}
	.image_preview{
		max-width:100% !important;
		max-height:90vh !important;
	}
	.audio_preview{
		width:100% !important;
		margin-top:40% !important;
	}

	.video_preview{
		margin-top:20px !important;
		width:100% !important;
		max-height:90vh !important;
	}
}