@import "global-variables.less";
@import "modal-styles.less";
@import "selected.less";


#related_content_wrapper{
	min-height: 350px;
	.select_item.disabled{ cursor: pointer !important; }
	.prerequisites_header{ margin-bottom: 10px; font-weight:bold;}
	.empty_default {
		display: none;
	}
	.select_topic_img{
		height: 15px;
		margin-top: -10px;
		margin-left: 20px;
		margin-right: 5px;
	}
	#prerequisite_current_item{
		font-size: 14pt;
		font-weight: bold;
		.glyphicon { font-size: 12pt; }
	}
	.cancel_selection{ margin-left: 10px; }
	.prerequisite_help_text{
		font-weight: normal;
		margin: 5px 0px;
		#prereq_about{
			color: @blue-500;
			cursor: pointer;
			vertical-align: text-bottom;
			font-size: 16pt;
		}
	}
	.select_main_box {
		overflow-x: hidden;
		.prereq_header_row {
			font-size: 10pt;
			color: @gray-700;
		}
		.prereq_row{
			cursor: default;
			font-size: 12pt;
			border-bottom: 1px solid @gray-300;
			&:hover{ background-color: @gray-200; }
			.prereq_title{
				font-weight: bold;
				padding: 15px 0px;
			}
			.prereq_cell, .remove_prereq, .add_prereq{ padding: 15px; }
			.remove_prereq { cursor: pointer; }
			.add_warning {
				font-size: 10pt;
				font-style: italic;
			}
		}
	}

	@selected-container-width: 100%;
	#selector_box {
		width: 3 * @selected-container-width;
		margin-left: -@selected-container-width;
		text-align: center;
		.selector_placeholder, .related_list_wrapper {
			display: inline-table;
			width: @selected-container-width / 3;
			position: relative;
		}
		.related_list_wrapper {
			text-align: left;
			.selector-container{
				margin-top: 10px;
				background-color: @gray-200;
				padding: 5px;
				margin: 10px;

				.title-bar {
					margin: 0px;
					font-size: 16pt;
					font-weight: bold;
					margin-bottom: 10px;
					padding-left: 10px;
					padding-top: 10px;
					.container-title{
						max-width: 85%;
						display: inline-block;
					}
					.back_button {
						vertical-align: text-top;
						cursor: pointer;
						margin-right: 20px;
					}
				}
				.select-list {
					background-color: white;
					min-height: 350px;
					border: 1px solid @gray-400;
					.topic_item{
						font-weight: bold;
						cursor: pointer;
					}
				}
			}
		}
	}
}
