@import "global-variables.less";

#queue {
	@queue-width:400px;
	@queue-color: black;
	@queue-background-color:@gray-300;
	@queue-min-height: 575px;
	@queue-list-item-height: 40px;
	@highlight-color: #E6E6E6;
	@placeholder-color:#666666;

	padding-left: 5vw;
	&.closed {
		#main-queue, #queue-back{ display: none; }
	}
	&.opened {
		#main-queue, #queue-back{ display: block; }
		.queue-button { background-color: @queue-background-color; }
	}

	.queue-button{
		cursor:pointer;
		font-size: 12pt;
		font-weight: bold;
		color: @queue-color;
		background-color: transparent;
		border-radius: 0px;
		&:hover { color: @queue-color; }
		.badge{
			background-color: @blue-500;
			color:white;
			padding: 2px 10px !important;
		}
	}
	.button_drop{
		padding: 30px 10px 70px 50px;
	    position: fixed;
	    z-index: 999;
	    margin-top: -25px;
	    .drop_text{
	    	visibility: hidden;
	    	font-size: 10pt;
	    	color: @blue-500
	    }
	    &.ui-droppable-active {
	    	.drop_text{ visibility: visible; }
	    	.queue-button{ border: 3px solid @blue-500; }
	    }
	    &.drop-button-hover .queue-button{
			background-color: blanchedalmond !important;
		}
	}

	#queue-back {
		position: fixed;
	    height: 90vh;
	    width: 100vw;
	    left: 0em;
	    z-index: 900;
	    cursor: default;
	}
	#main-queue{
		border-radius: 0px;
		width: @queue-width;
		padding: 5px;
		min-height: @queue-min-height;
		background-color: @queue-background-color;
		position: absolute;
    	z-index: 999;
    	margin-top: 40px;
    	margin-left: 50px;
		.queue-interior{
			background-color: white;
			min-height:@queue-min-height;
			padding: 5px;
			hr{ margin: 10px 0px; }
			.clipboard_options a{
				.action-text;
				padding: 2px;
			}
			.select_all{
				width:16px;
				height:16px;
				margin-left:7px;
				cursor:pointer;
			}
			.select_all+label{
				font-size:10pt;
				cursor:pointer;
				margin-bottom: -3px;
			}
			#queue_content{
				overflow:hidden;
				.list_content{
					width: 100%;
					height:100%;
					padding-top:20px;
					padding-bottom:95px;
					margin-top: 10px;
					&#clipboard_list {
						height: @queue-min-height;
						overflow: auto;
						padding: 0;
					}
					.default-item{
						padding:10px;
						&.clipboard_empty { padding-top: 35%; }
					}
					li{
						padding-top:5px;
						padding-left:5px;
						min-width:@queue-width - 32px;
						background-color: white;
						.popover{ visibility: collapse; }
						&:hover {
							&.queue-item{ background-color: @highlight-color; }
							.popover{ visibility: visible; }
						}
						&.queue-item:hover
						&.draggable .hide_on_drag{ display: none; }

						input[type=checkbox]{
							display:inline-block;
							width:20px;
							height:20px;
							vertical-align:middle;
							cursor:pointer;
						}
						label{
							*{ vertical-align: middle; display:inline; }
							font-size:16px;
							cursor:pointer;
							width:@queue-width - 70px;
							.content-item-icon{ padding-left:5px; }
							.toggle-icon{ padding: 5px; }
							&:hover .content-options-dropdown{ visibility:visible; }
							.content-options-dropdown{
								visibility:hidden;
								margin: 15px 10px 0 0;
							}
							.queue_item_title{
								overflow:hidden;
								max-width:60%;
								display:inline-block;
								margin-left:5px;
								color: black;
							}
							.clipboard-topic-count{
								background-color:@blue-200;
								padding:1px 5px;
								margin-top:10px;
							}
						}
					}
				}
				.subdirectory{
					display:none;
					padding-left:20px;
				}
			}
		}
	}
}

.popover{
	border-radius: 0;
	margin-top: 15px;
	.arrow{top:40% !important;}
	.popover-content {
		padding:0px;
		.option{
			display: block !important;
			min-width:50px;
			padding:5px 20px;
			border:none;
			font-size:12pt;
			&:hover{
				font-weight:bold;
				background-color: @gray-200;
			}
		}
	}
	>.arrow {
	    margin-top: -26px;
	}
}
.context-menu {
	display:none;
	cursor:pointer;
	position: absolute;
	z-index: 10;
	background-color: white;
	border:1px solid @gray-200;
	border-width:thin;
	.context-option{
		padding:5px 10px;
		font-size:12pt;
	}
	.context-option:hover{
		font-weight:bold;
		background-color: @gray-200;
	}
	&.init, &:focus{ display:block; }
}
