@import "global-variables.less";
@import "modal-styles.less";

#sync_modal_content{
	@move-list-item-height: 30px;
	@highlight-color: #E6E6E6;
	background-color:@gray-200;
	.sync_header{
    	font-size: 13pt;
    	font-weight:bold;
    	&:first-child{ padding-left: 25px; }
    	.sync_helper{
    		font-size: 11pt;
		    font-style: italic;
		    font-weight: normal;
    	}
    }
	.modal-body{ padding-top: 0px; }
	.sync_section_wrapper {
	    display: flex;
  		flex-wrap: wrap;
	    width:100%;
	    .sync_section{
			min-height: 400px;
			padding:10px;
		    display: flex;
  			flex-direction: column;
		}
	}

	.sync_container{
		background-color:white;
		overflow:auto;
		height: 100%;
		position:relative;
		#sync_original_channel_header{
			font-size: 10pt;
		    font-style: italic;
		    background-color: @blue-000;
		    padding: 5px;
		    bottom: 0em;
		    position: absolute;
		    width: 100%;
		}
		#sync_preview_diff{
			cursor: default;
			.item{
				margin:0px;
				padding-top: 5px;
				&:hover{ background-color: @gray-100; font-weight:bold;}
				&.item_header{
					background-color: @blue-100;
					padding-bottom: 3px;
					font-weight: bold;
					font-size: 12pt;
				}
				&.item_sub_header{
					background-color: @blue-000;
					padding-bottom: 3px;
				}
				.item_field_title{
					text-align: center;
					font-size: 11pt;
				}
				.item_field{
					margin-bottom: 5px;
					.original{ color:@red-error-color; }
					.updated{ color:mediumseagreen; }
				}
			}
		}
		.sync-list{
			.sync_list_item{
				padding: 3px 5px;
				cursor: pointer;
				* { cursor: pointer; }
				&:hover{ background-color:@gray-100; font-weight: bold; }
				input[type='checkbox']{
					height: 16px;
					width: 16px;
				}
				label{
					padding-left: 5px;
					img{
						width: 16px;
	    				margin-top: -7px;
					}
					.sync_item_title {
						display: inline-block;
		    			font-weight: normal;
		    			font-size: 12pt;
		    			max-width: 180px;
		    			margin-bottom: -4px;
					}
				}

			}
		}
	}
	#sync_bottom_container{
		min-height:30px;
		#sync_status{ font-style: italic; margin-right: 20px; }
		#sync_content_button{ margin-right:20px; }
	}
}
