@import "global-variables.less";
@import "modal-styles.less";

#sync_modal_content{
	@move-list-item-height: 30px;
	@highlight-color: #E6E6E6;
	background-color:@gray-200;
	.sync_header{
    	font-size: 13pt;
    	font-weight:bold;
    	&:first-child{ padding-left: 25px; }
    	.sync_helper{
    		font-size: 11pt;
		    font-style: italic;
		    font-weight: normal;
    	}
    }
	.modal-body{ padding-top: 0px; }
	.sync_section_wrapper {
	    display: flex;
  		flex-wrap: wrap;
	    width:100%;
	    .sync_section{
			min-height: 400px;
			padding:10px;
		    display: flex;
  			flex-direction: column;
		}
	}

	.sync_container{
		background-color:white;
		overflow:auto;
		height: 100%;
		position:relative;
		#sync_original_channel_header{
			font-size: 10pt;
		    font-style: italic;
		    background-color: @blue-000;
		    padding: 5px;
		    bottom: 0em;
		    position: absolute;
		    width: 100%;
		}
		#sync_preview_diff{
			cursor: default;
			.item{
				margin:0px;
				padding-top: 5px;
				&:hover{ background-color: cornsilk; }
				&.item_header{
					background-color: @gray-300;
					padding-bottom: 3px;
					font-weight: bold;
				}
				.item_field_title{
					text-align: center;
					font-weight: bold;
					font-size: 11pt;
				}
				.item_field{
					margin-bottom: 5px;
					.original{ color:@red-error-color; }
					.updated{ color:mediumseagreen; }
				}
			}
		}





		.to-move-list{
			border-left:2px solid @gray-400;
		}
		.target-list{
			border-left:2px solid @blue-500;
			margin-left: 10px;
		}
		.to-move-list .move_item_title, .disabled{
			color:@gray-700;
		}
	}

	#target_list_area > .target-list{
		margin-left: 0px;
	}

	#sync_bottom_container{
		min-height:30px;
		#sync_content_button{ margin-right:20px; }
	}
}