@import "global-variables.less";
@import "modal-styles.less";

.format_editor_file_name:hover{
	font-weight:bold;
	cursor:pointer;
}

@invalid-color: #FFA9A9;

#metadata{
	width: 100%;
	padding: 0px;
	.section{ height:100%; }
	.edit_details_section{ width:100%; }
	.tree_section{
		margin-right:10px;
		margin-bottom: 30px;
	}
	.tab_button{ display:none; }
	#uploader_select_all{
		margin-left:20px;
		*{ cursor:pointer; }
	}
	#uploader-default-prompt{
		min-height:@uploader-height - 200px;
		padding-top:40%;
		font-size:12pt;
		font-weight: bold;
		color:@gray-400;
	}
	#uploader-count-message, .uploader-copied-warning{
		font-size:10pt;
		font-style:italic;
		color:@gray-700;
		text-align: center;
	}
	#uploader-count-message{
		font-weight: bold;
		font-size:11pt;
	}
	hr{ margin: 5px 0px; }
	nav a.btn-tab-active {
		font-weight: bold;
	    border-bottom: 2px solid @body-font-color;
	    border-radius: 0;
	    padding: 1px 2px;
	}
	nav a {
		color: @body-font-color;
		font-size: @larger-body-text;
		&:hover { font-weight: bold; }
	}
	.metadata_panel {
		height: 100%;
		padding: 10px 0;
		margin-bottom: 30px;
		overflow:hidden;
		#editor_errors {
		    font-weight: bold;
		    padding: 5px;
		    display: none;
		}
		#metadata_placeholder{
			min-height: 300px;
			padding-top: 15%;
		    font-size: 14pt;
		    font-weight: bold;
		    color: @gray-400;
		}
		.file_editor_row{ margin:0px; }
		#title_error{ display:none; }
		h4, #language_label {
			font-size: 13px;
			color: @gray-800;
			margin-top: 5px;
			font-weight: bold;
			.help_icon {
				font-size: 12pt;
			}
		}
		.detail_field{
			font-size: 12pt;
			margin-bottom: 25px;
			.default_detail_field{
				color: @gray-700;
				font-style: italic;
			}
		}
		.helper_text {
			font-style: italic;
			margin-top: -5px;
			font-size: 10pt;
		}
		#imported_from_field {
			font-weight: bold;
		    color: @gray-500;
		    font-size: 10pt;
		}
		.original_channel_link { text-decoration: none; }
		#mastery_custom_criterion{
			margin-left:15px;
			input{
				padding-left:3px;
				max-width: 40px;
			}
		}
		#freeze_authoring_data{
			width: 15px;
			height: 15px;
			margin-right: 10px;
			+ label {
				width: 250px;
				vertical-align: middle;
				font-weight: normal;
				font-size: 10pt;
			}
		}
		#license_select{
			margin-top:5px;
			padding: 0px 2px;
			max-width: 80%;
			margin-bottom: 10px;
		}
		.help_icon{
			font-size:16pt;
			margin-left:5px;
			cursor:pointer;
			color: @blue-500;
			vertical-align: sub;
		}
		#license_about{ display:none; }
		#keywords { margin-bottom: 8px; }
		#tag_error{
			color:@red-error-color;
			font-weight:bold;
			display:none;
		}
		input[type="text"], textarea {
			padding: 2px 0;
			margin-bottom: 30px;
			font-size: @larger-body-text;
			width:100%;
			.input-form;
		}
		select{ margin-bottom: 25px; }
		#description_counter{
			color:gray;
			font-style:italic;
			font-size:9pt;
		}
		#custom_license_description{
			&.input_listener{
				margin-top: 5px;
				border: 1px solid @gray-400;
				padding: 5px;
				display: none;
			}
			&.license_description_text{
				color: @gray-700;
				font-style:italic;
			}
		}
		.invalid_field { background-color: @invalid-color !important; }
	}
	#metadata_questions {
		padding: 0px;
	}
	#metadata_preview{
		display:none;
		overflow-y:auto;
		min-height:@uploader-height - 190px;
		max-width:90%;
		h3{
			font-size:14pt;
			font-weight:bold;
			margin:0;
			margin-bottom:5px;
		}
	}
	#edit_details_wrapper{
		/*height:@uploader-height * 0.7;*/
		padding-right:10px;
		overflow-y:auto;
		overflow-x:hidden;
		padding-left: 3px;
	}
	#hidden_node{ display:none; }

	#preview_window{ width:100%; }
	#uploaded_list_wrapper{
		width: @metadata-width * 0.28;
		min-height: 200px;
		margin-bottom: 20px;
		background-color:white;
		overflow-y:auto;
		overflow-x:none;
		margin: 10px;
		.content-item-icon{
			display: inline-block;
			i {
				font-size: 14pt;
				margin-left: 5px;
			}
		}
		#add_topic_button{
			margin-top:5px;
			width:100%;
			border:1px solid @blue-500;
			text-decoration: none;
			text-align: center;
		}
	}
	#uploaded_list #none-in-metadata-form{
		color: @annotation-gray;
		text-align: center;
		position: relative;
		top: 150px;
	}
	#validating_text{
		margin-left:20px;
		display:none;
		color:#816793;
	}
	.uploaded{
		padding: 0px 10px;
		cursor:pointer;
		*{ vertical-align: middle; }
		input[type="checkbox"] {
			width: 15px;
			height: 15px;
			margin: 0px;
		}
		.uploaded_list_item{
			width: 85%;
			height: 100%;
			cursor:pointer;
			margin-bottom: -5px;
			i{ color:@gray-700; }
			h5 {
				font-size: 14px;
				padding-bottom:5px;
			}
			.remove_topic{
				margin-top:10px;
				font-size:14pt;
			}
		}
		&:hover{ background-color: #E6E6E6; }
		&.invalid{ background-color: @invalid-color; }
		&.current_item{
			background-color: @gray-200 !important;
			.remove_topic{ display:none; }
		}
		.invalid_title{ display: none; color: @gray-700; }
	}
	.edited_node h5{
		font-weight:bold;
		&:before{
			content:"*";
			margin-right:5px;
			color:@blue-500;
		}
	}
	.gray-out{
		cursor:not-allowed;
		background-color: @gray-200 !important;
	}
	.view_only_tags .delete_tag{display:none;}
	.tag{
		width:auto;
		max-width: @metadata-width / 3.2;
	}
	.delete_tag{
		cursor:pointer;
		margin-top:2px;
		margin-left:10px;
		font-size:12pt;
	}
	.required{
		margin-left:5px;
		color:@red-error-color;
		span{
			font-style:italic;
			font-size: 8pt;
		}
	}
	.upload_input, .tag_input{ width:100%; }
	textarea{
		resize:none;
		min-height:@larger-body-text * 6;
		height:auto;
	}
	.metadata_save_buttons, .metadata_copy_buttons{
		margin-top: 30px;
		margin-right:30px;
		padding-left: 30px;
		width:100%;
		position: absolute;
	    bottom: 10px;
	    left: 0;
		div{ margin-right:30px; }
		#upload_save_button, #add_more_button { .action-text; }
		#upload_save_finish_button { .action-button; }
	}
	#add_more_button {
		position: relative;
		z-index: 1;
	}
	.content-relation-area{
		background-color:white;
		min-height: 150px;
		height:30%;
		width:100%;
	}
}

.edit_metadata{
	margin-top:20px;
	p{
		margin:0;
		padding:2px;
	}
}
