@import "global-variables.less";

@uploader-width: 850px;
@metadata-width: 850px;
@uploader-background-color:#D8D8D8;
@uploader-height: 600px;
@uploader-header-color:#848484;
@uploader-option-size: (@uploader-width - 100px) /3;
@uploader-list-height: 200px;
@uploader-preview-bg-color: #585858;
@uploader-grayed-out-color: #BDBDBD;

.modal{
	padding-top:20px;
	z-index: 99999999999;
	position:absolute;
}

.file-row{
	width:100%;
	.inline{
		display:inline-block;
		vertical-align: middle;
		word-wrap:break-word;
		.name{
			margin-top:10px;
		}
	}
	.file_upload_progress{
		height:15px;
	}
}


.upload-modal-content{
	background-color: @uploader-background-color;
	height: @uploader-height;
	border: 1px solid gray;
	/*overflow:hidden;*/
}

.modal-body{
	width:auto;
}

.modal-header{
	.glyphicon{
		margin-right:15px;
	}
}

.modal-dialog{
	width: @uploader-width;
}

div#dropzone {
	min-height: 150px;
}

#uploader{
	width: @uploader-width;
	.create_option{
		width: @uploader-option-size;
		background-color:white;
		margin: 10px;
		cursor:pointer;
	}
	.headers{
		background-color: @uploader-header-color;
		margin: 0px;
		margin-right: 30px;
	}
	#upload_content_add_list{
		margin: 0px;
		margin-right: 30px;
		height: @uploader-list-height;
		background-color:white;
		overflow-y:auto;
		overflow-x:none;

		.glyphicon{
			padding-left: 5px;
		}
					
		.row{
			vertical-align:middle;

		}
		.content_type{
			padding:1px;
			background-color: #E6E6E6;
		}
		
		.content_name{
			width: 80%;
		}
		.folder_name{
			font-weight:normal;
		}
		.name{
			cursor:pointer;
		}
	}
	select{
		width:80%;
		margin:10px;
	}

	.edit_metadata{
		margin-right:30px
	}
}

#metadata{
	width: @metadata-width;
	.section{
		height:100%;
		width: @metadata-width / 2.5;
	}

	.metadata_panel{
		height:100%;
		padding:10px;
		max-height:@uploader-height * 0.7;
	}

	#metadata_preview{
		display:none;
		overflow-y:auto;
		max-height:@uploader-height * 0.6;
	}

	#metadata_edit_details{
		overflow-y:auto;
	}

	#hidden_node{
		display:none;
	}

	#preview_window{
		height: 100%;
		min-height:400px;
		width:100%;
		max-width: 500px;
		overflow-y:auto;
	}
	#uploaded_list{
		margin: 10px;
		height: @uploader-height - 150px;
		background-color:white;
		overflow-y:auto;
		overflow-x:none;
	}

	

	.uploaded{
		border-bottom: 1px solid gray;
		padding:10px;
		cursor:pointer;
		.uploaded_list_item{
			width:90%;
			height:100%;
			padding:5px;
		}
	}
	.uploaded:hover{
		background-color: #E6E6E6;
	}

	.gray-out{
		background-color:@uploader-grayed-out-color;
	}

	.tag{
		background-color: lightgray;
		border:1px solid gray;
		margin: 3px;
		width:auto;
		max-width: @metadata-width / 3.2;
		word-wrap:break-word;
		border-radius:5px;
	}

	#tag_area{
		height:100px;
		overflow-y:auto;
	}

	.required{
		margin-left:5px;
		color:red;
		span{
			font-style:italic;
			font-size: 8pt;
		}
	}

	.upload_input, .tag_input{
		width:100%;
	}

	textarea{
		resize:none;
		height:@uploader-list-height;
	}	
	.metadata_save_buttons{
		margin-right:30px;
	}

	.content-relation-area{
		background-color:white;
		min-height: 150px;
		height:30%;
		width:100%;

	}
}

.default_preview{
	background-color: @uploader-preview-bg-color;
	min-height:370px;
	.default_preview_text{
		margin-top:30%;
		color:white;
	}
}

.image_preview{
	margin-top:20px;
	width:100%;
	height:auto;
}

.pdf_preview{
	margin-top:20px;
	width:100%;
	height:100%;
	min-height:370px;
}

.audio_preview{
	width:100%;
	margin-top:20%;
}

.video_preview{
	margin-top:20px;
	width:100%;
	height:auto;
}

.exercise-content{
	padding:20px;
	.exercise_title_box{
		width:100%;
		font-size:15pt;
	}
	#exercise-list{
		height:400px;
		min-height:400px;
		overflow:auto;
	}
}