@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

blockquote {
	margin-left: 0px;
}

div.figure {
    padding: 4px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: auto 5px;
}

.wy-table-responsive table td {
/* !important prevents the common CSS stylesheets from overriding
   this as on RTD they are loaded after this stylesheet */
white-space: normal !important;
vertical-align: top !important;
}

.material-icons {
    display: inline-flex;
    vertical-align: middle !important;
    padding-bottom: 8px !important;
    padding-right: -5px !important;
}

.local_library {
	color: #2196f3;
}

.schedule {
	padding-bottom: 1px !important;
	background-color: #2196f3;
	border-radius: 50%;
	color: #fff;
}

.star {
	padding-bottom: 1px !important;
	background-color: #ffc107;
	border-radius: 50%;
	color: #fff;
}

img {
	height: 1.2em;
	vertical-align: text-bottom;
}