/* GLOBAL VARIABLES */
@icon-font-path: "bootstrap/fonts/";

@container-shadow: #BDBDBC;
@folder-color: white;
@folder-shadow: #8D8F90;
@highlighted-file: #B6B6B7;
@container-width: 360px;
@container-height: 80vh; 
@sidebar-width: 38px;
@container-min-height:500px;
@folder-height: 120px; 
@title-size: 22px;
@container-border-color: white;

@font {
	font-family: "Open Sans";
	src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}

@body-background: #292A2B;

/* GLOBAL STYLES */
.inline-block {
	display: inline-block;
}
body {
	background: @body-background;
}

a {
	text-decoration:none;
	cursor:pointer;
	color:black;
}