<div class="mq-overlay text-center">Loading...</div>
<div class="mq-wrapper text-center">
	<div id='{{selector}}'></div>
	<a class="btn" id="add_formula" tabindex="0"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a>
</div>