<div aria-label="Edit Tools" class="answer-toolbar-tools open_toolbar">
	<div class="material-icons option delete" title="{{formatMessage (intlGet 'messages.delete')}}">clear</div><br/>
	<div class="material-icons option item_move_up move_option" title="{{formatMessage (intlGet 'messages.move_up')}}">keyboard_arrow_up</div><br/>
	<div class="material-icons option item_move_down move_option" title="{{formatMessage (intlGet 'messages.move_down')}}">keyboard_arrow_down</div>
</div>
