<div class="hint-errors">Please fix the items below before closing</div>
<ul class="list-unstyled hint_list">
	<div class="default-item">Loading...</div>
</ul>
{{#unless isdisplay}}
<div class="addhint show_on_focus text-center" title="Add Hint">
	<span class="glyphicon glyphicon-plus"></span>&nbsp; HINT
</div>
{{/unless}}