<div aria-label="Edit Tools" class="hint-toolbar-tools open_toolbar">
	<div class="glyphicon glyphicon-trash delete option" title="Delete"></div><br/>
	<div class="glyphicon glyphicon-triangle-top item_move_up option" title="Move Up"></div><br/>
	<div class="glyphicon glyphicon-triangle-bottom item_move_down option" title="Move Down"></div>
</div>
