<div class="btn-group closed_toolbar" role="group" aria-label="Edit and Delete">
	<span class="glyphicon glyphicon-triangle-top item_move_up option move_option" title="{{formatMessage (intlGet 'messages.move_up')}}"></span>
	<span class="glyphicon glyphicon-triangle-bottom item_move_down option move_option" title="{{formatMessage (intlGet 'messages.move_down')}}"></span>
	<span class="glyphicon glyphicon-remove delete option" title="{{formatMessage (intlGet 'messages.delete')}}"></span>
</div>