<ul class="list-group">
<li class="header-item list-group-item show_on_focus">
	<div class="row">
		<div class="col-sm-9">
			Answer Text
		 </div>
		 <div class="col-sm-2 text-center">
		 	Correct?
		 </div>
		 <div class="col-sm-1">
		 </div>
	</div>
</li>
<li class="list-group-item addanswer show_on_focus">
	<a class="action-text" title="Add Answer"><span class="glyphicon glyphicon-plus"></span> ADD ANSWER</a>
</li>
</ul>