<div class="show_on_focus answer_header">
	{{#if input_answer}}ACCEPTED ANSWER(S){{else}}ANSWERS{{/if}}
</div>
<ul class="list-unstyled answer_list">
	<div class="default-item">Loading...</div>
</ul>
<div class="show_on_focus addanswer">
	<span class="glyphicon glyphicon-plus"></span>&nbsp; <span class="addanswertext">ANSWER</span>
</div>