<div class="assessment_item container-fluid">
	<div class="main_edit_area container">
		<div class="question_area">
			<div class="question editable wordwrap" data-ph="Question"></div>
		</div>
	</div>
</div>
