<div aria-label="Edit Tools" class="answer-toolbar-tools open_toolbar">
	<div class="glyphicon glyphicon-remove delete option" title="{{formatMessage (intlGet 'messages.delete')}}"></div><br/>
	<div class="glyphicon glyphicon-triangle-top item_move_up option" title="{{formatMessage (intlGet 'messages.move_up')}}"></div><br/>
	<div class="glyphicon glyphicon-triangle-bottom item_move_down option" title="{{formatMessage (intlGet 'messages.move_down')}}"></div>
</div>