<div class="show_on_focus answer_header">
	{{#if input_answer}}Accepted Answer(s){{else}}Answers{{/if}}
</div>
<ul class="list-unstyled answer_list">
	<li class="show_on_focus addanswer">
		<span class="glyphicon glyphicon-plus"></span> ANSWER
	</li>
</ul>