<li class="list-group-item answer_item">
	<div class="row">
		<div class="col-sm-9">
		  <div class="answer editable" data-ph="Answer">
		  </div>
		 </div>
		 <div class="col-sm-2 text-center">
		 	<input class="correct text-center" type="checkbox" aria-label="Correct">
		 </div>
	 	 <div class="col-sm-1">
	 	     <div class="show_on_focus answer-toolbar pull-right"></div>
	 	 </div>
    </div>
</li>