<div class="btn-group closed_toolbar" role="group" aria-label="Edit and Delete">
	<i class="material-icons option item_move_up move_option" title="{{formatMessage (intlGet 'messages.move_up')}}">keyboard_arrow_up</i>
	<i class="material-icons option item_move_down move_option" title="{{formatMessage (intlGet 'messages.move_down')}}">keyboard_arrow_down</i>
	<i class="material-icons option delete" title="{{formatMessage (intlGet 'messages.delete')}}">clear</i>
</div>