<ul class="list-unstyled">
	<li class="addhint_wrapper">
		{{#unless isdisplay}}
		<div class="addhint show_on_focus text-center" title="Add Hint">
			<span class="glyphicon glyphicon-plus"></span>&nbsp; HINT
		</div>
		{{/unless}}
	</li>
</ul>