<div class="btn-group closed_toolbar" role="group" aria-label="Edit and Delete">
	<span class="glyphicon glyphicon-triangle-top item_move_up option move_option" title="Move Up"></span>
	<span class="glyphicon glyphicon-triangle-bottom item_move_down option move_option" title="Move Down"></span>
	<span class="glyphicon glyphicon-trash delete option" title="Delete"></span>
</div>