<li class="answer_item {{#if allow_toggle}}toggle_answer{{/if}}">
	<div class="row">
		<div class="col-sm-1 text-center">
		 	{{#unless input_answer}}
		 		<input class="correct text-center" type={{#if single_selection}}"radio"{{else}}"checkbox"{{/if}} aria-label="Correct" {{#if answer.correct}}{{#if single_selection}}selected{{else}}checked{{/if}}{{/if}} name="{{#if isdisplay}}display_{{/if}}answer_{{groupName}}" {{#unless allow_toggle}}disabled{{/unless}}>
		 	{{/unless}}
		</div>
		<div class="col-sm-10">
			<div class="answer editable" data-ph="Answer"></div>
		</div>
		<div class="col-sm-1">
			<div class="show_on_focus answer-toolbar pull-right"></div>
		</div>
    </div>
</li>