<div class="assessment_item toggle_exercise">
	<div class="main_edit_area container" >
		<div class="question_area">
			<div class="row question_controls">
				<div class="col-sm-7">
					<div class="question_type">{{#format_question_type model.type}}{{/format_question_type}}</div>
					<select class="question_type_select" value="{{model.type}}">
						<option class="single_selection" value="single_selection">Single Selection</option>
						<option class="multiple_selection" value="multiple_selection">Multiple Selection</option>
						<option class="true_false" value="true_false">True/False</option>
						<option class="input_question" value="input_question">Input Answer</option>
					</select>
			    </div>
			    {{#if isdisplay}}<div class="col-sm-1"></div>{{/if}}
			    <div class="col-sm-4">
					<div class="open_hints hint_link">
						HINTS (<span class="hint_count">{{hint_count}}</span>)&nbsp;
						<span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
					</div>
			    </div>
			    {{#unless isdisplay}}
			    <div class="col-sm-1 move_question_handle">
			    	<span class="glyphicon glyphicon-resize-vertical" aria-hidden="true"></span>
			    </div>
			    {{/unless}}
			</div>
			<div class="row">
				<div class="col-sm-12"><ul class="error-list list-unstyled text-center"></ul></div>
			</div>
			<div class="row">
				<div class="col-sm-12">
				  	<div class="question editable wordwrap" data-ph="Question"></div>
			    </div>
			</div>
		</div>
		<div id="{{ model.id }}" class="list_area">
		  	<div class="answers"></div>
		</div>
	</div>
	<div class="remove_area">
		<div class="toolbar pull-right"></div>
	</div>
</div>
