<div class="assessment_item toggle_exercise">
	<div class="question_number_area text-center">
		<label>{{ model.order }}</label>
	</div>
	<div class="main_edit_area container" >
		<div class="row question_area ">
			<!-- <div class="col-sm-1">
				<span class="glyphicon glyphicon-triangle-top move_up move" title="Move up"></span>
				<br/>
				<span class="glyphicon glyphicon-triangle-bottom move_down move" title="Move down"></span>
			</div> -->
			<div class="col-sm-12">
			  	<div class="question editable wordwrap" data-ph="Question"></div>
		    </div>
		</div>
		<div id="{{ model.id }}">
		  	<div class="answers"></div>
		</div>
	</div>
	<div class="remove_area">
		<div class="toolbar pull-right"></div>
	</div>
</div>
