<div class="btn-group-vertical pull-right open_toolbar" role="group" aria-label="Edit Tools">
	 <button type="button" class="btn btn-default toggle" title="Ok">
	 	<span class="glyphicon glyphicon-ok option" ></span>
	 </button>
	 <button type="button" class="btn btn-default cancel" {{#unless undo}}disabled="disabled"{{/unless}} title="Cancel">
	 	<span class="glyphicon glyphicon-ban-circle option"></span>
	 </button>
	 <button type="button" class="btn btn-default move_up" title="Move Up">
	 	<span class="glyphicon glyphicon-triangle-top option"></span>
	</button>
	<button type="button" class="btn btn-default move_down" title="Move Down">
	 	<span class="glyphicon glyphicon-triangle-bottom option"></span>
	</button>
	 <button type="button" class="btn btn-default delete" title="Delete">
	 	<span class="glyphicon glyphicon-trash option"></span>
	 </button>
</div>