<div class="btn-group-vertical pull-right closed_toolbar" role="group" aria-label="Edit Tools">
	<button type="button" class="btn btn-default move_up" title="{{formatMessage (intlGet 'messages.move_up')}}">
	 	<span class="glyphicon glyphicon-triangle-top option"></span>
	</button>
	<button type="button" class="btn btn-default move_down" title="{{formatMessage (intlGet 'messages.move_down')}}">
	 	<span class="glyphicon glyphicon-triangle-bottom option"></span>
	</button>
	<button type="button" class="btn btn-default delete" title="{{formatMessage (intlGet 'messages.delete')}}">
	 	<span class="glyphicon glyphicon-trash option"></span>
	</button>
</div>