<div class="btn-group-vertical pull-right closed_toolbar" role="group" aria-label="Edit Tools">
	<button type="button" class="btn btn-default move_up" title="{{formatMessage (intlGet 'messages.move_up')}}">
		<i class="material-icons option">keyboard_arrow_up</i>
	</button>
	<button type="button" class="btn btn-default move_down" title="{{formatMessage (intlGet 'messages.move_down')}}">
	 	<i class="material-icons option">keyboard_arrow_down</i>
	</button>
	<button type="button" class="btn btn-default delete" title="{{formatMessage (intlGet 'messages.delete')}}">
	 	<i class="material-icons option">delete</i>
	</button>
</div>