<ul class="list-unstyled">
<li class="list-group-item row addhint_wrapper">
	<div class="col-sm-9">
		<b>Hints</b>
	 </div>
	 <div class="col-sm-3">
		<a class="action-text btn addhint show_on_focus" title="Add Hint"><span class="glyphicon glyphicon-plus"></span> HINT</a>
	 </div>
</li>
</ul>