<li class="list-group-item answer_item">
	<div class="row">
		<div class="col-sm-8">
		  <div class="answer editable" data-ph="Answer">
		  </div>
		 </div>
		 <div class="col-sm-2 text-center">
		 	{{#unless input_answer}}
		 		<input class="correct text-center" type={{#if single_selection}}"radio"{{else}}"checkbox"{{/if}} aria-label="Correct" {{#if answer.correct}}checked{{/if}} name="answer_{{answer.cid}}" disabled>
		 	{{/unless}}
		 </div>
	 	 <div class="col-sm-2">
	 	     <div class="show_on_focus answer-toolbar pull-right"></div>
	 	 </div>
    </div>
</li>