<div class="hint-errors">{{formatMessage (intlGet 'messages.hint_error_prompt')}}</div>
<ul class="list-unstyled hint_list">
	<div class="default-item">{{formatMessage (intlGet 'messages.loading')}}</div>
</ul>
{{#unless isdisplay}}
<button class="addhint show_on_focus text-center tab_item first_focus_item" title="Add">
	<span class="glyphicon glyphicon-plus"></span>&nbsp; {{formatMessage (intlGet 'messages.hint')}}
</button>
{{/unless}}