<div class="modal fade hint_modal" role="dialog" tabindex="-1">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4>Hints{{#unless isdisplay}} for Question:{{/unless}}</h4>
        </div>
        <div class="modal-body">
            {{#unless isdisplay}}
                <div class="question_preview"></div>
                <hr>
            {{/unless}}
            <ul class="error-list list-unstyled text-center"><li class="hint_prompt">Hints cannot be blank</li></ul>
        	<div class="hints {{#unless isdisplay}}edit_assessment_item{{/unless}}"></div>
            <div class="hint_footer container-fluid">
    			<button class="action-text pull-right" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>
</div>