<div class="btn-group" role="group" aria-label="Edit Tools">
<span class="glyphicon glyphicon-ok toggle option" title="Ok"></span>
<span class="glyphicon glyphicon-trash delete option" title="Delete"></span>
</div>
