<div class="btn-group pull-right " role="group" aria-label="Edit Tools">
	<button type="button" class="btn btn-default delete" title="Delete">
	 	<span class="glyphicon glyphicon-trash option"></span>
	 </button>
</div>