<li class="list-group-item hint_item">
	<div class="row">
		<div class="col-sm-10">
			<label>Hint</label>
		  <div class="hint editable" data-ph="Hint">
		  </div>
		 </div>
	 	 <div class="col-sm-2">
	 	     <div class="show_on_focus hint-toolbar pull-right"></div>
	 	 </div>
    </div>
</li>