<div class="row hint_item {{#if allow_toggle}}hint_toggle{{/if}}">
	<div class="row">
		<div class="col-sm-10 editor-col">
			<div class="hint editable" data-ph="Hint"></div>
		</div>
		<div class="col-sm-2 hint_options">
			{{#if allow_toggle}}<div class="hint-toolbar pull-right"></div>{{/if}}
		</div>
	</div>
</div>
