<div aria-label="Edit Tools" class="answer-toolbar-tools">
<div class="glyphicon glyphicon-trash delete option" title="Delete"></div>
<br/>
<div class="toggle option" title="Save"><a class="action-text glyphicon glyphicon-ok"></a></div>
</div>
