<div aria-label="Edit Tools" class="answer-toolbar-tools">
<div class="glyphicon glyphicon-remove delete option" title="Remove Answer"></div>
<br/>
<div class="toggle option" title="Save"><a class="action-text glyphicon glyphicon-ok"></a></div>
</div>
