<div class="btn-group" role="group" aria-label="Edit Tools">
<a class="cancel" {{#unless undo}}disabled="disabled"{{/unless}} title="Cancel"><span class="glyphicon glyphicon-ban-circle"></span></a>
<a class="undo" {{#unless undo}}disabled="disabled"{{/unless}} title="Undo"><span class="glyphicon glyphicon-arrow-left"></span></a>
<a class="redo" {{#unless redo}}disabled="disabled"{{/unless}} title="Redo"><span class="glyphicon glyphicon-arrow-right"></span></a>
</div>