<select>
	<option class="multiple_selection">Multiple Selection</option>
	<option class="single_selection">Single Selection</option>
	<option class="true_false">True/False</option>
	<option class="input_answer">Input Answer</option>
	<option class="free_response">Free Response</option>
</select>
<div class="editor-toolbar ql-toolbar ql-snow">
	<span class="ql-formats">
		<span title="Bold" class="ql-format-button ql-bold"></span>
		<span title="Italic" class="ql-format-button ql-italic"></span>
	</span>
	<span class="ql-format-separator"></span>
	<span class="ql-formats">
		<span title="Image" class="ql-format-button ql-image"></span>
	</span>
</div>
<div class='editor ql-container ql-snow'></div>
