{{#if source_url}}<a target='_blank' class="action-text" href='{{ source_url }}'>{{formatMessage (intlGet 'messages.preview')}}</a>
{{else}}<b class="assessment_item_error">{{formatMessage (intlGet 'messages.no_text')}}</b>{{/if}}