<div class="toolbar ql-toolbar ql-snow">
	<span class="ql-formats">
		<span title="Bold" class="ql-format-button ql-bold"></span>
		<span title="Italic" class="ql-format-button ql-italic"></span>
		<span class="ql-format-separator"></span>
		<span title="Image" class="ql-format-button ql-image"></span>
	</span>
</div>
<div class='editor ql-container ql-snow'></div>
