<div id="exercise_list_wrapper">
	<div>
		Mastery at:
		<input type="number" max={{total_questions}} min=0 value=0>
		/ {{total_questions}}
	</div>
	<ul class="list-unstyled" id="exercise_list">
		<li class="default-item">Loading...</li>
	</ul>
	<a class="btn action-text" id="add_exercise_button">
		<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
		QUESTION
	</a>
</div>