<div class="container-fluid" id="exercisecreation">
	<div class="toggle_question_order pull-right">
		<input id="randomize_question_order" class="randomize_exercise" type="checkbox" {{#if is_random}}checked{{/if}} {{#unless allow_edit}}disabled{{/unless}}>
		<label for="randomize_question_order" class="randomize_exercise"> {{formatMessage (intlGet 'messages.randomize_questions')}}</label>
	</div>
	<div class="show_question_toggle">
		<input type="checkbox" id="exercise_show_answers"/>
		<label for="exercise_show_answers"> {{formatMessage (intlGet 'messages.questions_only')}}</label>
	</div>
	<br/>
	<ol class="panel-group" id="exercise_list" role="tablist" aria-multiselectable="true">
		<div class="default-item container-fluid text-center">{{formatMessage (intlGet 'messages.loading')}}</div>
	</ol>
	{{#if allow_edit}}
	<div class="addquestion text-center container-fluid" id="addquestion">
		<span class="glyphicon glyphicon-plus"></span>&nbsp; {{formatMessage (intlGet 'messages.question')}}
	</div>
	{{/if}}
</div>
