<div class="container-fluid" id="exercisecreation">
	<div class="row">
		<div class="col-sm-7">
			{{#if show_metadata}}
			<input type="text" id="exercise_title" placeholder="Exercise Name" value="{{node.title}}">
			{{/if}}
		</div>
		<div class="col-sm-3">
			<label for="mastery_model_select">Mastery at:</label>
			<select id="mastery_model_select">
				<option value="do_all" selected>Do All</option>
				<option value="num_correct_in_a_row_3">3 in a Row</option>
				<option value="num_correct_in_a_row_5">5 in a Row</option>
				<option value="num_correct_in_a_row_10">10 in a Row</option>
				<option value="skill_check">Skill Check</option>
			</select>
		</div>
		<div class="col-sm-2">
			<input id="randomize_exercise" type="checkbox" checked>
			<label for="randomize_exercise">Randomize</label>
			<!-- <span class="action-text download glyphicon glyphicon-download-alt" title="Download"></span> -->
		</div>
	</div>
	{{#if show_metadata}}
		<div class="metadata_toggle">
			<b class="text">More Details</b>
			<span class="glyphicon glyphicon-menu-up toggler_icon" aria-hidden="true"></span>
		</div>
		<div id="exercise_extra_metadata" class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<h4>Description</h4>
					<textarea id="exercise_description" rows="2" placeholder="Description">{{ node.description }}</textarea>
				</div>
			</div>
		</div>
		<hr/>
		<h3><b>Questions</b></h3>
	{{/if}}
	<div class="show_question_toggle">
		<input type="checkbox" id="exercise_show_answers"/>
		<label for="exercise_show_answers">Show questions only</label>
	</div>
	<ol class="panel-group" id="exercise_list" role="tablist" aria-multiselectable="true">
		<div class="default-item">Loading...</div>
	</ol>
	<!-- <div class="dropup">
	  	<button type="button" class="btn btn-default add_question" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Question Types">
	  		<span class="glyphicon glyphicon-plus"></span>
			ADD QUESTION
		</button>
	    <span class="sr-only">Add Question</span>
	  </button>
	  <ul class="dropdown-menu add_question_dropdown">
	    <li class="multiple_selection"><a >Multiple Selection</a></li>
	    <li class="single_selection"><a >Single Selection</a></li>
	    <li class="true_false"><a >True/False</a></li>
	    <li class="input_answer"><a >Input Answer</a></li>
	    <li class="free_response"><a >Free Response</a></li>
	  </ul>
	</div> -->
	{{#if show_metadata}}
	<div id="exercise_buttons">
		<a class="action-text" data-dismiss="modal" aria-label="Close">CANCEL</a>
		<span class="pull-right">
			<button class="action-button" id="createexercise">SAVE</button>
		</span>
	</div>
	{{/if}}
</div>