<div id="exercise_list_wrapper">
	<div>
		Mastery at:
		<select id="mastery_models_select">
			<option value="do-all" selected>Do All</option>
			<option value="num_correct_in_a_row_3">3 in a Row</option>
			<option value="num_correct_in_a_row_5">5 in a Row</option>
			<option value="num_correct_in_a_row_10">10 in a Row</option>
			<option value="skill-check">Skill Check</option>
		</select>
	</div>
	<ul class="list-unstyled" id="exercise_list">
		<li class="default-item">Loading...</li>
	</ul>
	<a class="btn action-text" id="add_exercise_button">
		<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
		QUESTION
	</a>
</div>