<div class="table table-striped files format_item file-row row">
  <div class="inline col-xs-3 preview_section text-center">
    <object class="thumbnail_fallback" data="/static/img/loading_placeholder.png" type="image/png" width=130 height=130>
      <img class="thumbnail_img" data-dz-thumbnail alt="No Preview Available" src="{{thumbnail}}"/>
    </object>
      <div class="progress_file_area">
         <span class="glyphicon glyphicon-ban-circle upload_cancel pull-right upload_option" aria-hidden="true" data-dz-remove></span>
          <div class="progress file_upload_progress" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
            <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
          </div>
      </div>
  </div>

  <div class="inline col-xs-8 format_section">
      <div class="format_editor_file_name_wrapper">
        <p data-dz-name class="format_editor_file_name truncate name"></p>
        <em class="format_editor_selected_size">(<span data-dz-size></span>)</em>
      </div>
      <strong class="error text-danger" data-dz-errormessage></strong>&nbsp;<span class="glyphicon glyphicon-remove dropzone_remove" aria-hidden="true" data-dz-remove></span>
  </div>
</div>