name: Linting

on:
  push:
    branches:
    - unstable
    - hotfixes
    - master
  pull_request:
    branches:
    - unstable
    - hotfixes
    - master

jobs:
  pre_job:
    name: Path match check
    runs-on: ubuntu-latest
    # Map a step output to a job output
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@master
        with:
          github_token: ${{ github.token }}
          paths_ignore: '["**.po", "**.json"]'
  linting:
    name: All file linting
    needs: pre_job
    if: ${{ needs.pre_job.outputs.should_skip != 'true' }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        python-version: '3.10'
    - name: Use pnpm
      uses: pnpm/action-setup@v4
    - name: Use Node.js
      uses: actions/setup-node@v6
      with:
        node-version: '20.x'
        cache: 'pnpm'
    - name: Install dependencies
      run: |
        pnpm install --frozen-lockfile
        pnpm rebuild node-sass
    - uses: pre-commit/action@v3.0.1
    - name: Run pre-commit-ci-lite
      uses: pre-commit-ci/lite-action@v1.1.0
      if: always()
