<div class="sync_section_wrapper">
	<div class="col-sm-4 sync_section">
		<div id="changed_list_area" class="sync_container"><div class="empty_default">{{formatMessage (intlGet 'messages.check_changes')}}</div></div>
	</div>
	<div class="col-sm-8 sync_section">
		<div id="sync_preview_section" class="sync_container"></div>
	</div>
</div>
<br/>
<div id="sync_bottom_container">
	<button class="action-text" data-dismiss="modal">{{formatMessage (intlGet 'messages.cancel')}}</button>
	<button disabled class="action-button pull-right disabled" id="sync_content_button">{{formatMessage (intlGet 'messages.sync')}}</button>
	<span id="sync_status" class="pull-right truncate"></span>
</div>