<input type="checkbox" class="sync_checkbox"></input>
<div class="sync_item_wrapper" title="{{node.title}}">
	<i class="material-icons">{{{get_icon node.kind}}}</i>
	<div class="sync_item_title truncate" title="{{node.title}}">{{node.title}}</div>
</div>