<div id="sync_preview_diff">
	<div class="row item item_header">
		<div class="col-xs-2">Field</div>
		<div class="col-xs-10">Update</div>
	</div>
	{{#if changed.title}}
		<div class="row item">
			<div class="col-xs-2 item_field_title">Title</div>
			<div class="col-xs-10 item_field">
				<div class="original">{{node.title}}</div>
				<div class="updated">{{changed.title}}</div>
			</div>
		</div>
	{{/if}}
</div>