<div class="assessment_item_wrapper">
    {{#if exercises.current}}
    <ul class="list-unstyled original assessment_item_list">
        <li class="exercise_header">
            <i class="material-icons">remove</i>
            <i class="material-icons">remove</i>
            <i class="material-icons">remove</i>
        </li>
        <li id="assessment_item_current" class="exercise_body"></li>
    </ul>
    {{/if}}
    {{#if exercises.source}}
    <ul class="list-unstyled updated assessment_item_list">
        <li class="exercise_header">
            <i class="material-icons">add</i>
            <i class="material-icons">add</i>
            <i class="material-icons">add</i>
        </li>
        <li id="assessment_item_source" class="exercise_body"></li>
    </ul>
    {{/if}}
</div>
