<div class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-dialog-default">
    <div class="modal-content" id="sync_modal_content">
      <div class="modal-header row">
          <div class="col-sm-4 sync_header">{{formatMessage (intlGet 'messages.updated_content')}}<div class="sync_helper">{{formatMessage (intlGet 'messages.updated_content_text')}}</div></div>
          <div class="col-sm-7 sync_header">{{formatMessage (intlGet 'messages.preview')}}<div class="sync_helper">{{formatMessage (intlGet 'messages.preview_content_text')}}</div></div>
          <div class="col-sm-1"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>