<div class="sync_section_wrapper">
	<div class="col-sm-4 sync_section">
		<div id="changed_list_area" class="sync_container"><div class="empty_default">Checking for changes...</div></div>
	</div>
	<div class="col-sm-8 sync_section">
		<div id="sync_preview_section" class="sync_container">
			<div class="empty_default">Select node to preview changes</div>
		</div>
	</div>
</div>
<div class="sync_header sync_header_bottom">Content to update <em>(select content to sync)</em></div>
<div class="sync_container">SELECTED LIST GOES HERE</div>
<br/>
<div id="sync_bottom_container">
	<a class="action-text" data-dismiss="modal">
		<span>CANCEL</span>
	</a>
	<button disabled class="action-button pull-right disabled" id="sync_content_button">
		SYNC
	</button>
	<span id="move_status" class="pull-right truncate"></span>
</div>