<input type="checkbox" class="sync_checkbox"></input>
<label class="sync_item" title="{{node.title}}">
	{{#if isfolder}}<img src="/static/img/topic.png"/>
	{{else}}<div class="glyphicon glyphicon-{{#get_icon node.kind}}{{/get_icon}}"></div>{{/if}}
	<div class="sync_item_title truncate">{{node.title}}</div>
</label>