<div class="modal fade" tabindex="-1" id="temp_sync_modal">
  <div class="modal-dialog modal-dialog-default">
    <div class="modal-content">
      <div class="modal-header">
          <h4>
              <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              Syncing Content
              <div class="help_text">Select which fields to update...</div>
          </h4>
      </div>
      <div class="input-tab-control tab_item" data-next="#sync_content_button"></div>
      <div class="modal-body">
         <div class="row">
           <div class="col-xs-6"><input type="checkbox" id="check_details" class="category_check tab_item first_focus_item"><label for="check_details">Details <p>Title, description, etc.</p></label></div>
           <div class="col-xs-6"><input type="checkbox" id="check_files" class="category_check tab_item"><label for="check_files">Files <p>Replace files with source</p></label></div>
         </div>
         <div class="row">
           <div class="col-xs-6"><input type="checkbox" id="check_tags" class="category_check tab_item"><label for="check_tags">Tags <p>Replace tags with source</p></label></div>
           <div class="col-xs-6"><input type="checkbox" id="check_assessment_items" class="category_check tab_item"><label for="check_assessment_items">Assessment Items <p>Questions, answers, etc.</p></label></div>
         </div>
          <br/>
          <div id="sync_bottom_container">
            <button class="action-text tab_item" data-dismiss="modal">CANCEL</button>
            <button disabled class="action-button pull-right disabled tab_item" id="sync_content_button">SYNC</button>
            <span id="sync_status" class="pull-right truncate"></span>
          </div>
      </div>
      <div class="input-tab-control tab_item" data-next="#check_details"></div>
    </div>
  </div>
</div>