<div class="wrapper"> <!-- used for dragging/dropping -->
	{{#if add_controls}}
	<!--<input type="text" placeholder="Find in Queue... (under construction)" class="search_queue construction"/>
	<div class="sort_box">
		<label for="sort_queue">Sort by</label>
		<br/>
		<select id="sort_queue construction">
			<option>Recently Added</option>
			<option>Oldest First</option>
			<option>A-Z</option>
			<option>Z-A</option>
		</select>
	</div>
	<div class="sort_box">
		<label for="show_queue">Show only</label>
		</br>
		<select id="show_queue construction">
			<option>All Media Types</option>
			<option>Audio</option>
			<option>Exercises</option>
			<option>PDF</option>
			<option>Video</option>
		</select>
	</div>-->
	<div id="queue_content">
		{{#if is_clipboard}}
			<div class="row clipboard_options text-center">
				<div class="toolbar-button">
					<div class="add_items"><span class="glyphicon glyphicon-plus-sign"></span></div>
					<a class="add_items">Add</a>
				</div>
				<div class="toolbar-button">
					<div class="edit_items"><span class="glyphicon glyphicon-pencil"></span></div>
					<a class="edit_items">Edit</a>
				</div>
				<!--<a class="col-xs-3 move_selected_queue btn btn-option construction">Move<br/>Selected</a>-->
				<div class="toolbar-button">
					<div class="delete_items"><span class="glyphicon glyphicon-remove"></span></div>
					<a class="delete_items">Delete</a>
				</div>
			</div>
			<div id="clipboard_list" class="list_content">
		{{else}}
			<div class="row trash_options text-center">
				<div class="toolbar-button">
					<div class="move_trash"><span class="glyphicon glyphicon-share-alt"></span></div>
					<a class="move_trash">Restore</a>
				</div>
				<div class="toolbar-button">
					<div class="delete_items"><span class="glyphicon glyphicon-remove-circle"></span></div>
					<a class="delete_items">Clear</a>
				</div>
			</div>
			<div id = "trash_list" class="list_content">
		{{/if}}
			<input type="checkbox" class="select_all" id="select_all_check"/>
			<label for="select_all_check">Select All</label>
	{{/if}}
				
			<ul class="list-unstyled content-list" id="list_for_{{id}}">
				{{#unless content_list}}
					<li class="default-item"><h5>No items found.</h5></li>
				{{/unless}}
			</ul>
	{{#if add_controls}}

		</div>
		{{#if is_clipboard}}
				<a class="btn btn-default manage_clipboard text-center" href="clipboard">Manage Clipboard</a>
			{{/if}}
	{{/if}}
</div>